<div class="Content-Step-Body text-black">
  <div class="container">
    <h2 class="pb-3 font-weight-bold">EZ ONLINE MORTGAGE</h2>
    <p style="font-size: 24px">TELL US WHAT YOU WANT TO DO</p>
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-5">
        <div class="form-group mt-5">
          <div class="card">
            <div
              class="card-body cursor_pointer"
              [routerLink]="['/app/buy-a-home-loan-options-animated-step1']"
            >
              <div class="home-bg-img"></div>
              <h5 class="mt-3">BUY A HOME</h5>
              <!-- <p>BUY A HOME</p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-5">
        <div class="form-group mt-5">
          <div class="card refinance-card">
            <div
              class="card-body cursor_pointer"
              [routerLink]="['/app/refinance-loan-option-step1']"
            >
              <div class="dollar-bg-img"></div>
              <h5 class="mt-3">REFINANCE</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <h6 class="information">
        <i class="fa fa-lock"></i> Your information is secure | No hassles | No
        obligations
      </h6>
    </div>
  </div>
</div>
