<div class="Content-Step-Body text-black">
  <div class="container">
    <h1 class="font-weight-bold">What state is the property located in?</h1>
    <div class="row justify-content-center">
      <div class="col-lg-4" id="back">
        <p
          class="fa fa-angle-left cursor_pointer"
          (click)="proceedToPrevious()"
        >
          <span style="margin-left: 5px">Back</span>
        </p>
      </div>
      <div class="col-lg-4 px-0">
        <div class="px-0">
          <select class="form-control input-special mb-3 h_70 fs_22 btn_mwh">
            <option value="california">California</option>
          </select>
          <button
            type="button"
            class="btn btn-outline-blue btn-lg btn-block mb-3 h_70 fs_22 btn_mwh"
            (click)="proceedToNext('California')"
          >
            Next
          </button>
        </div>
      </div>
      <div class="col-lg-4 right-back-btn pt-5">
        <p class="fa fa-angle-left" (click)="proceedToPrevious()">
          <span style="margin-left: 10px">Back</span>
        </p>
      </div>
    </div>
    <div class="gage-chart-blue p6 mt-5 d-lg-flex d-none">
      <span>6%</span>
    </div>
  </div>
</div>
