<main>
  <section class="home-guides-sec py-5 text-center">
    <div class="container">
      <h3 class="font-weight-bold text-white">Refinance Guide</h3>
    </div>
  </section>
  <!-- <div class="count">1</div> -->
  <h1 class="font-weight-bold text-primary text-center py-4 border-bottom">
    When Should I Consider a Mortgage Refinance?
  </h1>
  <div class="container">
    <section class="page-order-sec py-2">
      <p class="m-0 text-muted">
        <a
          [routerLink]="['/app/home']"
          class="text-decoration-none text-primary"
          >Home </a
        ><i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/refinance-guide']"
          class="text-decoration-none text-muted"
        >
          Refinance
        </a>
        <i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/refinance-guide']"
          class="text-decoration-none text-muted"
        >
          Refinance Guide
        </a>
      </p>
    </section>

    <section class="py-2">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-bold text-primary py-4">
          Refinancing Step-by-Step
        </h5>
        <div class="text-center">
          <img height="40" src="assets/images/guides.svg" />
          <p class="small">View All Guides</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0">
          <div
            class="nav flex-column nav-pills border nav-guides rounded"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <a
              class="nav-link"
              [routerLink]="['/app/prepare-for-your-mortgage-refinance']"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
              >1. Prepare for Your Mortgage
              <span class="ml-3 d-block">Refinance</span></a
            >
            <a
              class="nav-link"
              [routerLink]="['/app/explore-your-refinance-options']"
              >2. Explore Your Refinance
              <span class="ml-3 d-block">Options</span>
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/apply-for-a-refinance-loan']"
              role="tab"
              aria-controls="v-pills-messages"
              aria-selected="false"
              >3. Apply for a Refinance Loan
              <span class="ml-3 d-block">Loan</span></a
            >
            <a
              class="nav-link"
              [routerLink]="['/app/the-appraisal-underwriting-process']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >4. The Appraisal and Underwriting
              <span class="ml-3 d-block">Process</span>
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/close-on-the-loan']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >5. Close on the Loan
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/manage-your-refinance']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >6. Manage Your Refinance
              <span class="ml-3 d-block">Offer</span>
            </a>
          </div>

          <div
            class="border border-primary px-3 py-4 rounded mt-4 d-none d-lg-block"
          >
            <h6 class="font-weight-bold text-primary py-2">
              Find answers quickly online
            </h6>
            <a
              href=""
              class="text-uppercase text-secondary d-block featanimbtn pt-2"
              >GET STARTED <i class="fas fa-long-arrow-alt-right ml-2"></i
            ></a>
          </div>
          <div class="bg-gray px-3 py-4 rounded mt-4 d-none d-lg-block">
            <h3 class="text-primary pb-2">Talk to a Home Loan Expert</h3>
            <button
              type="submit"
              class="btn btn-secondary text-uppercase text-white px-5"
            >
              Talk Now
            </button>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-home"
              role="tabpanel"
              aria-labelledby="v-pills-home-tab"
            >
              <h6 class="font-weight-bold text-primary pb-4">
                When Should I Consider a Mortgage Refinance?
              </h6>
              <p class="text-muted">
                Before deciding whether to refinance, think about what you want
                to accomplish. In general, people decide to refinance to take
                cash out, shorten their loan term, or lower their monthly
                payment. Sometimes you might want to remove a co-borrower from
                your loan, especially in the case of divorce. You need to be
                living in your home and have a good payment history for at least
                one year before refinancing is an option. Now, let’s explore
                each reason in more detail.
              </p>
              <h6 class="font-weight-bold text-primary pb-4">
                Get a Cash Out Refinance
              </h6>
              <p class="text-muted">
                A cash out refinance allows you to use the equity in your home
                any way you like. The most common ways people use the cash
                include the following:
              </p>

              <ul class="list-unstyled">
                <li>• Pay off higher interest credit cards</li>
                <li>• Use for higher education expenses</li>
                <li>• Pay for home improvements or renovations</li>
                <li>• Pay off car or student loan debt</li>
              </ul>

              <p class="text-muted">
                Using a mortgage loan to finance these expenses or payoffs is
                savvy because the interest rates on mortgages are usually much
                lower than that of other loans and credit cards. The interest on
                mortgage loans is also tax deductible. Cash out refinance
                mortgage rates are slightly higher than purchase and other
                refinance loans.
              </p>

              <p class="text-muted">
                The amount you can take out will depend on the current value of
                your home as determined by an appraiser. As an added bonus, any
                cash you receive from the refinance is tax free.
              </p>

              <!-- <a class="text-decoration text-primary text-underline" href="#">Find Out How Buying a Home Works</a> -->
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Shorten Your Mortgage Loan Term
              </h6>
              <p class="text-muted">
                Another great reason to refinance is to shorten your loan term.
                Some of the benefits include:
              </p>

              <ul class="list-unstyled">
                <li>• Lower interest rates</li>
                <li>• Build equity faster over a shortened loan term</li>
                <li>
                  • Save thousands in interest payments over the life of the
                  loan
                </li>
              </ul>

              <p class="text-muted">
                Here’s an example of those benefits in action. If you borrow
                $200,000 with a 30-year mortgage at an interest rate of 4.1
                percent, you will spend $118,323 in total interest over the life
                of the loan. By comparison, if you borrow $200,000 using a
                15-year mortgage with an interest rate of 3.4 percent, your
                total interest drops to $44,475 over the life of the loan.
              </p>

              <p class="text-muted">
                If you can support the higher monthly mortgage payment, then
                shortening the loan term adds up to huge savings and helps you
                become debt-free a lot sooner.
              </p>

              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Lower Your Monthly Mortgage Payment
              </h6>
              <p class="text-muted">
                The most common reason to refinance your mortgage is to take
                advantage of lower interest rates and decrease your monthly
                payment. Who couldn’t use an extra few hundred dollars a month?
                But there are some things to keep in mind before you decide to
                pull the trigger:
              </p>

              <ul class="list-unstyled">
                <li>
                  • Closing Costs —
                  <span class="text-muted"
                    >As when you purchased your home, you’ll have closing costs
                    associated with completing a refinance. Make sure you lower
                    your interest rate by at least 1 percent to offset these
                    costs. Ideally, you want to recoup closing costs within a
                    year.</span
                  >
                </li>
                <li>
                  • Selling Your Home —
                  <span class="text-muted"
                    >If you’re planning on selling your home and moving within
                    1-3 years, it may not make sense to refinance. You wouldn’t
                    see much savings after closing costs are recouped.</span
                  >
                </li>
                <li>
                  • Resetting Your Term —
                  <span class="text-muted">
                    Having a lower monthly payment is great, but you may be
                    starting over with a 30-year mortgage. Doing so is simply
                    spreading the currently principal owed over 30 years more.
                    If you are well into your mortgage, a better option is to
                    consider shortening your loan term. This increases your
                    interest payment savings.
                  </span>
                </li>
              </ul>

              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Remove a Co-Borrower from Your Mortgage
              </h6>
              <p class="text-muted">
                Sometimes life happens and a committed relationship ends in
                separation or divorce. That leaves you and your mortgage in a
                precarious situation if the other party was on the loan as a
                co-borrower. The only way to remove a co-borrower from the
                mortgage is to refinance the loan. Yet, in cases of separation
                or divorce, you may be required to refinance or even sell the
                home. You must be able to qualify for the loan using only your
                income and assets to make it through underwriting.
              </p>

              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Are You Eligible for a Mortgage Refinance?
              </h6>
              <p class="text-muted">
                Applying for a refinance is a similar process to when you first
                purchased your home. No, they don’t go any easier on you even if
                you have a perfect payment history — you must go through the
                entire process and underwriting again.
              </p>

              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Check Your Credit Score
              </h6>
              <p class="text-muted">
                Make sure your credit score is in good standing:
              </p>

              <ul class="list-unstyled">
                <li>• Make all payments on time, every time.</li>
                <li>
                  • Keep credit card balances below 30 percent of your credit
                  limit.
                </li>
                <li>
                  • Pay all taxes and ensure you have no outstanding bills in
                  collections.
                </li>
              </ul>
              <p class="text-muted">
                There are many websites that will help you determine your credit
                score for free before you call your mortgage consultant.
                However, a mortgage credit pull goes into more detail than a
                free online report and the scores often differ. Reach out to
                your lender for a free credit pull to see what changes you need
                to make to qualify for a refinance.
              </p>

              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Maintain Your Employment Status
              </h6>
              <p class="text-muted">
                Have you made any changes to your employment status since
                purchasing of your home? Switching from one full-time job to
                another is not a hindrance. Yet, if you’ve started your own
                company, you may not be eligible for a new mortgage until you
                have a two-year history of self-employment. Also, if you’ve
                changed from a salaried position to one that’s commission-based,
                you’ll need to show a two-year history of income as well. This
                allows the underwriter to average the two. Make your mortgage
                lender aware if your employment structure has changed since the
                last time you met.
              </p>

              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Know Your Debt-to-Income Ratio
              </h6>
              <p class="text-muted">
                Your debt-to-income ratio is the amount of monthly payment
                obligations showing on your credit report divided by your gross
                monthly income. It’s important to get your DTI as low as
                possible. Ideally, you want your DTI to reflect no more than 43
                percent, but lower is better.
              </p>
              <p class="text-muted">
                Your DTI will be reevaluated when you refinance. If you’ve made
                any large purchases, taken out student loans, or even co-signed
                a loan for a family member, these obligations will be added to
                the ratio.
              </p>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Get a Mortgage Refinance Appraisal
              </h6>
              <p class="text-muted">
                The appraisal is one of the most important pieces of a
                refinance. If for any reason your home’s value has declined, you
                may not have enough equity to refinance. When the housing market
                is doing well, this usually isn’t an issue. But there are times
                when we have seen declines in the housing markets, too. During
                times of decline it’s difficult to get the appraisal value
                homeowners need to qualify for a new mortgage loan.
              </p>
              <p class="text-muted">
                Your home’s condition also comes into question during an
                appraisal. If there are any glaring problems like a leaking roof
                or safety concerns spotted by an appraiser, fixing them could be
                a condition of the underwriter’s final approval. This could also
                make the refinance more expensive. Here are a few tips to get
                your home ready for its appraisal:
              </p>

              <ul class="list-unstyled">
                <li>
                  • Repair any major issues around your home.
                  <span class="text-muted">
                    Always repair a leaking roof, loose floorboards, dangling
                    gutters, or a hole in the wall. The underwriter might make
                    fixing these items a condition of closing on your loan.
                  </span>
                </li>
                <li>
                  • Do some decluttering.
                  <span class="text-muted">
                    No, the tidiness of your home shouldn’t affect its value.
                    Yet, a tidy home improves the appraiser’s overall impression
                    of your home.
                  </span>
                </li>
                <li>
                  • Spend time on your curb appeal.
                  <span class="text-muted">
                    Mow your lawn make sure your yard is free from debris. Check
                    the front doorway for peeling paint; scrape and repaint if
                    necessary. Add some planters with flowers and a fresh, new
                    doormat. First impressions speak volumes!
                  </span>
                </li>
                <li>
                  • Do a deep clean.
                  <span class="text-muted">
                    Wipe down walls and cabinets. Don’t forget to vacuum carpets
                    and mop your floors. Dusting also helps, as does cleaning
                    the kitchen and bathrooms to a sparkling shine. If you have
                    any pets, neutralize any pet odors in the home.
                  </span>
                </li>
              </ul>
              <p class="text-muted">
                This step-by-step refinance guide will familiarize you with the
                process. Each time you buy a new house or refinance your current
                mortgage the same protocol must be followed. Income, assets, job
                history, tax returns, and credit scores are scrutinized by an
                underwriter. This ensures you continue to meet the mortgage
                guidelines and lending regulations. This is a new loan and the
                lender must do their due diligence to comply with all federal
                lending laws and guidelines.
              </p>
            </div>

            <!-- <div
              class="tab-pane fade"
              id="v-pills-profile"
              role="tabpanel"
              aria-labelledby="v-pills-profile-tab"
            >
              <h3 class="font-weight-bold text-primary pb-4">
                I’m Wondering How It 
              </h3>
              <p class="text-muted">
                Whether a new home is a few years off or you’re shopping now, we
                can help you understand your options and get the right mortgage
                for your situation.
              </p>
              <h6 class="font-weight-bold text-primary pb-2">
                I’m Wondering How It Works
              </h6>
              <p class="text-muted">
                Our Home Buyer’s Guide takes the mystery out of getting your
                first home loan. We break down the process so it’s less
                overwhelming and easier to understand.
              </p>
              <a class="text-decoration text-primary text-underline" href="#"
                >Find Out How Buying a Home Works</a
              >
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                I’m Putting Together a Budget
              </h6>
              <p class="text-muted">
                Our calculators help you estimate what you can afford, how much
                of a down payment you’ll need, what your monthly payment could
                be, and how much interest you’ll pay over the life of a loan.
              </p>

              <ul class="list-unstyled arrow-list pl-3">
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate How Much I Can Afford</a
                  >
                </li>
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate My Mortgage Payments</a
                  >
                </li>
              </ul>
              <h6 class="font-weight-bold text-primary py-4">
                I’m Actively Shopping for a New Home
              </h6>
              <p class="text-muted">
                If a move is in your near future, these are the two most
                important things you should do first. They’ll put you in the
                hands of experts who help people like you become a homeowner for
                the first time every day.
              </p>
              <p class="text-muted">
                First, get approved for a loan. Doing this before looking at
                houses helps you a lot. Here are some of the benefits:
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  You’ll get an approval letter that shows real estate agents
                  and sellers you’re able to afford a house.
                </li>
                <li class="text-muted">
                  You’ll find out how much house you can afford.
                </li>
                <li class="text-muted">
                  It makes the rest of the mortgage process smoother and easier.
                </li>
              </ul>
              <a class="text-primary text-underline d-block" href="#"
                >Apply now with Rocket Mortgage.</a
              >
              <a class="text-primary text-underline" href="#"
                >Learn what happens when you apply.</a
              >
              <p class="text-muted mt-3">
                <strong> Next, find a real estate agent.</strong> After you
                apply and get approved, choose a real estate agent. They’re
                another great source of experience and knowledge when it comes
                to how to buy a home. You can expect your agent to do these
                things:
              </p>
              <ul class="list-unstyled arrow-list pl-3 mb-0">
                <li class="text-muted">
                  Help you find the right house in the right place at the right
                  price.
                </li>
                <li class="text-muted">Manage paperwork.</li>
                <li class="text-muted">Negotiate with sellers.</li>
                <li class="text-muted">Negotiate with sellers.</li>
              </ul>
              <p class="text-muted">
                With an approval letter and listings from your agent, you’ll be
                ready to start hitting those open houses.
              </p>
              <div class="border-bottom py-4"></div>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Popular Loans Options for First-Time Home Buyers
              </h6>
              <p class="text-muted">
                Here are some common situations that often apply to people
                getting their first home loan, and possible options. You may
                qualify for more than one; we’ll help you find what’s best for
                you.
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  Want payment and interest rate stability? With a 30-Year
                  Fixed, your interest rate and monthly payments (before taxes
                  and insurance) won’t change, and you can buy a home with as
                  little as 3% down.
                </li>
                <li class="text-muted">
                  Don’t have a lot of credit history, or worried it’s not good
                  enough? FHA loans have more lenient credit and income
                  requirements, and your down payment can be as low as 3.5%.
                </li>
                <li class="text-muted">
                  Think you’ll only be in a starter home for a few years? An
                  adjustable rate mortgage gives you a low fixed interest rate –
                  which means lower monthly payments – for the first few years
                  of your mortgage.
                </li>
                <li class="text-muted">
                  Are you a veteran or currently serving? You may qualify for a
                  VA Loan and be able to buy a home with zero down.
                </li>
              </ul>
            </div> -->
            <!-- <div
              class="tab-pane fade"
              id="v-pills-messages"
              role="tabpanel"
              aria-labelledby="v-pills-messages-tab"
            >
              <h3 class="font-weight-bold text-primary pb-4">
                I’m Wondering How It
              </h3>
              <p class="text-muted">
                Whether a new home is a few years off or you’re shopping now, we
                can help you understand your options and get the right mortgage
                for your situation.
              </p>
              <h6 class="font-weight-bold text-primary pb-2">
                I’m Wondering How It Works
              </h6>
              <p class="text-muted">
                Our Home Buyer’s Guide takes the mystery out of getting your
                first home loan. We break down the process so it’s less
                overwhelming and easier to understand.
              </p>
              <a class="text-decoration text-primary text-underline" href="#"
                >Find Out How Buying a Home Works</a
              >
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                I’m Putting Together a Budget
              </h6>
              <p class="text-muted">
                Our calculators help you estimate what you can afford, how much
                of a down payment you’ll need, what your monthly payment could
                be, and how much interest you’ll pay over the life of a loan.
              </p>

              <ul class="list-unstyled arrow-list pl-3">
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate How Much I Can Afford</a
                  >
                </li>
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate My Mortgage Payments</a
                  >
                </li>
              </ul>
              <h6 class="font-weight-bold text-primary py-4">
                I’m Actively Shopping for a New Home
              </h6>
              <p class="text-muted">
                If a move is in your near future, these are the two most
                important things you should do first. They’ll put you in the
                hands of experts who help people like you become a homeowner for
                the first time every day.
              </p>
              <p class="text-muted">
                First, get approved for a loan. Doing this before looking at
                houses helps you a lot. Here are some of the benefits:
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  You’ll get an approval letter that shows real estate agents
                  and sellers you’re able to afford a house.
                </li>
                <li class="text-muted">
                  You’ll find out how much house you can afford.
                </li>
                <li class="text-muted">
                  It makes the rest of the mortgage process smoother and easier.
                </li>
              </ul>
              <a class="text-primary text-underline d-block" href="#"
                >Apply now with Rocket Mortgage.</a
              >
              <a class="text-primary text-underline" href="#"
                >Learn what happens when you apply.</a
              >
              <p class="text-muted mt-3">
                <strong> Next, find a real estate agent.</strong> After you
                apply and get approved, choose a real estate agent. They’re
                another great source of experience and knowledge when it comes
                to how to buy a home. You can expect your agent to do these
                things:
              </p>
              <ul class="list-unstyled arrow-list pl-3 mb-0">
                <li class="text-muted">
                  Help you find the right house in the right place at the right
                  price.
                </li>
                <li class="text-muted">Manage paperwork.</li>
                <li class="text-muted">Negotiate with sellers.</li>
                <li class="text-muted">Negotiate with sellers.</li>
              </ul>
              <p class="text-muted">
                With an approval letter and listings from your agent, you’ll be
                ready to start hitting those open houses.
              </p>
              <div class="border-bottom py-4"></div>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Popular Loans Options for First-Time Home Buyers
              </h6>
              <p class="text-muted">
                Here are some common situations that often apply to people
                getting their first home loan, and possible options. You may
                qualify for more than one; we’ll help you find what’s best for
                you.
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  Want payment and interest rate stability? With a 30-Year
                  Fixed, your interest rate and monthly payments (before taxes
                  and insurance) won’t change, and you can buy a home with as
                  little as 3% down.
                </li>
                <li class="text-muted">
                  Don’t have a lot of credit history, or worried it’s not good
                  enough? FHA loans have more lenient credit and income
                  requirements, and your down payment can be as low as 3.5%.
                </li>
                <li class="text-muted">
                  Think you’ll only be in a starter home for a few years? An
                  adjustable rate mortgage gives you a low fixed interest rate –
                  which means lower monthly payments – for the first few years
                  of your mortgage.
                </li>
                <li class="text-muted">
                  Are you a veteran or currently serving? You may qualify for a
                  VA Loan and be able to buy a home with zero down.
                </li>
              </ul>
            </div> -->
            <!-- <div
              class="tab-pane fade"
              id="v-pills-settings"
              role="tabpanel"
              aria-labelledby="v-pills-settings-tab"
            >
              <h3 class="font-weight-bold text-primary pb-4">
                I’m Wondering How It
              </h3>
              <p class="text-muted">
                Whether a new home is a few years off or you’re shopping now, we
                can help you understand your options and get the right mortgage
                for your situation.
              </p>
              <h6 class="font-weight-bold text-primary pb-2">
                I’m Wondering How It Works
              </h6>
              <p class="text-muted">
                Our Home Buyer’s Guide takes the mystery out of getting your
                first home loan. We break down the process so it’s less
                overwhelming and easier to understand.
              </p>
              <a class="text-decoration text-primary text-underline" href="#"
                >Find Out How Buying a Home Works</a
              >
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                I’m Putting Together a Budget
              </h6>
              <p class="text-muted">
                Our calculators help you estimate what you can afford, how much
                of a down payment you’ll need, what your monthly payment could
                be, and how much interest you’ll pay over the life of a loan.
              </p>

              <ul class="list-unstyled arrow-list pl-3">
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate How Much I Can Afford</a
                  >
                </li>
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate My Mortgage Payments</a
                  >
                </li>
              </ul>
              <h6 class="font-weight-bold text-primary py-4">
                I’m Actively Shopping for a New Home
              </h6>
              <p class="text-muted">
                If a move is in your near future, these are the two most
                important things you should do first. They’ll put you in the
                hands of experts who help people like you become a homeowner for
                the first time every day.
              </p>
              <p class="text-muted">
                First, get approved for a loan. Doing this before looking at
                houses helps you a lot. Here are some of the benefits:
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  You’ll get an approval letter that shows real estate agents
                  and sellers you’re able to afford a house.
                </li>
                <li class="text-muted">
                  You’ll find out how much house you can afford.
                </li>
                <li class="text-muted">
                  It makes the rest of the mortgage process smoother and easier.
                </li>
              </ul>
              <a class="text-primary text-underline d-block" href="#"
                >Apply now with Rocket Mortgage.</a
              >
              <a class="text-primary text-underline" href="#"
                >Learn what happens when you apply.</a
              >
              <p class="text-muted mt-3">
                <strong> Next, find a real estate agent.</strong> After you
                apply and get approved, choose a real estate agent. They’re
                another great source of experience and knowledge when it comes
                to how to buy a home. You can expect your agent to do these
                things:
              </p>
              <ul class="list-unstyled arrow-list pl-3 mb-0">
                <li class="text-muted">
                  Help you find the right house in the right place at the right
                  price.
                </li>
                <li class="text-muted">Manage paperwork.</li>
                <li class="text-muted">Negotiate with sellers.</li>
                <li class="text-muted">Negotiate with sellers.</li>
              </ul>
              <p class="text-muted">
                With an approval letter and listings from your agent, you’ll be
                ready to start hitting those open houses.
              </p>
              <div class="border-bottom py-4"></div>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Popular Loans Options for First-Time Home Buyers
              </h6>
              <p class="text-muted">
                Here are some common situations that often apply to people
                getting their first home loan, and possible options. You may
                qualify for more than one; we’ll help you find what’s best for
                you.
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  Want payment and interest rate stability? With a 30-Year
                  Fixed, your interest rate and monthly payments (before taxes
                  and insurance) won’t change, and you can buy a home with as
                  little as 3% down.
                </li>
                <li class="text-muted">
                  Don’t have a lot of credit history, or worried it’s not good
                  enough? FHA loans have more lenient credit and income
                  requirements, and your down payment can be as low as 3.5%.
                </li>
                <li class="text-muted">
                  Think you’ll only be in a starter home for a few years? An
                  adjustable rate mortgage gives you a low fixed interest rate –
                  which means lower monthly payments – for the first few years
                  of your mortgage.
                </li>
                <li class="text-muted">
                  Are you a veteran or currently serving? You may qualify for a
                  VA Loan and be able to buy a home with zero down.
                </li>
              </ul>
            </div> -->
            <!-- <div
              class="tab-pane fade"
              id="v-pills-5"
              role="tabpanel"
              aria-labelledby="v-pills-5-tab"
            >
              <h3 class="font-weight-bold text-primary pb-4">
                I’m Wondering How It
              </h3>
              <p class="text-muted">
                Whether a new home is a few years off or you’re shopping now, we
                can help you understand your options and get the right mortgage
                for your situation.
              </p>
              <h6 class="font-weight-bold text-primary pb-2">
                I’m Wondering How It Works
              </h6>
              <p class="text-muted">
                Our Home Buyer’s Guide takes the mystery out of getting your
                first home loan. We break down the process so it’s less
                overwhelming and easier to understand.
              </p>
              <a class="text-decoration text-primary text-underline" href="#"
                >Find Out How Buying a Home Works</a
              >
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                I’m Putting Together a Budget
              </h6>
              <p class="text-muted">
                Our calculators help you estimate what you can afford, how much
                of a down payment you’ll need, what your monthly payment could
                be, and how much interest you’ll pay over the life of a loan.
              </p>

              <ul class="list-unstyled arrow-list pl-3">
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate How Much I Can Afford</a
                  >
                </li>
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate My Mortgage Payments</a
                  >
                </li>
              </ul>
              <h6 class="font-weight-bold text-primary py-4">
                I’m Actively Shopping for a New Home
              </h6>
              <p class="text-muted">
                If a move is in your near future, these are the two most
                important things you should do first. They’ll put you in the
                hands of experts who help people like you become a homeowner for
                the first time every day.
              </p>
              <p class="text-muted">
                First, get approved for a loan. Doing this before looking at
                houses helps you a lot. Here are some of the benefits:
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  You’ll get an approval letter that shows real estate agents
                  and sellers you’re able to afford a house.
                </li>
                <li class="text-muted">
                  You’ll find out how much house you can afford.
                </li>
                <li class="text-muted">
                  It makes the rest of the mortgage process smoother and easier.
                </li>
              </ul>
              <a class="text-primary text-underline d-block" href="#"
                >Apply now with Rocket Mortgage.</a
              >
              <a class="text-primary text-underline" href="#"
                >Learn what happens when you apply.</a
              >
              <p class="text-muted mt-3">
                <strong> Next, find a real estate agent.</strong> After you
                apply and get approved, choose a real estate agent. They’re
                another great source of experience and knowledge when it comes
                to how to buy a home. You can expect your agent to do these
                things:
              </p>
              <ul class="list-unstyled arrow-list pl-3 mb-0">
                <li class="text-muted">
                  Help you find the right house in the right place at the right
                  price.
                </li>
                <li class="text-muted">Manage paperwork.</li>
                <li class="text-muted">Negotiate with sellers.</li>
                <li class="text-muted">Negotiate with sellers.</li>
              </ul>
              <p class="text-muted">
                With an approval letter and listings from your agent, you’ll be
                ready to start hitting those open houses.
              </p>
              <div class="border-bottom py-4"></div>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Popular Loans Options for First-Time Home Buyers
              </h6>
              <p class="text-muted">
                Here are some common situations that often apply to people
                getting their first home loan, and possible options. You may
                qualify for more than one; we’ll help you find what’s best for
                you.
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  Want payment and interest rate stability? With a 30-Year
                  Fixed, your interest rate and monthly payments (before taxes
                  and insurance) won’t change, and you can buy a home with as
                  little as 3% down.
                </li>
                <li class="text-muted">
                  Don’t have a lot of credit history, or worried it’s not good
                  enough? FHA loans have more lenient credit and income
                  requirements, and your down payment can be as low as 3.5%.
                </li>
                <li class="text-muted">
                  Think you’ll only be in a starter home for a few years? An
                  adjustable rate mortgage gives you a low fixed interest rate –
                  which means lower monthly payments – for the first few years
                  of your mortgage.
                </li>
                <li class="text-muted">
                  Are you a veteran or currently serving? You may qualify for a
                  VA Loan and be able to buy a home with zero down.
                </li>
              </ul>
            </div> -->
            <!-- <div
              class="tab-pane fade"
              id="v-pills-6"
              role="tabpanel"
              aria-labelledby="v-pills-6-tab"
            >
              <h3 class="font-weight-bold text-primary pb-4">
                I’m Wondering How It
              </h3>
              <p class="text-muted">
                Whether a new home is a few years off or you’re shopping now, we
                can help you understand your options and get the right mortgage
                for your situation.
              </p>
              <h6 class="font-weight-bold text-primary pb-2">
                I’m Wondering How It Works
              </h6>
              <p class="text-muted">
                Our Home Buyer’s Guide takes the mystery out of getting your
                first home loan. We break down the process so it’s less
                overwhelming and easier to understand.
              </p>
              <a class="text-decoration text-primary text-underline" href="#"
                >Find Out How Buying a Home Works</a
              >
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                I’m Putting Together a Budget
              </h6>
              <p class="text-muted">
                Our calculators help you estimate what you can afford, how much
                of a down payment you’ll need, what your monthly payment could
                be, and how much interest you’ll pay over the life of a loan.
              </p>

              <ul class="list-unstyled arrow-list pl-3">
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate How Much I Can Afford</a
                  >
                </li>
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate My Mortgage Payments</a
                  >
                </li>
              </ul>
              <h6 class="font-weight-bold text-primary py-4">
                I’m Actively Shopping for a New Home
              </h6>
              <p class="text-muted">
                If a move is in your near future, these are the two most
                important things you should do first. They’ll put you in the
                hands of experts who help people like you become a homeowner for
                the first time every day.
              </p>
              <p class="text-muted">
                First, get approved for a loan. Doing this before looking at
                houses helps you a lot. Here are some of the benefits:
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  You’ll get an approval letter that shows real estate agents
                  and sellers you’re able to afford a house.
                </li>
                <li class="text-muted">
                  You’ll find out how much house you can afford.
                </li>
                <li class="text-muted">
                  It makes the rest of the mortgage process smoother and easier.
                </li>
              </ul>
              <a class="text-primary text-underline d-block" href="#"
                >Apply now with Rocket Mortgage.</a
              >
              <a class="text-primary text-underline" href="#"
                >Learn what happens when you apply.</a
              >
              <p class="text-muted mt-3">
                <strong> Next, find a real estate agent.</strong> After you
                apply and get approved, choose a real estate agent. They’re
                another great source of experience and knowledge when it comes
                to how to buy a home. You can expect your agent to do these
                things:
              </p>
              <ul class="list-unstyled arrow-list pl-3 mb-0">
                <li class="text-muted">
                  Help you find the right house in the right place at the right
                  price.
                </li>
                <li class="text-muted">Manage paperwork.</li>
                <li class="text-muted">Negotiate with sellers.</li>
                <li class="text-muted">Negotiate with sellers.</li>
              </ul>
              <p class="text-muted">
                With an approval letter and listings from your agent, you’ll be
                ready to start hitting those open houses.
              </p>
              <div class="border-bottom py-4"></div>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Popular Loans Options for First-Time Home Buyers
              </h6>
              <p class="text-muted">
                Here are some common situations that often apply to people
                getting their first home loan, and possible options. You may
                qualify for more than one; we’ll help you find what’s best for
                you.
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  Want payment and interest rate stability? With a 30-Year
                  Fixed, your interest rate and monthly payments (before taxes
                  and insurance) won’t change, and you can buy a home with as
                  little as 3% down.
                </li>
                <li class="text-muted">
                  Don’t have a lot of credit history, or worried it’s not good
                  enough? FHA loans have more lenient credit and income
                  requirements, and your down payment can be as low as 3.5%.
                </li>
                <li class="text-muted">
                  Think you’ll only be in a starter home for a few years? An
                  adjustable rate mortgage gives you a low fixed interest rate –
                  which means lower monthly payments – for the first few years
                  of your mortgage.
                </li>
                <li class="text-muted">
                  Are you a veteran or currently serving? You may qualify for a
                  VA Loan and be able to buy a home with zero down.
                </li>
              </ul>
            </div> -->
          </div>

          <div class="border-bottom py-4 mb-4"></div>
          <div class="flex-lg-row Mortgage-talk rounded flex-column">
            <div class="mr-4">
              <div class="small-box mb-3">
                <img src="assets/images/support.png" />
              </div>
            </div>
            <div>
              <h3 class="text-primary font-weight-normal mb-3">
                Mortgage Rate Updates & Featured<br />
                Mortgage Or
                <span class="text-secondary">Request A Call Back Today</span>
              </h3>
              <button
                type="submit"
                class="btn btn-secondary text-uppercase text-white px-5"
              >
                Talk Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
