.slide-value-percent {
  margin-top: -31px;
  float: right;
  margin-right: 12px;
}
.slider-value-form-group {
  margin-top: 12px;
  margin-bottom: 0px;
}
.slide-value-usd {
  margin-top: -33px;
  float: left;
  margin-left: 12px;
}
#slidervalue {
  padding-left: 21px;
}
.homeprice-input {
  padding-left: 20px;
}
.arrow-list a {
  position: relative !important;
}
.btn.btn-value {
  margin-right: 3px;
}
.cursor-pointer:hover {
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
