<!-- <section class="content">
  <div class="container">
    <div class="card my-5">
      <div class="card-body">
        <h3>
          Whatever your goal, we'll help you <br />
          achieve it quickly and easily!
        </h3>
        <p>How can we help?</p>
        <button
          type="button"
          class="btn btn-outline-primary btn-md btn-block mb-3 purchasebtn"
            (click)="submitForm()"
        >
          I am purchasing
        </button>
        <button
          type="button"
          class="btn btn-outline-primary btn-md btn-block mb-3 refinancebtn"
          (click)="submitForm()"
        >
          I am Refinancing
        </button>
        <p style="font-size: 13px">
          Already have an account |
          <a [routerLink]="['/app/login']">Login In</a>
        </p>
        <p>
          <b>You have Questions?</b> <span style="color: #f47747"> | </span>
          <b>We'll have answers.</b>
        </p>
      </div>
    </div>
  </div>
</section> -->

<div class="main-content">
  <h2>Whatever your goal, we’ll help you achieve it quickly and easily!</h2>
  <h4>How can we help?</h4>
  <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
    <button type="button" class="btn btn-primary btn-style">
      I’m Purchasing
    </button>
    <button type="button" class="btn btn-primary btn-style">
      I’m Refinancing
    </button>
  </div>
  <div class="content-footer">
    <p>
      Already have an account | <a [routerLink]="['/app/login']">Login in</a>
    </p>
    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
