<main>
  <section class="home-guides-sec py-5 text-center">
    <div class="container">
      <h3 class="font-weight-bold text-white">Refinance Guide</h3>
    </div>
  </section>
  <h1 class="font-weight-bold text-primary text-center py-4 border-bottom">
    Manage Your Refinance
  </h1>
  <div class="container">
    <section class="page-order-sec py-2">
      <p class="m-0 text-muted">
        <a
          [routerLink]="['/app/home']"
          class="text-decoration-none text-primary"
          >Home </a
        ><i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/refinance-guide']"
          class="text-decoration-none text-muted"
        >
          Refinance
        </a>
        <i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/refinance-guide']"
          class="text-decoration-none text-muted"
        >
          Refinance Guide
        </a>
      </p>
    </section>

    <section class="py-2">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-bold text-primary py-4">
          Refinancing Step-by-Step
        </h5>
        <div class="text-center">
          <img height="40" src="assets/images/guides.svg" />
          <p class="small">View All Guides</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0">
          <div
            class="nav flex-column nav-pills border nav-guides rounded"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <a
              class="nav-link"
              [routerLink]="['/app/prepare-for-your-mortgage-refinance']"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
              >1. Prepare for Your Mortgage
              <span class="ml-3 d-block">Refinance</span></a
            >
            <a
              class="nav-link"
              [routerLink]="['/app/explore-your-refinance-options']"
              >2. Explore Your Refinance
              <span class="ml-3 d-block">Options</span>
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/apply-for-a-refinance-loan']"
              role="tab"
              aria-controls="v-pills-messages"
              aria-selected="false"
              >3. Apply for a Refinance Loan
              <span class="ml-3 d-block">Loan</span></a
            >
            <a
              class="nav-link"
              [routerLink]="['/app/the-appraisal-underwriting-process']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >4. The Appraisal and Underwriting
              <span class="ml-3 d-block">Process</span>
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/close-on-the-loan']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >5. Close on the Loan
            </a>
            <a
              class="nav-link active"
              [routerLink]="['/app/manage-your-refinance']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >6. Manage Your Refinance
              <span class="ml-3 d-block">Offer</span>
            </a>
          </div>

          <div
            class="border border-primary px-3 py-4 rounded mt-4 d-none d-lg-block"
          >
            <h6 class="font-weight-bold text-primary py-2">
              Find answers quickly online
            </h6>
            <a
              href=""
              class="text-uppercase text-secondary d-block featanimbtn pt-2"
              >GET STARTED <i class="fas fa-long-arrow-alt-right ml-2"></i
            ></a>
          </div>
          <div class="bg-gray px-3 py-4 rounded mt-4 d-none d-lg-block">
            <h3 class="text-primary pb-2">Talk to a Home Loan Expert</h3>
            <button
              type="submit"
              class="btn btn-secondary text-uppercase text-white px-5"
            >
              Talk Now
            </button>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-home"
              role="tabpanel"
              aria-labelledby="v-pills-home-tab"
            >
              <h6 class="font-weight-bold text-primary pb-4">
                Manage Your New Mortgage Loan Payment
              </h6>
              <p class="text-muted">
                You’ve made it through the entire refinance process. It’s time
                to reap the rewards. Whether you wanted a lower monthly payment
                or a short loan term, here’s what happens in the days and months
                following your closing day.
              </p>

              <p>
                <b>Cash Out Refinance -</b> If you’re using a cash out refinance
                to consolidate debt or invest in your education, you can expect
                to receive the funds 3-5 days after closing. The lender must
                allow at least three days to ensure you don’t want to cancel the
                refinance.
              </p>
              <p>
                <b>First Mortgage Payment -</b> Similar to a purchase, you’ll
                get to skip an entire month before your first payment is due. If
                you close in June, your first payment is due Aug. 1. If you
                close in December, you won’t make your first payment until Feb.
                1 of the following year.
              </p>
              <p>
                <b>Escrow Refund -</b> Within 30 days of closing, you should
                receive a refund check from your previous mortgage servicer.
                These were the funds being held to pay your property taxes and
                homeowner’s insurance. When your mortgage lender issued your new
                mortgage, funds were set aside to start a new escrow account
                allowing payment for these bills as they come due.
              </p>
              <p>
                <b>Making Your Payments -</b> You’ll receive payment coupons
                during your closing with directions for how to make your first
                mortgage payments. If your mortgage is sold to a new mortgage
                servicer, then you’ll receive instructions from the new servicer
                on how and when to make payments to them. Once your servicer is
                finalized, it’s a good idea to set up automatic drafts for you
                mortgage payments. This way, you don’t forget to make a payment
                on time. Late mortgage payments can significantly impact your
                credit and your ability to borrow money in the future.
              </p>
              <p>
                <b>Making Extra Payments -</b> If you decided against
                refinancing to a shorter term due to concerns over
                affordability, making extra mortgage payments offers you another
                option. The extra payments go toward the principal balance of
                your mortgage. An extra few thousand dollars each year cuts
                years off the life of your loan. For example, on a $480,000
                loan, adding an extra $300 payment each month shaves almost six
                years off the length of a 30-year mortgage, turning it into a
                24-year term.
              </p>
            </div>
          </div>

          <div class="border-bottom py-4 mb-4"></div>
          <div class="flex-lg-row Mortgage-talk rounded flex-column">
            <div class="mr-4">
              <div class="small-box mb-3">
                <img src="assets/images/support.png" />
              </div>
            </div>
            <div>
              <h3 class="text-primary font-weight-normal mb-3">
                Mortgage Rate Updates & Featured<br />
                Mortgage Or
                <span class="text-secondary">Request A Call Back Today</span>
              </h3>
              <button
                type="submit"
                class="btn btn-secondary text-uppercase text-white px-5"
              >
                Talk Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
