<main>
  <section class="home-guides-sec py-5 text-center">
    <div class="container">
      <h3 class="font-weight-bold text-white">Refinance Guide</h3>
    </div>
  </section>
  <h1 class="font-weight-bold text-primary text-center py-4 border-bottom">
    Apply for a Refinance Loan
  </h1>
  <div class="container">
    <section class="page-order-sec py-2">
      <p class="m-0 text-muted">
        <a
          [routerLink]="['/app/home']"
          class="text-decoration-none text-primary"
          >Home </a
        ><i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/refinance-guide']"
          class="text-decoration-none text-muted"
        >
          Refinance
        </a>
        <i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/refinance-guide']"
          class="text-decoration-none text-muted"
        >
          Refinance Guide
        </a>
      </p>
    </section>

    <section class="py-2">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-bold text-primary py-4">
          Refinancing Step-by-Step
        </h5>
        <div class="text-center">
          <img height="40" src="assets/images/guides.svg" />
          <p class="small">View All Guides</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0">
          <div
            class="nav flex-column nav-pills border nav-guides rounded"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <a
              class="nav-link"
              [routerLink]="['/app/prepare-for-your-mortgage-refinance']"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
              >1. Prepare for Your Mortgage
              <span class="ml-3 d-block">Refinance</span></a
            >
            <a
              class="nav-link"
              [routerLink]="['/app/explore-your-refinance-options']"
              >2. Explore Your Refinance
              <span class="ml-3 d-block">Options</span>
            </a>
            <a
              class="nav-link active"
              [routerLink]="['/app/apply-for-a-refinance-loan']"
              role="tab"
              aria-controls="v-pills-messages"
              aria-selected="false"
              >3. Apply for a Refinance Loan
              <span class="ml-3 d-block">Loan</span></a
            >
            <a
              class="nav-link"
              [routerLink]="['/app/the-appraisal-underwriting-process']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >4. The Appraisal and Underwriting
              <span class="ml-3 d-block">Process</span>
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/close-on-the-loan']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >5. Close on the Loan
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/manage-your-refinance']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >6. Manage Your Refinance
              <span class="ml-3 d-block">Offer</span>
            </a>
          </div>

          <div
            class="border border-primary px-3 py-4 rounded mt-4 d-none d-lg-block"
          >
            <h6 class="font-weight-bold text-primary py-2">
              Find answers quickly online
            </h6>
            <a
              href=""
              class="text-uppercase text-secondary d-block featanimbtn pt-2"
              >GET STARTED <i class="fas fa-long-arrow-alt-right ml-2"></i
            ></a>
          </div>
          <div class="bg-gray px-3 py-4 rounded mt-4 d-none d-lg-block">
            <h3 class="text-primary pb-2">Talk to a Home Loan Expert</h3>
            <button
              type="submit"
              class="btn btn-secondary text-uppercase text-white px-5"
            >
              Talk Now
            </button>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-home"
              role="tabpanel"
              aria-labelledby="v-pills-home-tab"
            >
              <h6 class="font-weight-bold text-primary pb-4">
                Begin Your EZ Online Mortgage Refinance
              </h6>
              <p class="text-muted">
                Refinancing your mortgage loan is a big undertaking and a
                significant financial decision. Choosing the right lender will
                set the tone for a positive experience and outcome. Here are a
                few questions to ask when selecting a lender:
              </p>

              <ul>
                <li>
                  <b>Can I apply for the refinance online?</b>
                  <p>
                    Completing an online mortgage application around your
                    schedule and in the comfort of your own home or office is
                    ideal. We provide a user-friendly online form to make this
                    part of the process quick and easy.
                  </p>
                </li>
                <li>
                  <b>How long will it take to close on my loan? </b>
                  <p>
                    Some lenders can take up to 60 days to close a mortgage
                    refinance. At EZ Online Mortgage, our refinances often close
                    between 30 and 45 days.
                  </p>
                </li>
                <li>
                  <b>What’s your availability? </b>
                  <p>
                    Work with a lender who is available when your schedule
                    allows time for a phone conference or meeting.
                  </p>
                </li>
                <li>
                  <b>What are your fees and rates? </b>
                  <p>
                    The cost of processing fees, appraisals, and interest rates
                    vary from lender to lender. You can ask for a loan estimate
                    to compare these costs across different lenders. Keep in
                    mind, until your interest rate is locked, it’s just an
                    estimate. Also, the lowest interest rate might not always be
                    the best experience.
                  </p>
                </li>
              </ul>
              <p>
                There are many costs associated with a refinance. The typical
                refinance costs 2-3 percent of the total loan amount. Here is a
                breakdown of what you can expect to pay:
              </p>
              <table class="second-page-table">
                <tr>
                  <td>Application/Processing Fee</td>
                  <td>
                    <ul>
                      <li>
                        Every lender has a base fee. (It may be called an
                        application fee, a processing fee, or etc.).
                      </li>
                      <li>This fee is typically collected at closing.</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Appraisal Fee</td>
                  <td>
                    <ul>
                      <li>Appraisal fees vary from lender to lender.</li>
                      <li>
                        This fee is typically collected upfront from the
                        borrower.
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Attorney/Settlement Agent Fee</td>
                  <td>
                    <ul>
                      <li>
                        Your lender will provide you with an estimate for these
                        fees.
                      </li>
                      <li>
                        You will not know the exact amount until you have
                        selected your settlement agent.
                      </li>
                      <li>
                        If you don’t select an agent, your lender can recommend
                        a reputable agent in your area.
                      </li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Title Insurance Fee</td>
                  <td>
                    <ul>
                      <li>
                        This fee involves a title search of your property’s
                        ownership and any liens that may have been placed on the
                        property.
                      </li>
                      <li>
                        It also includes insurance to protect you and the lender
                        from any future issues with the ownership of the
                        property.
                      </li>
                      <li>
                        Title insurance protects you from potentially tens of
                        thousands of dollars in legal fees.
                      </li>
                    </ul>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="border-bottom py-4 mb-4"></div>
          <div class="flex-lg-row Mortgage-talk rounded flex-column">
            <div class="mr-4">
              <div class="small-box mb-3">
                <img src="assets/images/support.png" />
              </div>
            </div>
            <div>
              <h3 class="text-primary font-weight-normal mb-3">
                Mortgage Rate Updates & Featured<br />
                Mortgage Or
                <span class="text-secondary">Request A Call Back Today</span>
              </h3>
              <button
                type="submit"
                class="btn btn-secondary text-uppercase text-white px-5"
              >
                Talk Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
