<main>
  <div class="container">
    <section class="page-order-sec py-3 border-bottom-0">
      <p class="m-0 text-primary">
        Home <span class="mx-3 d-inline-block">Refinance Calculator </span>
        <span class="text-muted mr-3 d-inline-block">
          Refinance Calculator Results</span
        >
      </p>
    </section>
  </div>

  <section class="afford-sec">
    <div class="container">
      <h2 class="text-primary mb-5 font-weight-bold">You Can Afford</h2>
      <h5 class="text-primary mb-3">$576,119</h5>
      <div class="row">
        <div class="col-lg-4 col-md-6 form-group">
          <div class="afford-box">
            <h5 class="text-primary font-weight-normal mb-3">
              Conforming 10 Year Fixed
            </h5>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Monthly Payment</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>$5,322.31</p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">Rate/APR</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>2.75% / 3.36%</p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">Mortgage Term</p>
              </div>
              <div class="col-sm-6 text-right">
                <p class="mb-0">10 Year</p>
              </div>
              <div class="col-sm-12 text-center mt-3">
                <button
                  type="submit"
                  class="btn btn-secondary btn-lg btn-block text-uppercase text-white px-5"
                >
                  APPLY FOR THIS
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <div class="afford-box">
            <h5 class="text-primary font-weight-normal mb-3">
              Conforming 10 Year Fixed
            </h5>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Monthly Payment</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>$5,322.31</p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">Rate/APR</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>2.75% / 3.36%</p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">Mortgage Term</p>
              </div>
              <div class="col-sm-6 text-right">
                <p class="mb-0">10 Year</p>
              </div>
              <div class="col-sm-12 text-center mt-3">
                <button
                  type="submit"
                  class="btn btn-secondary btn-lg btn-block text-uppercase text-white px-5"
                >
                  APPLY FOR THIS
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <div class="afford-box">
            <h5 class="text-primary font-weight-normal mb-3">
              Conforming 10 Year Fixed
            </h5>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Monthly Payment</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>$5,322.31</p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">Rate/APR</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>2.75% / 3.36%</p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">Mortgage Term</p>
              </div>
              <div class="col-sm-6 text-right">
                <p class="mb-0">10 Year</p>
              </div>
              <div class="col-sm-12 text-center mt-3">
                <button
                  type="submit"
                  class="btn btn-block btn-lg btn-secondary text-uppercase text-white px-5"
                >
                  APPLY FOR THIS
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <div class="afford-box">
            <h5 class="text-primary font-weight-normal mb-3">
              Conforming 10 Year Fixed
            </h5>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Monthly Payment</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>$5,322.31</p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">Rate/APR</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>2.75% / 3.36%</p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">Mortgage Term</p>
              </div>
              <div class="col-sm-6 text-right">
                <p class="mb-0">10 Year</p>
              </div>
              <div class="col-sm-12 text-center mt-3">
                <button
                  type="submit"
                  class="btn btn-block btn-lg btn-secondary text-uppercase text-white px-5"
                >
                  APPLY FOR THIS
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 form-group">
          <div class="afford-box">
            <h5 class="text-primary font-weight-normal mb-3">
              Conforming 10 Year Fixed
            </h5>
            <div class="row">
              <div class="col-sm-6">
                <p class="mb-0">Monthly Payment</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>$5,322.31</p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">Rate/APR</p>
              </div>
              <div class="col-sm-6 text-right">
                <p>2.75% / 3.36%</p>
              </div>
              <div class="col-sm-6">
                <p class="mb-0">Mortgage Term</p>
              </div>
              <div class="col-sm-6 text-right">
                <p class="mb-0">10 Year</p>
              </div>
              <div class="col-sm-12 text-center mt-3">
                <button
                  type="submit"
                  class="btn btn-block btn-lg btn-secondary text-uppercase text-white px-5"
                >
                  APPLY FOR THIS
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <select class="form-control border-0">
            <option>Legal Disclaimers</option>
            <option>Legal Disclaimers</option>
            <option>Legal Disclaimers</option>
          </select>
        </div>
      </div>
    </div>
  </section>

  <section class="afford-sec">
    <div class="container">
      <h2 class="text-primary mb-5 font-weight-bold">
        We found 24 homes in your<br />
        price range
      </h2>
      <div class="row">
        <div class="col-sm-4 form-group">
          <div class="afford-box p-0">
            <img src="assets/images/h1.png" class="img-fluid mb-3 w-100" />
            <div class="p-3">
              <div class="row">
                <div class="col-sm-6">
                  <h5 class="mb-0">$576,119</h5>
                </div>
                <div class="col-sm-6 text-right">
                  <p>2 beds, 2 batchs</p>
                </div>
                <div class="col-sm-6">
                  <p class="mb-0">$1900 / month</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p>1197 SaFt</p>
                </div>
                <div class="col-sm-12">
                  <p class="mb-0">
                    <img
                      src="assets/images/google-maps.png"
                      class="mr-2"
                    />1135, Shelby ST Unit 2809, MI 4826
                  </p>
                </div>
                <div class="col-sm-12 text-center mt-3">
                  <button
                    type="submit"
                    class="btn btn-secondary text-uppercase btn-lg btn-block text-white px-5"
                  >
                    APPLY FOR THIS
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 form-group">
          <div class="afford-box p-0">
            <img src="assets/images/h2.png" class="img-fluid mb-3 w-100" />
            <div class="p-3">
              <div class="row">
                <div class="col-sm-6">
                  <h5 class="mb-0">$576,119</h5>
                </div>
                <div class="col-sm-6 text-right">
                  <p>2 beds, 2 batchs</p>
                </div>
                <div class="col-sm-6">
                  <p class="mb-0">$1900 / month</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p>1197 SaFt</p>
                </div>
                <div class="col-sm-12">
                  <p class="mb-0">
                    <img
                      src="assets/images/google-maps.png"
                      class="mr-2"
                    />1135, Shelby ST Unit 2809, MI 4826
                  </p>
                </div>
                <div class="col-sm-12 text-center mt-3">
                  <button
                    type="submit"
                    class="btn btn-secondary btn-lg btn-block text-uppercase text-white px-5"
                  >
                    APPLY FOR THIS
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 form-group">
          <div class="afford-box p-0">
            <img src="assets/images/h3.png" class="img-fluid mb-3 w-100" />
            <div class="p-3">
              <div class="row">
                <div class="col-sm-6">
                  <h5 class="mb-0">$576,119</h5>
                </div>
                <div class="col-sm-6 text-right">
                  <p>2 beds, 2 batchs</p>
                </div>
                <div class="col-sm-6">
                  <p class="mb-0">$1900 / month</p>
                </div>
                <div class="col-sm-6 text-right">
                  <p>1197 SaFt</p>
                </div>
                <div class="col-sm-12">
                  <p class="mb-0">
                    <img
                      src="assets/images/google-maps.png"
                      class="mr-2"
                    />1135, Shelby ST Unit 2809, MI 4826
                  </p>
                </div>
                <div class="col-sm-12 text-center mt-3">
                  <button
                    type="submit"
                    class="btn btn-secondary btn-lg btn-block text-uppercase text-white px-5"
                  >
                    APPLY FOR THIS
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 text-center mt-3">
          <button
            type="submit"
            class="btn btn-secondary btn-lg btn-block text-uppercase text-white px-5 w-100"
          >
            LOAD MORE
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
