<div class="Content-Step-Body text-black">
  <div class="container">
    <h1 class="font-weight-bold">
      Number of late mortgage payments in the
      <br />
      last 12 months?
    </h1>

    <div class="row justify-content-center">
      <div class="col-lg-4" id="back">
        <p
          class="fa fa-angle-left cursor_pointer"
          (click)="proceedToPrevious()"
        >
          <span style="margin-left: 5px">Back</span>
        </p>
      </div>
      <div class="col-lg-4">
        <div class="btn">
          <button
            type="button"
            class="btn btn-outline-blue btn-lg btn_mwh btn-block mt-4"
            (click)="proceedToNext('None')"
            [class.selected]="formData.LateMortgagePayments == 'None'"
          >
            None
          </button>
          <button
            type="button"
            class="btn btn-outline-blue btn-lg btn_mwh btn-block mb-3 mt-3"
            (click)="proceedToNext('One Late Payment')"
            [class.selected]="
              formData.LateMortgagePayments == 'One Late Payment'
            "
          >
            One Late Payment
          </button>
          <button
            type="button"
            class="btn btn-outline-blue btn-lg btn-block mb-3 mt-3"
            (click)="proceedToNext('More Than One')"
            [class.selected]="formData.LateMortgagePayments == 'More Than One'"
          >
            More Than One
          </button>
        </div>
      </div>
      <div class="col-lg-4 right-back-btn pt-5">
        <p class="fa fa-angle-left" (click)="proceedToPrevious()">
          <span style="margin-left: 10px">Back</span>
        </p>
      </div>
    </div>
    <div class="gage-chart-blue p63 mt-5 d-lg-flex d-none">
      <span>63%</span>
    </div>
  </div>
</div>
