.credit-confirmation-text {
  font-family: Avenir-Medium !important;
  font-weight: 500 !important;
}
.date-field {
  position: relative;
}
.date-field label {
  margin-left: 9px;
  margin-top: 5px;
  position: absolute;
}
.date-field input {
  padding-top: 22px !important;
  height: 50px;
}
