<main>
  <section class="pb-2 pt-0">
    <div class="inner-heading-sec position-relative">
      <div class="container">
        <div class="row pt-5">
          <div class="col-lg-8">
            <h1
              class="border-left-2px text-primary font-weight-bold display-3 mb-4"
            >
              About Us
            </h1>
            <h4 class="text-muted font-weight-normal pb-4">
              EZ Online Mortgage is one of the most reputable mortgage broker
              companies in California. With virual locations all across the
              state, and a dedicated team of professionals at each location, we
              provide each client with convenience, flexibility, and superb
              customer service.
            </h4>
          </div>
          <div class="col-lg-4"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="page-order-sec py-3">
      <p class="m-0 text-muted">
        <a
          [routerLink]="['/app/home']"
          class="text-decoration-none text-primary"
          >Home </a
        ><i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/about-us']"
          class="text-decoration-none text-muted"
        >
          About Us</a
        >
      </p>
    </section>
  </div>
  <section>
    <span
      class="text-white text-muted text-uppercase banner-scroll d-none d-lg-block"
      style="left: 2%; margin-top: -1000px"
    >
      <a href="#Join-us" target="_self">
        <i class="fa fa-long-arrow-left mr-4"></i>Get to Know Us</a
      >
    </span>
    <div class="container">
      <h5 class="text-secondary font-weight-bold">WE ARE</h5>
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">Team Player</h3>
      </div>
      <p class="text-muted pr-6-md">
        EZ Online Mortgage is one of the most reputable mortgage broker
        companies in California. With virual locations all across the state, and
        a dedicated team of professionals at each location, we provide each
        client with convenience, flexibility, and superb customer service. Our
        passionate team has over 30 years of industry experience, and we are
        proud to say that we offer exceptional service, with a customized,
        hands-on approach. We want to knock down all the traditional barriers to
        buying a house and securing a mortgage loan. We believe that everybody
        deserves the chance to achieve the American dream of owning a home. Our
        goal is to work with each individual, no matter what their background,
        credit status, or financial history, to find the financial solutions to
        meet their unique needs.We offer a variety of loans for all mortgage
        needs and goals. We even have mortgage options for people with poor
        credit. With EZ Online Mortgage, rest assured that you will get only the
        highest quality service, with a variety of features which make your life
        easier. We offer you unparalleled convenience. With our easy-to-use
        online tools, available through our secure mortgage portal, we provide
        you with the means to smooth out the mortgage application process. From
        a free instant rate quote to mortgage and refinance calculators, you can
        get mortgage estimates online free, with just a few clicks of a button.
        Our loan submission process is fast and simple, and can be done entirely
        online (or via fax, if that’s easier for you).
        <br /><br />
        Request a mortgage from us today to lock in the most affordable rates in
        California. Simply submit an application online or call to book a free
        consultation. Helping you save money is our business. See the difference
        EZ Online Mortgage can make
      </p>
    </div>
    <div class="container">
      <h5 class="text-secondary font-weight-bold">WHAT WE WANT</h5>
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">Our Mission</h3>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-8">
          <p class="text-muted pr-6-md">
            Our mission at EZ Online Mortgage is simple: we want to help you
            save money. We are committed to making sure all borrowers get the
            best loan program and mortgage rates possible, paired with
            unparalleled customer service and a stress-free application process.
            <br /><br />
            We are proud to call ourselves one of the most reputable and
            efficient mortgage broker companies in California. We don’t play
            around—you’ll find no untrue words from us, or confusing
            explanations. We’ll never try to sway you to take a mortgage plan
            that you can’t afford. Rather, we’ll work with you, taking into
            consideration your unique financial situation and future goals, to
            find a mortgage plan that is simple and affordable.
            <br /><br />
            We believe that everyone deserves the chance to live the American
            dream, and owning a home is often a key component in that dream.
            Don’t let your current financial situation or debt sway you to think
            that that dream is out of reach. With over 30 years of experience in
            the mortgage industry, we have the tool and expertise to assess your
            situation and help you find solutions to move you forward.
            <br /><br />
            With virtual locations all over California, you’ll never have to
            venture far to consult with your EZ Online Mortgage. Plus, with our
            innovative online systems, you can easily submit most documents and
            necessary information online or through fax. We know you’ll be just
            as happy with our service as we are servicing you. Apply online and
            get a free instant rate quote, or call one of our offices to book a
            free consultation with one of our experienced agents. See the
            difference having a passionate, qualified team behind you makes.
          </p>
        </div>
        <div class="col-sm-0 col-lg-4">
          <img
            class="d-lg-block d-none w-100 h-100"
            src="assets/images/about_us-our_mission.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <section class="about-us-career" id="Join-us">
    <span
      class="text-white text-muted text-uppercase banner-scroll d-none d-lg-block"
      style="left: 2%"
    >
      <a href="#Our-mission" target="_self">
        <i class="fa fa-long-arrow-left mr-4"></i>Get to Know Us</a
      >
    </span>
    <div class="container">
      <div class="row">
        <div class="col-sm-0 col-lg-4">
          <img
            class="d-lg-block d-none w-100 h-100"
            src="assets/images/about_us-our_mission.png"
            alt=""
          />
        </div>
        <div class="col-sm-12 col-lg-8 px-md-5">
          <h5 class="text-secondary font-weight-bold">JOIN US</h5>
          <div class="align-items-center d-flex justify-content-between mb-4">
            <h3 class="font-weight-bold m-0 text-white">Careers</h3>
          </div>
          <p class="text-white">
            We are always seeking ambitious California licensed agents who know
            the value of customer service. We aren’t just a well-functioning
            team: we’re a family, and we’re a family with values. If you are a
            licensed agent who fully appreciates the importance of putting
            customers and borrows first 110% of the time, we want you on our
            team! Join an experienced and passionate group of people who have
            been navigating the mortgage industry terrain for over 30 years.
            Whether you’re experienced yourself or relatively new to the trade,
            we can use your skills. We offer a competitive benefits package, and
            a great work environment. Salary is commission based only from
            generated lead source. Every single member of our team loves working
            for us and with us, and we all consider each other partners in the
            quest to provide exemplary service to home buyers and potential
            clients. Enjoy company events, a great learning experience, and a
            relaxed, yet professional, office environment. We guarantee you’ll
            love working for us!
            <br /><br />
            Apply to work for EZ Online Mortgage today! Please submit your
            resume through our website—no phone calls, please.
          </p>
          <button class="btn btn-secondary text-white text-uppercase">
            SUBMIT RESUME <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
  <section id="Our-mission">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-8 px-md-5">
          <h5 class="text-secondary font-weight-bold">WHAT THEY SAY</h5>
          <div class="align-items-center d-flex justify-content-between mb-4">
            <h3 class="font-weight-bold m-0 text-primary">
              Customer Satisfaction Reviews
            </h3>
          </div>
          <p class="text-muted">
            At EZ Online Mortgage, we are committed to exceptional customer
            service. Our goal is to save you money by finding you the solutions
            to meet your unique financial needs. We are proud to say we are one
            of the most trusted and reputable mortgage broker companies in the
            grand state of California. With virtual office locations all over
            the state, and a variety of online tools, including a free instant
            price quote and mortgage and refinance calculators, we provide you
            with unparalleled convenience and flexibility in the mortgage
            application process. We even make it possible to submit your loan
            submission documents all online (or through fax, if it’s easier). We
            know you’re busy and stressed, so our goal is making the mortgage
            application process as quick and stress-free as possible.
            <br /><br />
            We offer customized mortgage solutions and the most affordable loan
            rates anywhere! See the difference EZ Online Mortgage can make in
            buying your dream home!
          </p>
        </div>
        <div class="col-sm-0 col-lg-4">
          <img
            class="d-lg-block d-none w-100 h-100"
            src="assets/images/customer_satisfaction.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <section class="exceptional_customer">
    <div class="container">
      <div class="row">
        <div class="col-sm-0 col-lg-4">
          <img
            class="d-lg-block d-none w-100 h-100"
            src="assets/images/exceptional.png"
            alt=""
          />
        </div>
        <div class="col-sm-12 col-lg-8 px-md-5">
          <h5 class="text-secondary font-weight-bold">WE ARE ALWAYS HERE</h5>
          <div class="align-items-center d-flex justify-content-between mb-4">
            <h3 class="font-weight-bold m-0 text-primary">
              Exceptionsl Customer Service
            </h3>
          </div>
          <p class="text-muted">
            There’s a reason we’re so good at what we do. Our mortgage brokers
            have over 30 years of experience in the mortgage industry, and each
            one is passionate about providing a hands-on, customized experience
            to each client. See what other customers have to say about our
            superb customer service, and find out why having the EZ Online
            Mortgage team by your side is the best decision in your mortgage
            application journey you can make!
          </p>
          <button class="btn btn-secondary text-white text-uppercase">
            CONTACT US <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
