<style>
  ::ng-deep input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
  }
</style>
<div>
  <h4 class="section-title">Acknowledgments and Agreements</h4>
  <div class="info-block">
    <p>
      This section tells you about your legal obligations when you sign this
      application.
    </p>
  </div>
  <div>
    <div class="row">
      <div class="col-md-6">
        <div class="agreement-block mb-5">
          <h4>Definitions:</h4>
          <ul>
            <li>
              "Lender" includes the Lender’s agents, service providers, and any
              of their successors and assigns.
            </li>
            <li>
              "Other Loan Participants" includes (i) any actual or potential
              owners of a loan resulting from this application (the “Loan”),
              (ii) acquirers of any beneficial or other interest in the Loan,
              (iii) any mortgage insurer, (iv) any guarantor, (v) any servicer
              of the Loan, and (vi) any of these parties' service providers,
              successors or assigns.
            </li>
          </ul>
        </div>
        <div class="agreement-block mb-5">
          <h4>I agree to, acknowledge, and represent the following:</h4>
          <h5>(1) The Complete Information for this Application</h5>
          <ul class="align-1">
            <li>
              The information I have provided in this application is true,
              accurate, and complete as of the date I signed this application.
            </li>
            <li>
              If the information I submitted changes or I have new information
              before closing of the Loan, I must change and supplement this
              application, including providing any updated/supplemented real
              estate sales contract.
            </li>
            <li>
              For purchase transactions: The terms and conditions of any real
              estate sales contract signed by me in connection with this
              application are true, accurate, and complete to the best of my
              knowledge and belief. I have not entered into any other agreement,
              written or oral, in connection with this real estate transaction.
            </li>
            <li>
              The Lender and Other Loan Participants may rely on the information
              contained in the application before and after closing of the Loan.
            </li>
            <li>
              Any intentional or negligent misrepresentation of information may
              result in the imposition of:
            </li>
          </ul>
          <ol type="a" class="align-2">
            <li>
              civil liability on me, including monetary damages, if a person
              suffers any loss because the person relied on any
              misrepresentation that I have made on this application, and/or
            </li>
            <li>
              criminal penalties on me including, but not limited to, fine or
              imprisonment or both under the provisions of Federal law (18
              U.S.C. §§ 1001 et seq.).
            </li>
          </ol>
        </div>
        <div class="agreement-block mb-5">
          <h5>(2) The Property’s Security</h5>
          <ul class="align-1">
            <li>
              The Loan I have applied for in this application will be secured by
              a mortgage or deed of trust which provides the Lender a security
              interest in the property described in this application.
            </li>
          </ul>
        </div>
        <div class="agreement-block mb-5">
          <h5>(3) The Property’s Appraisal, Value, and Condition</h5>
          <ul class="align-1">
            <li>
              Any appraisal or value of the property obtained by the Lender is
              for use by the Lender and Other Loan Participants.
            </li>
            <li>
              The Lender and Other Loan Participants have not made any
              representation or warranty, express or implied, to me about the
              property, its condition, or its value.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="agreement-block mb-5">
          <h5>(4) Electronic Records and Signatures</h5>
          <ul class="align-1">
            <li>
              The Lender and Other Loan Participants may keep any paper record
              and/or electronic record of this application, whether or not the
              Loan is approved.
            </li>
            <li>
              If this application is created as (or converted into) an
              “electronic application”, I consent to the use of “electronic
              records” and “electronic signatures” as the terms are defined in
              and governed by applicable Federal and/or state electronic
              transactions laws.
            </li>
            <li>
              I intend to sign and have signed this application either using my:
            </li>
          </ul>
          <ol type="a" class="align-2">
            <li>electronic signature; or</li>
            <li>
              a written signature and agree that if a paper version of this
              application is converted into an electronic application, the
              application will be an electronic record, and the representation
              of my written signature on this application will be my binding
              electronic signature.
            </li>
          </ol>
        </div>
        <div class="agreement-block mb-5">
          <h5>(5) Delinquency</h5>
          <ul class="align-1">
            <li>
              The Lender and Other Loan Participants may report information
              about my account to credit bureaus. Late payments, missed
              payments, or other defaults on my account may be reflected in my
              credit report and will likely affect my credit score.
            </li>
            <li>
              If I have trouble making my payments I understand that I may
              contact a HUD-approved housing counseling organization for advice
              about actions I can take to meet my mortgage obligations.
            </li>
          </ul>
        </div>
        <div class="agreement-block">
          <h5>(6) Authorization for Use and Sharing of Information</h5>
          <p style="">
            By signing below, in addition to the representations and agreements
            made above, I expressly authorize the Lender and Other Loan
            Participants to obtain, use, and share with each other (i) the loan
            application and related loan information and documentation, (ii) a
            consumer credit report on me, and (iii) my tax return information,
            as necessary to perform the actions listed below, for so long as
            they have an interest in my loan or its servicing:
          </p>
          <ol class="align-1" type="a">
            <li>process and underwrite my loan;</li>
            <li>
              verify any data contained in my consumer credit report, my loan
              application and other information supporting my loan application;
            </li>
            <li>
              inform credit and investment decisions by the Lender and Other
              Loan Participants;
            </li>
            <li>
              perform audit, quality control, and legal compliance analysis and
              reviews;
            </li>
            <li>perform analysis and modeling for risk assessments;</li>
            <li>
              monitor the account for this loan for potential delinquencies and
              determine any assistance that may be available to me; and
            </li>
            <li>other actions permissible under applicable law.</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row agreement-block mb-5">
      <div class="col-md-8">
        <div class="input-group">
          <div class="input-group-text">Borrower Signature</div>
          <input
            type="text"
            class="form-control"
            id="specificSizeInputGroupUsername"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-text">Date</div>
          <!-- <input
            type="date"
            class="form-control"
            id="specificSizeInputGroupUsername" /> -->

          <input
            type="date"
            data-date-format="MM-dd-yyyy"
            (blur)="onBlurDt($event)"
            id="specificSizeInputGroupUsername"
            max="{{ currentDate | date: 'yyyy-MM-dd' }}"
            style="
              border-bottom: 1px solid #9d9d9d;
              border-left: 0px;
              border-right: 0px;
              border-top: 0px;
            "
          />
        </div>
      </div>
    </div>
    <div class="row agreement-block mb-5">
      <div class="col-md-8">
        <div class="input-group">
          <div class="input-group-text">Additional Borrower Signature</div>
          <input
            type="text"
            class="form-control"
            id="specificSizeInputGroupUsername"
          />
        </div>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <div class="input-group-text">Date</div>
          <!-- <input
            type="date"
            class="form-control"
            id="specificSizeInputGroupUsername"
          /> -->

          <!-- <input type="date" id="specificSizeInputGroupUsername" max="{{currentDate | date:'yyyy-MM-dd'}}" required /> -->

          <input
            type="date"
            data-date-format="MM-dd-yyyy"
            (blur)="onBlurDt($event)"
            id="specificSizeInputGroupUsername1"
            max="{{ currentDate | date: 'yyyy-MM-dd' }}"
            style="
              border-bottom: 1px solid #9d9d9d;
              border-left: 0px;
              border-right: 0px;
              border-top: 0px;
            "
          />
        </div>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="row borrower-block">
    <div class="col-sm-8">
      <div class="input-group">
        <div class="input-group-text">Borrower Name:</div>
        <input
          type="text"
          class="form-control"
          id="specificSizeInputGroupUsername"
        />
      </div>
    </div>
  </div>
  <div class="row text-right mt-5">
    <div class="col-sm-12">
      <button class="btn btn-fill" (click)="create()">NEXT</button>
    </div>
  </div>
</div>
