<main>
  <section class="pb-2">
    <div class="inner-heading-sec position-relative">
      <div class="container">
        <div class="row pt-5">
          <div class="col-lg-8">
            <h1
              class="border-left-2px text-primary font-weight-bold display-3 mb-4"
            >
              Current Home Loan Rates
            </h1>
            <h4 class="text-muted font-weight-normal pb-4">
              Our experts can guide you through the complete process.
              <br />
              Contact us now!
            </h4>
          </div>
          <div class="col-lg-4"></div>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="page-order-sec py-3">
      <p class="m-0 text-muted">
        <a
          [routerLink]="['/app/home']"
          class="text-decoration-none text-primary"
          >Home </a
        ><i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/about-us']"
          class="text-decoration-none text-primary"
        >
          About Us </a
        ><i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/current-home-loan-rates']"
          class="text-decoration-none text-muted"
        >
          Current Home Loan Rates</a
        >
      </p>
    </section>
  </div>
  <section class="pb-5">
    <div class="container">
      <h5 class="text-secondary font-weight-bold">Lorem Ipsum is simply</h5>
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">
          Current Home Loan Rates
        </h3>
      </div>
      <p class="text-muted pr-6-md">
        Getting a mortgage doesn’t have to be difficult. It also doesn’t have to
        cost you an arm and a leg. With the current home loan rates lower than
        they’ve been in years, the time to act is now. EZ Online Mortgage can
        make the process even easier and more affordable than you ever thought
        possible! Our experienced mortgage professionals know the industry in
        and out. We also have direct access to lenders offering favorable
        interest rates and attractive terms. All we need is you!
        <br /><br />
        If you’re thinking about buying a new home or refinancing your current
        mortgage, whether you’re a first time buyer or are well-versed in the
        mortgage and home buying experience, we can help! One of our dedicated
        representatives will take the time to understand your specific
        situation, discuss your options and match you with the perfect product
        to suit your needs. It’s that simple!
        <br /><br />
        You might be surprised at how low your current home loan rate could be,
        but you won’t know if you don’t take that first step, so apply now to
        get started.
      </p>
    </div>
    <div class="row">
      <div class="col form-group m-0 text-center justify-content-center mt-4">
        <button
          class="btn btn-secondary text-white text-uppercase w-fit-content"
        >
          Read More
        </button>
      </div>
    </div>
    <div class="container mt-5">
      <hr class="my-2 border-muted_custom p-0" />
    </div>
  </section>
  <section class="mt-0 pt-0 pb-3">
    <div class="container">
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h1 class="font-weight-bold m-0 text-primary">
          Today's Mortgage Rates
        </h1>
      </div>
      <p class="text-muted pr-6-md">
        Mortgage rates change daily based on the market. Here are today's
        mortgage rates.
      </p>
    </div>
    <div class="container overflow-x-scroll">
      <table class="table table-striped">
        <thead class="thead-primary">
          <tr class="table-primary_custom text-white">
            <th scope="col">Loan Option</th>
            <th scope="col">Rate/APR</th>
            <th scope="col">1 Day Rate/APR Change</th>
            <th scope="col">1 Year Rate/APR Change</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="##" class="text-primary link text-underline">
                30-Year Fixed</a
              >
            </td>
            <td><span> 2.99% </span>/<span> 3.233% </span></td>
            <td>
              <span> 0% </span><i class="fa fa-caret-right"></i> /
              <span> 0.021% </span><i class="fa fa-caret-down text-success"></i>
            </td>
            <td>
              <span> 0.135% </span
              ><i class="fa fa-caret-down text-success"></i> /
              <span> 0.021% </span><i class="fa fa-caret-down text-success"></i>
            </td>
            <td class="text-warning">
              <a href="##" class="text-warning text-uppercase">View Details</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="##" class="text-primary link text-underline">
                15-Year Fixed*</a
              >
            </td>
            <td><span> 2.99% </span>/<span> 3.233% </span></td>
            <td>
              <span> 0% </span><i class="fa fa-caret-right"></i> /
              <span> 0.021% </span><i class="fa fa-caret-down text-success"></i>
            </td>
            <td>
              <span> 0.135% </span
              ><i class="fa fa-caret-down text-success"></i> /
              <span> 0.021% </span><i class="fa fa-caret-down text-success"></i>
            </td>
            <td class="text-warning">
              <a href="##" class="text-warning text-uppercase">View Details</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="##" class="text-primary link text-underline">
                FHA 30-Year Fixed*</a
              >
            </td>
            <td><span> 2.99% </span>/<span> 3.233% </span></td>
            <td>
              <span> 0% </span><i class="fa fa-caret-right"></i> /
              <span> 0.021% </span><i class="fa fa-caret-down text-success"></i>
            </td>
            <td>
              <span> 0.135% </span
              ><i class="fa fa-caret-down text-success"></i> /
              <span> 0.021% </span><i class="fa fa-caret-down text-success"></i>
            </td>
            <td class="text-warning">
              <a href="##" class="text-warning text-uppercase">View Details</a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="##" class="text-primary link text-underline">
                VA 30-Year Fixed*</a
              >
            </td>
            <td><span> 2.99% </span>/<span> 3.233% </span></td>
            <td>
              <span> 0% </span><i class="fa fa-caret-right"></i> /
              <span> 0.021% </span><i class="fa fa-caret-down text-success"></i>
            </td>
            <td>
              <span> 0.135% </span
              ><i class="fa fa-caret-down text-success"></i> /
              <span> 0.021% </span><i class="fa fa-caret-down text-success"></i>
            </td>
            <td class="text-warning">
              <a href="##" class="text-warning text-uppercase">View Details</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container py-3">
      <p class="text-muted pr-6-md">
        These rates are current as of 6:32 PM UTC on August 30, 2021
      </p>
    </div>
    <div class="container mt-5">
      <hr class="my-2 border-muted_custom p-0" />
    </div>
  </section>
  <section class="pt-0">
    <div class="container">
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h1 class="font-weight-bold m-0 text-primary">
          Request A Call Back Today. Secure, Easy.
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10">
          <form action="" id="personal" #f="ngForm">
            <div class="row">
              <div class="col-sm-4 form-group">
                <label class="text-primary" for="MortgagePurpose"
                  >Mortgage Purpose</label
                >
                <!-- <input value="" type="text" class="form-control" name="MortgagePurpose" id="MortgagePurpose" /> -->
                <select
                  class="form-control"
                  id="MortgagePurpose"
                  name="MortgagePurpose"
                  [(ngModel)]="form.purpose"
                  required
                  #purposeRef="ngModel"
                >
                  <option>x</option>
                  <option>y</option>
                  <option>z</option>
                </select>
                <div
                  *ngIf="submitted && !purposeRef.valid"
                  class="text-danger d-flex"
                >
                  Purpose is required
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label class="text-primary" for="borrow"
                  >How much do you want to borrow?</label
                >
                <input
                  type="number"
                  class="form-control"
                  name="Borrow"
                  id="borrow"
                  [(ngModel)]="form.amt_to_borrow"
                  required
                  #amtToBorrowRef="ngModel"
                />
                <div
                  *ngIf="submitted && !amtToBorrowRef.valid"
                  class="text-danger d-flex"
                >
                  Amount is required
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label class="text-primary" for="firstName">First name</label>
                <input
                  type="text"
                  class="form-control"
                  name="FirstName"
                  id="firstName"
                  [(ngModel)]="form.first_name"
                  required
                  #first_nameRef="ngModel"
                />
                <div
                  *ngIf="submitted && !first_nameRef.valid"
                  class="text-danger d-flex"
                >
                  First name is required
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label class="text-primary" for="lastName">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  name="LastName"
                  id="lastName"
                  [(ngModel)]="form.last_name"
                  required
                  #last_nameRef="ngModel"
                />
                <div
                  *ngIf="submitted && !last_nameRef.valid"
                  class="text-danger d-flex"
                >
                  Last name is required
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label class="text-primary" for="EmaillAddress"
                  >Your email</label
                >
                <input
                  type="email"
                  class="form-control"
                  name="EmaillAddress"
                  id="EmaillAddress"
                  placeholder="Email Address"
                  [(ngModel)]="form.email"
                  required
                  #emailRef="ngModel"
                  pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}"
                />
                <div *ngIf="submitted" class="text-danger d-flex">
                  <div *ngIf="emailRef.errors?.pattern">
                    This is not a valid email address
                  </div>
                  <div *ngIf="emailRef.errors?.required">Email is required</div>
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label class="text-primary" for="phoneNumber"
                  >Phone number</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="PhoneNumber"
                  id="phoneNumber"
                  placeholder="Phone Number"
                  [(ngModel)]="form.phone"
                  required
                  #phoneRef="ngModel"
                  appPhoneMask
                  minlength="11"
                />
                <div *ngIf="submitted" class="text-danger d-flex">
                  <div *ngIf="phoneRef.errors?.minlength">
                    This is not a valid phone number
                  </div>
                  <div *ngIf="phoneRef.errors?.required">Phone is required</div>
                </div>
              </div>
              <div class="col-sm-4 form-group m-0">
                <button
                  class="btn btn-secondary text-white text-uppercase w-fit-content"
                  type="submit"
                  (click)="submit(f)"
                >
                  Submit
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>
