<main>
  <section class="home-guides-sec py-5 text-center">
    <div class="container">
      <h3 class="font-weight-bold text-white">Home Guides</h3>
    </div>
  </section>
  <div class="count">9</div>
  <h1 class="font-weight-bold text-primary text-center py-4 border-bottom">
    Walk-Through and Closing Day
  </h1>
  <div class="container">
    <section class="page-order-sec py-2">
      <p class="m-0 text-muted">
        <a
          [routerLink]="['/app/home']"
          class="text-decoration-none text-primary"
          >Home </a
        ><i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/buying-home-guide']"
          class="text-decoration-none text-muted"
        >
          Buying a Home
        </a>
        <i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/buying-home-guide']"
          class="text-decoration-none text-muted"
        >
          Buying a home Guide
        </a>
      </p>
    </section>

    <section class="py-2">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-bold text-primary py-4">Step-by-Step Buyer’s</h5>
        <div class="text-center">
          <img height="40" src="assets/images/guides.svg" />
          <p class="small">View All Guides</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0">
          <div
            class="nav flex-column nav-pills border nav-guides rounded"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <a
              class="nav-link"
              [routerLink]="['/app/preparing-for-morgage']"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
              >1. Preparing for Mortgage
              <span class="ml-3 d-block">Pre-Approal</span></a
            >
            <a
              class="nav-link"
              [routerLink]="['/app/finalizing-mortgage-pre-approval']"
              >2. Finalizing Mortgage
              <span class="ml-3 d-block">Pre-Approal</span>
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/deciding-mortgage']"
              role="tab"
              aria-controls="v-pills-messages"
              aria-selected="false"
              >3. Deciding on the Right
              <span class="ml-3 d-block">Mortgage for you</span></a
            >
            <a
              class="nav-link"
              [routerLink]="['/app/selection-real-estate-agent']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >4. Selection a Real Estate
              <span class="ml-3 d-block">Agent</span>
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/house-hunting']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >5. House Hunting
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/making-a-competitive-offer']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >6. Making a Competitive
              <span class="ml-3 d-block">Offer</span>
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/underwriting-process']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >7. The Underwriting Process
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/preparing-to-close']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >8. Preparing to Close
            </a>
            <a
              class="nav-link active"
              [routerLink]="['/app/walk-through-and-closing-day']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >9. Walk-Through and Closing
              <span class="ml-3 d-block">Day</span>
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/making-your-first-mortgage-payment']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >10. Making Your First
              <span class="ml-4 d-block"> Mortgage Payment</span>
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/managing-your-mortgage']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >11. Managing Your Mortgage
            </a>
          </div>

          <div
            class="border border-primary px-3 py-4 rounded mt-4 d-none d-lg-block"
          >
            <h6 class="font-weight-bold text-primary py-2">
              Find answers quickly online
            </h6>
            <a
              href=""
              class="text-uppercase text-secondary d-block featanimbtn pt-2"
              >GET STARTED <i class="fas fa-long-arrow-alt-right ml-2"></i
            ></a>
          </div>
          <div class="bg-gray px-3 py-4 rounded mt-4 d-none d-lg-block">
            <h3 class="text-primary pb-2">Talk to a Home Loan Expert</h3>
            <button
              type="submit"
              class="btn btn-secondary text-uppercase text-white px-5"
            >
              Talk Now
            </button>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="tab-content" id="v-pills-tabContent">
            <!-- <div
              class="tab-pane"
              id="v-pills-home"
              role="tabpanel"
              aria-labelledby="v-pills-home-tab"
            >
              <h3 class="font-weight-bold text-primary pb-4">
                I’m Wondering How It
              </h3>
              <p class="text-muted">
                Whether a new home is a few years off or you’re shopping now, we
                can help you understand your options and get the right mortgage
                for your situation.
              </p>
              <h6 class="font-weight-bold text-primary pb-2">
                I’m Wondering How It Works
              </h6>
              <p class="text-muted">
                Our Home Buyer’s Guide takes the mystery out of getting your
                first home loan. We break down the process so it’s less
                overwhelming and easier to understand.
              </p>
              <a class="text-decoration text-primary text-underline" href="#"
                >Find Out How Buying a Home Works</a
              >
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                I’m Putting Together a Budget
              </h6>
              <p class="text-muted">
                Our calculators help you estimate what you can afford, how much
                of a down payment you’ll need, what your monthly payment could
                be, and how much interest you’ll pay over the life of a loan.
              </p>

              <ul class="list-unstyled arrow-list pl-3">
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate How Much I Can Afford</a
                  >
                </li>
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate My Mortgage Payments</a
                  >
                </li>
              </ul>
              <h6 class="font-weight-bold text-primary py-4">
                I’m Actively Shopping for a New Home
              </h6>
              <p class="text-muted">
                If a move is in your near future, these are the two most
                important things you should do first. They’ll put you in the
                hands of experts who help people like you become a homeowner for
                the first time every day.
              </p>
              <p class="text-muted">
                First, get approved for a loan. Doing this before looking at
                houses helps you a lot. Here are some of the benefits:
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  You’ll get an approval letter that shows real estate agents
                  and sellers you’re able to afford a house.
                </li>
                <li class="text-muted">
                  You’ll find out how much house you can afford.
                </li>
                <li class="text-muted">
                  It makes the rest of the mortgage process smoother and easier.
                </li>
              </ul>
              <a class="text-primary text-underline d-block" href="#"
                >Apply now with Rocket Mortgage.</a
              >
              <a class="text-primary text-underline" href="#"
                >Learn what happens when you apply.</a
              >
              <p class="text-muted mt-3">
                <strong> Next, find a real estate agent.</strong> After you
                apply and get approved, choose a real estate agent. They’re
                another great source of experience and knowledge when it comes
                to how to buy a home. You can expect your agent to do these
                things:
              </p>
              <ul class="list-unstyled arrow-list pl-3 mb-0">
                <li class="text-muted">
                  Help you find the right house in the right place at the right
                  price.
                </li>
                <li class="text-muted">Manage paperwork.</li>
                <li class="text-muted">Negotiate with sellers.</li>
                <li class="text-muted">Negotiate with sellers.</li>
              </ul>
              <p class="text-muted">
                With an approval letter and listings from your agent, you’ll be
                ready to start hitting those open houses.
              </p>
              <div class="border-bottom py-4"></div>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Popular Loans Options for First-Time Home Buyers
              </h6>
              <p class="text-muted">
                Here are some common situations that often apply to people
                getting their first home loan, and possible options. You may
                qualify for more than one; we’ll help you find what’s best for
                you.
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  Want payment and interest rate stability? With a 30-Year
                  Fixed, your interest rate and monthly payments (before taxes
                  and insurance) won’t change, and you can buy a home with as
                  little as 3% down.
                </li>
                <li class="text-muted">
                  Don’t have a lot of credit history, or worried it’s not good
                  enough? FHA loans have more lenient credit and income
                  requirements, and your down payment can be as low as 3.5%.
                </li>
                <li class="text-muted">
                  Think you’ll only be in a starter home for a few years? An
                  adjustable rate mortgage gives you a low fixed interest rate –
                  which means lower monthly payments – for the first few years
                  of your mortgage.
                </li>
                <li class="text-muted">
                  Are you a veteran or currently serving? You may qualify for a
                  VA Loan and be able to buy a home with zero down.
                </li>
              </ul>
            </div> -->

            <div
              class="tab-pane fade show active"
              id="v-pills-profile"
              role="tabpanel"
              aria-labelledby="v-pills-profile-tab"
            >
              <h3 class="font-weight-bold text-primary pb-4">
                What to Look for in the Final Walk-Through
              </h3>
              <p class="text-muted">
                Before your official closing at the attorney or settlement
                agent’s office, you will meet at the house with your real estate
                agent to walk through for a visual inspection. The purpose is to
                make sure the house is in the same condition it was in when you
                entered the contract. You will also have a chance to see whether
                any repairs you requested have been completed to your
                satisfaction.
              </p>

              <p class="text-muted">
                As a home buyer, you are about to make one of the biggest
                purchases of your life and you need to take your time to make
                sure the home hasn’t been damaged during the move-out process.
                Also, sometimes in the rush of moving, sellers can
                unintentionally leave things behind, so check attics, closets,
                and basements for forgotten items so they can be removed before
                you move in.
              </p>
              <!-- <a class="text-decoration text-primary text-underline" href="#">Find Out How Buying a Home Works</a>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                I’m Putting Together a Budget
              </h6>
              <p class="text-muted">
                Our calculators help you estimate what you can afford, how much
                of a down payment you’ll need, what your monthly payment could
                be, and how much interest you’ll pay over the life of a loan.
              </p>

              <ul class="list-unstyled arrow-list pl-3">
                <li>
                  <a class="text-primary text-underline" href="#">Calculate How Much I Can Afford</a>
                </li>
                <li>
                  <a class="text-primary text-underline" href="#">Calculate My Mortgage Payments</a>
                </li>
              </ul>
              <h6 class="font-weight-bold text-primary py-4">
                I’m Actively Shopping for a New Home
              </h6>
              <p class="text-muted">
                If a move is in your near future, these are the two most
                important things you should do first. They’ll put you in the
                hands of experts who help people like you become a homeowner for
                the first time every day.
              </p>
              <p class="text-muted">
                First, get approved for a loan. Doing this before looking at
                houses helps you a lot. Here are some of the benefits:
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  You’ll get an approval letter that shows real estate agents
                  and sellers you’re able to afford a house.
                </li>
                <li class="text-muted">
                  You’ll find out how much house you can afford.
                </li>
                <li class="text-muted">
                  It makes the rest of the mortgage process smoother and easier.
                </li>
              </ul>
              <a class="text-primary text-underline d-block" href="#">Apply now with Rocket Mortgage.</a>
              <a class="text-primary text-underline" href="#">Learn what happens when you apply.</a>
              <p class="text-muted mt-3">
                <strong> Next, find a real estate agent.</strong> After you
                apply and get approved, choose a real estate agent. They’re
                another great source of experience and knowledge when it comes
                to how to buy a home. You can expect your agent to do these
                things:
              </p>
              <ul class="list-unstyled arrow-list pl-3 mb-0">
                <li class="text-muted">
                  Help you find the right house in the right place at the right
                  price.
                </li>
                <li class="text-muted">Manage paperwork.</li>
                <li class="text-muted">Negotiate with sellers.</li>
                <li class="text-muted">Negotiate with sellers.</li>
              </ul>
              <p class="text-muted">
                With an approval letter and listings from your agent, you’ll be
                ready to start hitting those open houses.
              </p>
              <div class="border-bottom py-4"></div>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Popular Loans Options for First-Time Home Buyers
              </h6>
              <p class="text-muted">
                Here are some common situations that often apply to people
                getting their first home loan, and possible options. You may
                qualify for more than one; we’ll help you find what’s best for
                you.
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  Want payment and interest rate stability? With a 30-Year
                  Fixed, your interest rate and monthly payments (before taxes
                  and insurance) won’t change, and you can buy a home with as
                  little as 3% down.
                </li>
                <li class="text-muted">
                  Don’t have a lot of credit history, or worried it’s not good
                  enough? FHA loans have more lenient credit and income
                  requirements, and your down payment can be as low as 3.5%.
                </li>
                <li class="text-muted">
                  Think you’ll only be in a starter home for a few years? An
                  adjustable rate mortgage gives you a low fixed interest rate –
                  which means lower monthly payments – for the first few years
                  of your mortgage.
                </li>
                <li class="text-muted">
                  Are you a veteran or currently serving? You may qualify for a
                  VA Loan and be able to buy a home with zero down.
                </li>
              </ul> -->
            </div>
            <!-- <div
              class="tab-pane fade"
              id="v-pills-messages"
              role="tabpanel"
              aria-labelledby="v-pills-messages-tab"
            >
              <h3 class="font-weight-bold text-primary pb-4">
                I’m Wondering How It
              </h3>
              <p class="text-muted">
                Whether a new home is a few years off or you’re shopping now, we
                can help you understand your options and get the right mortgage
                for your situation.
              </p>
              <h6 class="font-weight-bold text-primary pb-2">
                I’m Wondering How It Works
              </h6>
              <p class="text-muted">
                Our Home Buyer’s Guide takes the mystery out of getting your
                first home loan. We break down the process so it’s less
                overwhelming and easier to understand.
              </p>
              <a class="text-decoration text-primary text-underline" href="#"
                >Find Out How Buying a Home Works</a
              >
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                I’m Putting Together a Budget
              </h6>
              <p class="text-muted">
                Our calculators help you estimate what you can afford, how much
                of a down payment you’ll need, what your monthly payment could
                be, and how much interest you’ll pay over the life of a loan.
              </p>

              <ul class="list-unstyled arrow-list pl-3">
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate How Much I Can Afford</a
                  >
                </li>
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate My Mortgage Payments</a
                  >
                </li>
              </ul>
              <h6 class="font-weight-bold text-primary py-4">
                I’m Actively Shopping for a New Home
              </h6>
              <p class="text-muted">
                If a move is in your near future, these are the two most
                important things you should do first. They’ll put you in the
                hands of experts who help people like you become a homeowner for
                the first time every day.
              </p>
              <p class="text-muted">
                First, get approved for a loan. Doing this before looking at
                houses helps you a lot. Here are some of the benefits:
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  You’ll get an approval letter that shows real estate agents
                  and sellers you’re able to afford a house.
                </li>
                <li class="text-muted">
                  You’ll find out how much house you can afford.
                </li>
                <li class="text-muted">
                  It makes the rest of the mortgage process smoother and easier.
                </li>
              </ul>
              <a class="text-primary text-underline d-block" href="#"
                >Apply now with Rocket Mortgage.</a
              >
              <a class="text-primary text-underline" href="#"
                >Learn what happens when you apply.</a
              >
              <p class="text-muted mt-3">
                <strong> Next, find a real estate agent.</strong> After you
                apply and get approved, choose a real estate agent. They’re
                another great source of experience and knowledge when it comes
                to how to buy a home. You can expect your agent to do these
                things:
              </p>
              <ul class="list-unstyled arrow-list pl-3 mb-0">
                <li class="text-muted">
                  Help you find the right house in the right place at the right
                  price.
                </li>
                <li class="text-muted">Manage paperwork.</li>
                <li class="text-muted">Negotiate with sellers.</li>
                <li class="text-muted">Negotiate with sellers.</li>
              </ul>
              <p class="text-muted">
                With an approval letter and listings from your agent, you’ll be
                ready to start hitting those open houses.
              </p>
              <div class="border-bottom py-4"></div>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Popular Loans Options for First-Time Home Buyers
              </h6>
              <p class="text-muted">
                Here are some common situations that often apply to people
                getting their first home loan, and possible options. You may
                qualify for more than one; we’ll help you find what’s best for
                you.
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  Want payment and interest rate stability? With a 30-Year
                  Fixed, your interest rate and monthly payments (before taxes
                  and insurance) won’t change, and you can buy a home with as
                  little as 3% down.
                </li>
                <li class="text-muted">
                  Don’t have a lot of credit history, or worried it’s not good
                  enough? FHA loans have more lenient credit and income
                  requirements, and your down payment can be as low as 3.5%.
                </li>
                <li class="text-muted">
                  Think you’ll only be in a starter home for a few years? An
                  adjustable rate mortgage gives you a low fixed interest rate –
                  which means lower monthly payments – for the first few years
                  of your mortgage.
                </li>
                <li class="text-muted">
                  Are you a veteran or currently serving? You may qualify for a
                  VA Loan and be able to buy a home with zero down.
                </li>
              </ul>
            </div> -->
            <!-- <div
              class="tab-pane fade"
              id="v-pills-settings"
              role="tabpanel"
              aria-labelledby="v-pills-settings-tab"
            >
              <h3 class="font-weight-bold text-primary pb-4">
                I’m Wondering How It
              </h3>
              <p class="text-muted">
                Whether a new home is a few years off or you’re shopping now, we
                can help you understand your options and get the right mortgage
                for your situation.
              </p>
              <h6 class="font-weight-bold text-primary pb-2">
                I’m Wondering How It Works
              </h6>
              <p class="text-muted">
                Our Home Buyer’s Guide takes the mystery out of getting your
                first home loan. We break down the process so it’s less
                overwhelming and easier to understand.
              </p>
              <a class="text-decoration text-primary text-underline" href="#"
                >Find Out How Buying a Home Works</a
              >
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                I’m Putting Together a Budget
              </h6>
              <p class="text-muted">
                Our calculators help you estimate what you can afford, how much
                of a down payment you’ll need, what your monthly payment could
                be, and how much interest you’ll pay over the life of a loan.
              </p>

              <ul class="list-unstyled arrow-list pl-3">
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate How Much I Can Afford</a
                  >
                </li>
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate My Mortgage Payments</a
                  >
                </li>
              </ul>
              <h6 class="font-weight-bold text-primary py-4">
                I’m Actively Shopping for a New Home
              </h6>
              <p class="text-muted">
                If a move is in your near future, these are the two most
                important things you should do first. They’ll put you in the
                hands of experts who help people like you become a homeowner for
                the first time every day.
              </p>
              <p class="text-muted">
                First, get approved for a loan. Doing this before looking at
                houses helps you a lot. Here are some of the benefits:
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  You’ll get an approval letter that shows real estate agents
                  and sellers you’re able to afford a house.
                </li>
                <li class="text-muted">
                  You’ll find out how much house you can afford.
                </li>
                <li class="text-muted">
                  It makes the rest of the mortgage process smoother and easier.
                </li>
              </ul>
              <a class="text-primary text-underline d-block" href="#"
                >Apply now with Rocket Mortgage.</a
              >
              <a class="text-primary text-underline" href="#"
                >Learn what happens when you apply.</a
              >
              <p class="text-muted mt-3">
                <strong> Next, find a real estate agent.</strong> After you
                apply and get approved, choose a real estate agent. They’re
                another great source of experience and knowledge when it comes
                to how to buy a home. You can expect your agent to do these
                things:
              </p>
              <ul class="list-unstyled arrow-list pl-3 mb-0">
                <li class="text-muted">
                  Help you find the right house in the right place at the right
                  price.
                </li>
                <li class="text-muted">Manage paperwork.</li>
                <li class="text-muted">Negotiate with sellers.</li>
                <li class="text-muted">Negotiate with sellers.</li>
              </ul>
              <p class="text-muted">
                With an approval letter and listings from your agent, you’ll be
                ready to start hitting those open houses.
              </p>
              <div class="border-bottom py-4"></div>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Popular Loans Options for First-Time Home Buyers
              </h6>
              <p class="text-muted">
                Here are some common situations that often apply to people
                getting their first home loan, and possible options. You may
                qualify for more than one; we’ll help you find what’s best for
                you.
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  Want payment and interest rate stability? With a 30-Year
                  Fixed, your interest rate and monthly payments (before taxes
                  and insurance) won’t change, and you can buy a home with as
                  little as 3% down.
                </li>
                <li class="text-muted">
                  Don’t have a lot of credit history, or worried it’s not good
                  enough? FHA loans have more lenient credit and income
                  requirements, and your down payment can be as low as 3.5%.
                </li>
                <li class="text-muted">
                  Think you’ll only be in a starter home for a few years? An
                  adjustable rate mortgage gives you a low fixed interest rate –
                  which means lower monthly payments – for the first few years
                  of your mortgage.
                </li>
                <li class="text-muted">
                  Are you a veteran or currently serving? You may qualify for a
                  VA Loan and be able to buy a home with zero down.
                </li>
              </ul>
            </div> -->
            <!-- <div
              class="tab-pane fade"
              id="v-pills-5"
              role="tabpanel"
              aria-labelledby="v-pills-5-tab"
            >
              <h3 class="font-weight-bold text-primary pb-4">
                I’m Wondering How It
              </h3>
              <p class="text-muted">
                Whether a new home is a few years off or you’re shopping now, we
                can help you understand your options and get the right mortgage
                for your situation.
              </p>
              <h6 class="font-weight-bold text-primary pb-2">
                I’m Wondering How It Works
              </h6>
              <p class="text-muted">
                Our Home Buyer’s Guide takes the mystery out of getting your
                first home loan. We break down the process so it’s less
                overwhelming and easier to understand.
              </p>
              <a class="text-decoration text-primary text-underline" href="#"
                >Find Out How Buying a Home Works</a
              >
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                I’m Putting Together a Budget
              </h6>
              <p class="text-muted">
                Our calculators help you estimate what you can afford, how much
                of a down payment you’ll need, what your monthly payment could
                be, and how much interest you’ll pay over the life of a loan.
              </p>

              <ul class="list-unstyled arrow-list pl-3">
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate How Much I Can Afford</a
                  >
                </li>
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate My Mortgage Payments</a
                  >
                </li>
              </ul>
              <h6 class="font-weight-bold text-primary py-4">
                I’m Actively Shopping for a New Home
              </h6>
              <p class="text-muted">
                If a move is in your near future, these are the two most
                important things you should do first. They’ll put you in the
                hands of experts who help people like you become a homeowner for
                the first time every day.
              </p>
              <p class="text-muted">
                First, get approved for a loan. Doing this before looking at
                houses helps you a lot. Here are some of the benefits:
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  You’ll get an approval letter that shows real estate agents
                  and sellers you’re able to afford a house.
                </li>
                <li class="text-muted">
                  You’ll find out how much house you can afford.
                </li>
                <li class="text-muted">
                  It makes the rest of the mortgage process smoother and easier.
                </li>
              </ul>
              <a class="text-primary text-underline d-block" href="#"
                >Apply now with Rocket Mortgage.</a
              >
              <a class="text-primary text-underline" href="#"
                >Learn what happens when you apply.</a
              >
              <p class="text-muted mt-3">
                <strong> Next, find a real estate agent.</strong> After you
                apply and get approved, choose a real estate agent. They’re
                another great source of experience and knowledge when it comes
                to how to buy a home. You can expect your agent to do these
                things:
              </p>
              <ul class="list-unstyled arrow-list pl-3 mb-0">
                <li class="text-muted">
                  Help you find the right house in the right place at the right
                  price.
                </li>
                <li class="text-muted">Manage paperwork.</li>
                <li class="text-muted">Negotiate with sellers.</li>
                <li class="text-muted">Negotiate with sellers.</li>
              </ul>
              <p class="text-muted">
                With an approval letter and listings from your agent, you’ll be
                ready to start hitting those open houses.
              </p>
              <div class="border-bottom py-4"></div>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Popular Loans Options for First-Time Home Buyers
              </h6>
              <p class="text-muted">
                Here are some common situations that often apply to people
                getting their first home loan, and possible options. You may
                qualify for more than one; we’ll help you find what’s best for
                you.
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  Want payment and interest rate stability? With a 30-Year
                  Fixed, your interest rate and monthly payments (before taxes
                  and insurance) won’t change, and you can buy a home with as
                  little as 3% down.
                </li>
                <li class="text-muted">
                  Don’t have a lot of credit history, or worried it’s not good
                  enough? FHA loans have more lenient credit and income
                  requirements, and your down payment can be as low as 3.5%.
                </li>
                <li class="text-muted">
                  Think you’ll only be in a starter home for a few years? An
                  adjustable rate mortgage gives you a low fixed interest rate –
                  which means lower monthly payments – for the first few years
                  of your mortgage.
                </li>
                <li class="text-muted">
                  Are you a veteran or currently serving? You may qualify for a
                  VA Loan and be able to buy a home with zero down.
                </li>
              </ul>
            </div> -->
            <!-- <div
              class="tab-pane fade"
              id="v-pills-6"
              role="tabpanel"
              aria-labelledby="v-pills-6-tab"
            >
              <h3 class="font-weight-bold text-primary pb-4">
                I’m Wondering How It
              </h3>
              <p class="text-muted">
                Whether a new home is a few years off or you’re shopping now, we
                can help you understand your options and get the right mortgage
                for your situation.
              </p>
              <h6 class="font-weight-bold text-primary pb-2">
                I’m Wondering How It Works
              </h6>
              <p class="text-muted">
                Our Home Buyer’s Guide takes the mystery out of getting your
                first home loan. We break down the process so it’s less
                overwhelming and easier to understand.
              </p>
              <a class="text-decoration text-primary text-underline" href="#"
                >Find Out How Buying a Home Works</a
              >
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                I’m Putting Together a Budget
              </h6>
              <p class="text-muted">
                Our calculators help you estimate what you can afford, how much
                of a down payment you’ll need, what your monthly payment could
                be, and how much interest you’ll pay over the life of a loan.
              </p>

              <ul class="list-unstyled arrow-list pl-3">
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate How Much I Can Afford</a
                  >
                </li>
                <li>
                  <a class="text-primary text-underline" href="#"
                    >Calculate My Mortgage Payments</a
                  >
                </li>
              </ul>
              <h6 class="font-weight-bold text-primary py-4">
                I’m Actively Shopping for a New Home
              </h6>
              <p class="text-muted">
                If a move is in your near future, these are the two most
                important things you should do first. They’ll put you in the
                hands of experts who help people like you become a homeowner for
                the first time every day.
              </p>
              <p class="text-muted">
                First, get approved for a loan. Doing this before looking at
                houses helps you a lot. Here are some of the benefits:
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  You’ll get an approval letter that shows real estate agents
                  and sellers you’re able to afford a house.
                </li>
                <li class="text-muted">
                  You’ll find out how much house you can afford.
                </li>
                <li class="text-muted">
                  It makes the rest of the mortgage process smoother and easier.
                </li>
              </ul>
              <a class="text-primary text-underline d-block" href="#"
                >Apply now with Rocket Mortgage.</a
              >
              <a class="text-primary text-underline" href="#"
                >Learn what happens when you apply.</a
              >
              <p class="text-muted mt-3">
                <strong> Next, find a real estate agent.</strong> After you
                apply and get approved, choose a real estate agent. They’re
                another great source of experience and knowledge when it comes
                to how to buy a home. You can expect your agent to do these
                things:
              </p>
              <ul class="list-unstyled arrow-list pl-3 mb-0">
                <li class="text-muted">
                  Help you find the right house in the right place at the right
                  price.
                </li>
                <li class="text-muted">Manage paperwork.</li>
                <li class="text-muted">Negotiate with sellers.</li>
                <li class="text-muted">Negotiate with sellers.</li>
              </ul>
              <p class="text-muted">
                With an approval letter and listings from your agent, you’ll be
                ready to start hitting those open houses.
              </p>
              <div class="border-bottom py-4"></div>
              <h6 class="font-weight-bold text-primary pt-4 pb-2">
                Popular Loans Options for First-Time Home Buyers
              </h6>
              <p class="text-muted">
                Here are some common situations that often apply to people
                getting their first home loan, and possible options. You may
                qualify for more than one; we’ll help you find what’s best for
                you.
              </p>
              <ul class="list-unstyled arrow-list pl-3">
                <li class="text-muted">
                  Want payment and interest rate stability? With a 30-Year
                  Fixed, your interest rate and monthly payments (before taxes
                  and insurance) won’t change, and you can buy a home with as
                  little as 3% down.
                </li>
                <li class="text-muted">
                  Don’t have a lot of credit history, or worried it’s not good
                  enough? FHA loans have more lenient credit and income
                  requirements, and your down payment can be as low as 3.5%.
                </li>
                <li class="text-muted">
                  Think you’ll only be in a starter home for a few years? An
                  adjustable rate mortgage gives you a low fixed interest rate –
                  which means lower monthly payments – for the first few years
                  of your mortgage.
                </li>
                <li class="text-muted">
                  Are you a veteran or currently serving? You may qualify for a
                  VA Loan and be able to buy a home with zero down.
                </li>
              </ul>
            </div> -->
          </div>

          <div class="border-bottom py-4 mb-4"></div>
          <div class="flex-lg-row Mortgage-talk rounded flex-column">
            <div class="mr-4">
              <div class="small-box mb-3">
                <img src="assets/images/support.png" />
              </div>
            </div>
            <div>
              <h3 class="text-primary font-weight-normal mb-3">
                Mortgage Rate Updates & Featured<br />
                Mortgage Or
                <span class="text-secondary">Request A Call Back Today</span>
              </h3>
              <button
                type="submit"
                class="btn btn-secondary text-uppercase text-white px-5"
              >
                Talk Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
