<div class="main-content">
  <h2>Great! Is your ETS date within the next 12 months?</h2>
  <h6>ETS stands for expirstion term of service.</h6>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <button type="button" class="btn btn-primary btn-style">Yes</button>
    <button type="button" class="btn btn-primary btn-style">No</button>
    <input type="date" class="form-control form-style" />

    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn" id="btn-next">Next</button>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a href="">Log in</a></p>
    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
