<main>
  <section class="home-guides-sec py-5 text-center">
    <div class="container">
      <h3 class="font-weight-bold text-white">Refinance Guide</h3>
    </div>
  </section>
  <h1 class="font-weight-bold text-primary text-center py-4 border-bottom">
    The Appraisal and Underwriting Process
  </h1>
  <div class="container">
    <section class="page-order-sec py-2">
      <p class="m-0 text-muted">
        <a
          [routerLink]="['/app/home']"
          class="text-decoration-none text-primary"
          >Home </a
        ><i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/refinance-guide']"
          class="text-decoration-none text-muted"
        >
          Refinance
        </a>
        <i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/refinance-guide']"
          class="text-decoration-none text-muted"
        >
          Refinance Guide
        </a>
      </p>
    </section>

    <section class="py-2">
      <div class="d-flex justify-content-between">
        <h5 class="font-weight-bold text-primary py-4">
          Refinancing Step-by-Step
        </h5>
        <div class="text-center">
          <img height="40" src="assets/images/guides.svg" />
          <p class="small">View All Guides</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 mb-3 mb-lg-0">
          <div
            class="nav flex-column nav-pills border nav-guides rounded"
            id="v-pills-tab"
            role="tablist"
            aria-orientation="vertical"
          >
            <a
              class="nav-link"
              [routerLink]="['/app/prepare-for-your-mortgage-refinance']"
              role="tab"
              aria-controls="v-pills-home"
              aria-selected="true"
              >1. Prepare for Your Mortgage
              <span class="ml-3 d-block">Refinance</span></a
            >
            <a
              class="nav-link"
              [routerLink]="['/app/explore-your-refinance-options']"
              >2. Explore Your Refinance
              <span class="ml-3 d-block">Options</span>
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/apply-for-a-refinance-loan']"
              role="tab"
              aria-controls="v-pills-messages"
              aria-selected="false"
              >3. Apply for a Refinance Loan
              <span class="ml-3 d-block">Loan</span></a
            >
            <a
              class="nav-link active"
              [routerLink]="['/app/the-appraisal-underwriting-process']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >4. The Appraisal and Underwriting
              <span class="ml-3 d-block">Process</span>
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/close-on-the-loan']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >5. Close on the Loan
            </a>
            <a
              class="nav-link"
              [routerLink]="['/app/manage-your-refinance']"
              role="tab"
              aria-controls="v-pills-settings"
              aria-selected="false"
              >6. Manage Your Refinance
              <span class="ml-3 d-block">Offer</span>
            </a>
          </div>

          <div
            class="border border-primary px-3 py-4 rounded mt-4 d-none d-lg-block"
          >
            <h6 class="font-weight-bold text-primary py-2">
              Find answers quickly online
            </h6>
            <a
              href=""
              class="text-uppercase text-secondary d-block featanimbtn pt-2"
              >GET STARTED <i class="fas fa-long-arrow-alt-right ml-2"></i
            ></a>
          </div>
          <div class="bg-gray px-3 py-4 rounded mt-4 d-none d-lg-block">
            <h3 class="text-primary pb-2">Talk to a Home Loan Expert</h3>
            <button
              type="submit"
              class="btn btn-secondary text-uppercase text-white px-5"
            >
              Talk Now
            </button>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="tab-content" id="v-pills-tabContent">
            <div
              class="tab-pane fade show active"
              id="v-pills-home"
              role="tabpanel"
              aria-labelledby="v-pills-home-tab"
            >
              <h6 class="font-weight-bold text-primary pb-4">
                Your Mortgage Refinance Appraisal
              </h6>
              <p class="text-muted">
                Once your appraisal value is received, you and your mortgage
                lender may have some adjustments to make in the refinance
                scenario to finalize the loan amount. The appraisal is one of
                the most important pieces of a refinance. So, it’s important to
                research recent sales in your neighborhood before you start your
                refinance. Your realtor may be able with an MLS search and send
                you recent sales from the neighborhood. This allows you to
                review some comparison sales the appraiser may be using.
              </p>

              <ul>
                <li>
                  <b>What if my appraisal comes in low? </b>
                  <p>
                    If it comes in so low that you need to add mortgage
                    insurance and a refinance no longer makes sense, you can
                    cancel the refinance. You may also need to cancel the
                    mortgage if your loan-to-value no longer qualifies you for a
                    refinance. Canceling the refinance is an unfortunate outcome
                    and you will not be refunded the appraisal fee. If you have
                    plenty of equity in your home already, a low home appraisal
                    may not result in any issues with your loan.
                  </p>
                </li>
                <li>
                  <b>What if my appraisal comes in higher than anticipated?</b>
                  <p>
                    A higher than estimated appraisal is great news, but it
                    won’t affect your refinance unless it eliminates the need
                    for mortgage insurance.
                  </p>
                </li>
              </ul>
              <p>
                Once you submit all your documentation and your appraisal has
                been received, your loan file will be sent to underwriting. Just
                as in a purchase, the underwriter will do an initial review and
                issue a conditional approval. Once you and your mortgage lender
                gather the documents requested by the mortgage lender, the
                underwriter will issue a final approval and you’re one step
                closer to closing.
              </p>
            </div>
          </div>

          <div class="border-bottom py-4 mb-4"></div>
          <div class="flex-lg-row Mortgage-talk rounded flex-column">
            <div class="mr-4">
              <div class="small-box mb-3">
                <img src="assets/images/support.png" />
              </div>
            </div>
            <div>
              <h3 class="text-primary font-weight-normal mb-3">
                Mortgage Rate Updates & Featured<br />
                Mortgage Or
                <span class="text-secondary">Request A Call Back Today</span>
              </h3>
              <button
                type="submit"
                class="btn btn-secondary text-uppercase text-white px-5"
              >
                Talk Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
