<main>
  <!-- <section class="loan-option-sec py-5 text-center">
    <div class="container">
      <h1 class="font-weight-bold display-3 text-primary mb-3">Loan Options</h1>
      <h4 class="text-muted font-weight-normal">
        By Lowering down your payment, you can save money. Start saving today
        and <br />
        spend on other important things in life.
      </h4>
    </div>
  </section> -->

  <div class="inner-heading-sec position-relative">
    <div class="container">
      <div class="row pt-5">
        <div class="col-lg-8">
          <h1
            class="border-left-2px text-primary font-weight-bold display-3 mb-4"
          >
            Our Most popular<br />
            Loan Option
          </h1>
          <h4
            class="text-muted font-weight-normal pb-4"
            style="margin-left: 20px"
          >
            Best Mortgage if you want
          </h4>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
    <img
      class="special-img d-lg-block d-none"
      src="assets/images/loan-bg.png"
      alt=""
    />
  </div>

  <div class="container">
    <section class="page-order-sec py-3 mb-4">
      <a href="#" class="text-decoration-none text-dark">Home </a
      ><i class="fa fa-angle-right"></i>
      <a routerLink="/app/loan-options" class="text-decoration-none text-dark">
        Loan Options
      </a>
      <span class="text-muted mr-3 d-inline-block text-dark">
        <i class="fa fa-angle-right"></i>
        <a href="#" class="text-decoration-none text-dark"
          >Loan Options Overview
        </a>
      </span>
    </section>
  </div>

  <!-- <h2 class="font-weight-bold text-primary display-6 text-center mb-3">
    Great Mortgage Option
  </h2> -->

  <div class="bg-primary">
    <div class="container">
      <div class="table-responsive">
        <table class="table mb-0">
          <thead class="text-white">
            <tr>
              <th
                align="center"
                class="border-0"
                style="font-size: 27px; width: 28.78%"
              >
                Quicken Mortgage&reg; Options
              </th>
              <th
                align="center"
                style="width: 10%; text-align: center"
                class="border-0 font-weight-normal"
              >
                Easier <br />
                Qualification
              </th>
              <th
                align="center"
                style="width: 10%; text-align: center"
                class="border-0 font-weight-normal"
              >
                Loan <br />
                Flexibility
              </th>
              <th
                align="center"
                style="width: 10%; text-align: center"
                class="border-0 font-weight-normal"
              >
                Rate <br />
                Security
              </th>
              <th
                align="center"
                style="width: 10%; text-align: center"
                class="border-0 font-weight-normal"
              >
                Lower <br />
                Equity/Money <br />
                Down
              </th>
              <th align="center" style="width: 18%" class="border-0">&nbsp;</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="table-responsive">
      <table class="table table-bordered table-loan">
        <tr>
          <td style="width: 28%; padding-right: 72px">
            <h6 class="text-primary font-weight-bold">FHA Loan</h6>
            <p class="text-muted text-justify">
              You may qualify for an FHA loan with a lower credit score than
              other loans, and a down payment as low as 3.5%.
            </p>
          </td>
          <td valign="middle" style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%; text-align: center" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 18%" align="center">
            <button
              class="btn btn-secondary text-uppercase text-white"
              [routerLink]="['/app/buy-a-home-loan-options-animated']"
            >
              Apply Now
            </button>
          </td>
        </tr>

        <tr>
          <td style="padding-right: 72px">
            <h6 class="text-primary font-weight-bold">
              30-Year Fixed Mortgage
            </h6>
            <p class="text-muted text-justify">
              Monthly payments spread over 30 years with a stable fixed rate are
              lower compared to loans with shorter terms.
            </p>
          </td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 18%" align="center">
            <button
              class="btn btn-secondary text-uppercase text-white"
              [routerLink]="['/app/buy-a-home-loan-options-animated']"
            >
              Apply Now
            </button>
          </td>
        </tr>
        <tr>
          <td style="padding-right: 72px">
            <h6 class="text-primary font-weight-bold">
              15-Year Fixed Mortgage
            </h6>
            <p class="text-muted text-justify">
              You pay less interest when monthly payments are spread over 15
              years because you pay off your loan faster.
            </p>
          </td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 18%" align="center">
            <button
              class="btn btn-secondary text-uppercase text-white"
              [routerLink]="['/app/buy-a-home-loan-options-animated']"
            >
              Apply Now
            </button>
          </td>
        </tr>
        <tr>
          <td style="padding-right: 72px">
            <h6 class="text-primary font-weight-bold">
              Adjustable Rate Mortgage
            </h6>
            <p class="text-muted text-justify">
              Get a low fixed interest rate and lower monthly payments for the
              first 5, 7 or 10 years.
            </p>
          </td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 18%" align="center">
            <button
              class="btn btn-secondary text-uppercase text-white"
              [routerLink]="['/app/buy-a-home-loan-options-animated']"
            >
              Apply Now
            </button>
          </td>
        </tr>
        <tr>
          <td style="padding-right: 72px">
            <h6 class="text-primary font-weight-bold">YOURgage&reg;</h6>
            <p class="text-muted text-justify">
              Choose a custom term with a fixed interest rate from 8 to 29 yeras
              that fits your financial golas.
            </p>
          </td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 18%" align="center">
            <button
              class="btn btn-secondary text-uppercase text-white"
              [routerLink]="['/app/buy-a-home-loan-options-animated']"
            >
              Apply Now
            </button>
          </td>
        </tr>
        <tr>
          <td style="padding-right: 72px">
            <h6 class="text-primary font-weight-bold">VA Loan</h6>
            <p class="text-muted text-justify">
              Qualified veterans, service members and spouses can finance up to
              100% of their loan and pay less at closing.
            </p>
          </td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 18%" align="center">
            <button
              class="btn btn-secondary text-uppercase text-white"
              [routerLink]="['/app/buy-a-home-loan-options-animated']"
            >
              Apply Now
            </button>
          </td>
        </tr>
        <tr>
          <td style="padding-right: 72px">
            <h6 class="text-primary font-weight-bold">Jumbo Loans</h6>
            <p class="text-muted text-justify">
              When you need a big loan – from $484,351 to $3,000,000 – you can
              save with a small interest rate.
            </p>
          </td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center"></td>
          <td style="width: 18%" align="center">
            <button
              class="btn btn-secondary text-uppercase text-white"
              [routerLink]="['/app/buy-a-home-loan-options-animated']"
            >
              Apply Now
            </button>
          </td>
        </tr>
        <tr>
          <td style="padding-right: 72px">
            <h6 class="text-primary font-weight-bold">FHA Streamline</h6>
            <p class="text-muted text-justify">
              Already have an FHA loan and want a lower interest rate? An FHA
              Streamline refinance requires fewer steps and documents.
            </p>
          </td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 10%" align="center">
            <img src="assets/images/success.png" />
          </td>
          <td style="width: 18%" align="center">
            <button
              class="btn btn-secondary text-uppercase text-white"
              [routerLink]="['/app/buy-a-home-loan-options-animated']"
            >
              Apply Now
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</main>
