<div class="main-content">
  <h2>Great! We’ll make this smooth and painless. What stage are you in?</h2>
  <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
    <button
      type="button"
      class="btn btn-primary btn-style"
      [ngClass]="{ 'btn-active': data.whatStageAreyouIn == 1 }"
      (click)="changeTypeOfStage(1)"
    >
      I’m Still shopping for a new home!
    </button>
    <button
      type="button"
      class="btn btn-primary btn-style"
      [ngClass]="{ 'btn-active': data.whatStageAreyouIn == 2 }"
      (click)="changeTypeOfStage(2)"
    >
      I’m ready to make an offer!
    </button>
    <button
      type="button"
      class="btn btn-primary btn-style"
      [ngClass]="{ 'btn-active': data.whatStageAreyouIn == 3 }"
      (click)="changeTypeOfStage(3)"
    >
      I have a signed purchase contract!
    </button>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a href="">Log in</a></p>
    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
