<div class="Content-Step-Body text-black">
  <div class="container">
    <h1 class="MORTGAGE">EZ ONLINE MORTGAGE</h1>
    <h3 class="purchasing">Are you purchasing or refinancing a home?</h3>
    <h5 class="Homebuying">
      Homebuying just got easier. Get prequalified today, start shopping
      tonight!
    </h5>
    <div class="row justify-content-center">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <div class="BTN">
          <br /><br />
          <button
            type="button"
            class="btn btn-outline-orange btn-lg btn-block mb-3"
            [routerLink]="['/app/buy-a-home-animated-step1']"
          >
            BUY A HOME
          </button>
          <button
            type="button"
            class="btn btn-outline-blue btn-lg btn-block mb-3"
            [routerLink]="['/app/refinance-step1']"
          >
            REFINANCE
          </button>
        </div>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <br /><br />
    <h6 class="information">
      <i class="fa fa-lock"></i> Your information is secure | No hassles | No
      obligations
    </h6>
  </div>
</div>
