<div class="main-content">
  <h2 class="little-space">
    The U.S Government requires us to ask these questions.
  </h2>
  <div class="content-area">
    <div class="row">
      <div class="col-md-10">
        <form action="" id="gov-details">
          <h6>What is your sex?</h6>
          <div class="radio-input-gov">
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Male</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Female</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>I do not wish to provide this information</p>
              </div>
            </div>
          </div>
          <h6>What is your ethnicity? (Check one or more)</h6>
          <div class="radio-input-gov">
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>No Hispanic or Latino</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Hispanic or Latino</p>
              </div>
            </div>
          </div>
          <div class="radio-input-gov-right">
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Maxican</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Maxican</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Puerto Rican</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Cuban</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Other Hispanic or Latino</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <input
                  type="text"
                  class="form-style form-control"
                  placeholder="Enter Other Hispanic or Latino (Optional)"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>I do not wish to provide this information</p>
              </div>
            </div>
          </div>
          <h6>What is your race? (Check one or more)</h6>
          <div class="radio-input-gov">
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>American Indian or Alaska Native</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <input
                  type="text"
                  class="form-style form-control"
                  placeholder="Enter Other Hispanic or Latino (Optional)"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Asian</p>
              </div>
            </div>
          </div>
          <div class="radio-input-gov-right">
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Asian Indian</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Chinese</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Filipino</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Japanese</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Korean</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Vietnamese</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Other Asian</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <input
                  type="text"
                  class="form-style form-control"
                  placeholder="Enter Other Hispanic or Latino (Optional)"
                />
              </div>
            </div>
          </div>
          <div class="radio-input-gov">
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Native Hawalian or Other Pacific Islander</p>
              </div>
            </div>
          </div>
          <div class="radio-input-gov-right">
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Native Hawalian</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Guamanian or Chamorro</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Samoan</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Other Pacific Islander</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <input
                  type="text"
                  class="form-style form-control"
                  placeholder="Enter Other Hispanic or Latino (Optional)"
                />
              </div>
            </div>
          </div>
          <div class="radio-input-gov">
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>Native Hawalian or Other Pacific Islander</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>White</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <input type="radio" class="form-style" placeholder="" />
                <p>I do not wish to Provide this Information</p>
              </div>
            </div>
          </div>
          <p class="terms">
            <span>The purpose of collecting this information</span> is to help
            ensure that all applicants are treated fairly and that the housing
            needs of communities and neighborhoods are being fulfilled. For
            residential mortgage lending, Federal law requires that we ask
            applicants for their demographic information (ethnicity, sex, and
            race) in order to monitor our compliance with equal credit
            opportunity, fair housing, and home mortgage disclosure laws. You
            are not required to provide this information, but are encouraged to
            do so. You may select one or more designations for <br />
            "Ethnicity" and one or more designations for "Race."
            <span>The law provides that we may not discriminate</span> on the
            basis of this information, or on whether you choose to provide it.
            However, if you choose not to provide the information and you have
            made this application in person, Federal regulations require us to
            note your ethnicity, sex, and race on the basis of visual
            observation or surname. The law also provides that we may not
            discriminate on the basis of age or marital status information you
            provide in this application. If you do not wish to provide some or
            all of this information, please check below.
          </p>
        </form>
      </div>
    </div>
  </div>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <button type="button" class="btn" id="btn-back">Back</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn" id="btn-next">Next</button>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a href="">Log in</a></p>
    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
