<div class="main-content">
  <h2>
    Do you have other sources of income? <img src="img/info.svg" alt="" />
  </h2>
  <h6 class="narrow-padding">
    Sources of income can include things like alimony, retirement, and social
    security. Click the info button to see a complete list.
  </h6>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <button type="button" class="btn btn-primary btn-style btn-active">
      Yes
    </button>
    <button type="button" class="btn btn-primary btn-style">No</button>

    <div class="row">
      <div class="col-md-12 margin-top">
        <button type="button" class="btn" id="btn-back">Back</button>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a href="">Log in</a></p>
    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
