<header id="main">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-6 col-sm-12 col-xs-12">
        <div class="logo-head">
          <a class="navbar-brand" [routerLink]="['/app/home']">
            <img src="assets/img/logo_app_loan.png" alt="" srcset="" />
          </a>
        </div>
      </div>
      <div class="col-md-8 col-lg-6 col-sm-12 col-xs-12">
        <div class="contact-head">
          <div class="right-content">
            <a href="tel:+15452663333"
              ><span class="tel-contact"
                ><img src="assets/img/telephone.svg" alt="" />
                <p>(800) 930-8195</p></span
              ></a
            >
            <a href="mailto:support@admin.com"
              ><span class="email-contact"
                ><img src="assets/img/email.svg" alt="" />
                <p>Email Us</p></span
              ></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
