<div class="Content-Step-Body text-black">
  <div class="container">
    <h1 class="font-weight-bold">How will your property be used?</h1>
    <br />
    <div class="row justify-content-center">
      <div class="col-lg-4" id="back">
        <p
          class="fa fa-angle-left cursor_pointer"
          (click)="proceedToPrevious()"
        >
          <span style="margin-left: 5px">Back</span>
        </p>
      </div>
      <div class="col-lg-4 px-0">
        <div class="px-0">
          <button
            type="button"
            class="btn btn-outline-blue btn-lg btn-block mb-3 btn_mwh"
            (click)="proceedToNext('Primary Residence')"
            [class.selected]="formData.PropertyUse == 'Primary Residence'"
          >
            Primary Residence
          </button>
          <button
            type="button"
            class="btn btn-outline-blue btn-lg btn-block mb-3 btn_mwh"
            (click)="proceedToNext('Secondary Home')"
            [class.selected]="formData.PropertyUse == 'Secondary Home'"
          >
            Secondary Home
          </button>
          <button
            type="button"
            class="btn btn-outline-blue btn-lg btn-block mb-3 btn_mwh"
            (click)="proceedToNext('Investment Property')"
            [class.selected]="formData.PropertyUse == 'Investment Property'"
          >
            Investment Property
          </button>
        </div>
      </div>
      <div class="col-lg-4 right-back-btn pt-5">
        <p class="fa fa-angle-left" (click)="proceedToPrevious()">
          <span style="margin-left: 10px">Back</span>
        </p>
      </div>
    </div>

    <div class="gage-chart-blue p16 mt-5 d-lg-flex d-none">
      <span>16%</span>
    </div>
  </div>
</div>
