<main>
  <section class="bg-section-light py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1
            class="display-3 heading-border font-weight-bold text-primary mb-2 mt-2"
          >
            Pay Your Mortgage
            <br class="d-none d-sm-block" />
            Faster
          </h1>
          <h4 class="text-muted font-weight-normal pb-4">
            You can own your home free and clear in just 15 years if you
            refinance now to a shorter term loan. With interest rates so low, a
            shorter term home loan may be within your reach.
          </h4>
          <a
            class="btn btn-secondary btn-lg ref-btn animbtn btn-animate"
            [routerLink]="['/app/buy-a-home-loan-options-animated']"
            role="button"
            >pre - qualify now <i class="fas fa-long-arrow-alt-right"></i
          ></a>
        </div>
        <div class="col-lg-4 align-self-center">
          <img class="img-fluid" src="assets/images/loan-img-11.png" alt="" />
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <section class="page-order-sec py-3 mb-5">
      <span>
        <a [routerLink]="['/app/home']" class="text-decoration-none">Home </a
        ><i class="fa fa-angle-right"></i>
        <a [routerLink]="['/app/loan-options']" class="text-decoration-none">
          Refinance </a
        ><i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/pay-off-your-mortgage-faster']"
          class="text-decoration-none"
        >
          Pay off Your Mortgage Faster
        </a>
      </span>
    </section>
  </div>

  <div class="container mb-4">
    <h5 class="text-secondary">Know About</h5>
    <h2 class="font-weight-bold text-primary">Pay Off Your Mortgage Faster</h2>
    <p class="">
      Imagine how it would feel to be debt and mortgage-free, the peace of mind
      you’d have knowing that your house is all paid off. We’ve got some good
      news for you: it’s possible! Pay off your mortgage faster with help from
      EZ Online Mortgage!
    </p>
    <h2 class="font-weight-bold text-primary">
      How Can You Pay Off Mortgages Faster?
    </h2>
    <p class="">
      Did you know that home loans can keep going on for as long as you want
      them to, whether you are on a 30-year, 15-year, or a 10-year installment
      plan? It may not seem like it, but you are in control of the amount of
      money you spend on your home loan per month. With some professional help
      and planning from our team at EZ Online Mortgage, you can pay off your
      loan early. And with mortgage pre-approval, we guarantee that we’ll be
      able to find you a new, better mortgage plan, or help you adjust yours.
      Pay off your mortgage early with EZ Online Mortgage.
    </p>
    <h2 class="font-weight-bold text-primary">
      How EZ Online Mortgage Can Help You Pay Off Mortgage Faster
    </h2>
    <p class="">
      Wondering how to pay off a mortgage faster? Our goal at EZ Online Mortgage
      is to save you money. We want to provide you with the best mortgage plan
      for your financial needs—at the lowest rates possible!
    </p>
    <ng-container *ngIf="visible">
      <div>
        <p class="">
          Let our team of seasoned experts walk you through different payment
          plan options, or explain to you how refinancing can save you hundreds
          of dollars each month and help you pay off your loan early. No matter
          what your current financial situation or status as a homeowner, we
          have a mortgage solution just for you. There are many reasons why EZ
          Online Mortgage is your best choice if you want to pay off your
          mortgage faster. First of all, we provide mortgage service all over
          California, giving you the convenience of having a consultant near
          you. We make the loan process simple and easy as can be. You can sign
          your loan documents online or send them to us via fax, and you can
          even close your purchase loan at your home or office—whichever is most
          convenient for you! Our home loan experts are available to answer your
          questions and address your concerns. Contact EZ Online Mortgage today
          for a free, expert consultation or apply online for a free instant
          rate quote.
        </p>
      </div>
    </ng-container>

    <a
      (click)="onclick()"
      class="text-uppercase text-secondary featanimbtn"
      role="button"
    >
      {{ ReadMore ? "Read More" : "Read
      Less" }}
      <i class="fas fa-long-arrow-alt-right"></i>
    </a>
  </div>

  <div class="container bg-section-light mb-4">
    <h5 class="text-secondary text-center pt-5">Know About</h5>
    <h3 class="font-weight-bold text-primary text-center">
      Want To Explore Your Options?
    </h3>
    <div class="row px-5 py-5">
      <div class="col-sm-6 mb-3">
        <div class="pre-box">
          <p class="text-white">
            At EZ Online, you can apply for a mortgage right from your laptop.
            Our simple online application lets you start and finish the process
            at your convenience, whenever you are ready.You don't have to talk
            to a loan officer--you can get our preliminary assessment of your
            eligibility right away using our high-speed technology.
          </p>
          <a
            [routerLink]="['/app/buy-a-home-loan-options-animated']"
            style="text-decoration: none"
          >
            <button class="btn btn-primary text-white text-uppercase">
              Apply Now
            </button>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="pre-box">
          <p class="text-white">
            If you would rather talk to a human than a computer,we
            understand.While we use the fatest and most up-to-date technology
            available,we also appreciate that a personal touch can sometime make
            a difference. You can talk to our friendly loan officers to ask
            about loan products and qualifications and ask all the question you
            want.
          </p>
          <a
            [routerLink]="['/app/buy-a-home-loan-options-animated']"
            style="text-decoration: none"
          >
            <button class="btn btn-primary text-white text-uppercase">
              Request a call <i class="fas fa-long-arrow-alt-right"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <section class="long-term text-center mt-5">
    <span
      class="text-white text-muted text-uppercase banner-scroll d-none d-lg-block position-absolute"
    >
      <a href="#section-submit">
        <i class="fa fa-long-arrow-left mr-4"></i>Get to Know Us</a
      >
    </span>

    <div class="container mx-auto px-2 px-md-4">
      <div class="d-flex align-items-center justify-content-center">
        <div class="col-lg-8">
          <video
            id="my_video_1"
            class="yimVideo video-js vjs-default-skin"
            style="width: 100%; height: 368px"
            height="368px"
            controls
            preload="none"
            data-setup='{ "aspectRatio":"630:360", "playbackRates": [1, 1.5, 2] }'
          >
            <source
              src="https://vjs.zencdn.net/v/oceans.mp4"
              type="video/mp4"
            />
            <source
              src="https://vjs.zencdn.net/v/oceans.webm"
              type="video/webm"
            />
          </video>
        </div>

        <img
          class="img-fluid img-poster"
          (click)="playVideo()"
          style="
            position: absolute;
            width: 794px;
            height: 368px;
            cursor: pointer;
          "
          src="assets/images/videoThumbnail.png"
        />
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h5 class="text-secondary">Know About</h5>
      <h2 class="text-primary">FAQ’s</h2>
      <div
        class="panel-group faq-panel"
        id="accordion"
        role="tablist"
        aria-multiselectable="true"
      >
        <div class="panel panel-default">
          <div class="panel-heading border-0" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a
                class="text-primary collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <i class="more-less fa fa-plus"></i>
                <i class="more-less fa fa-minus"></i>
                Does Pre-approval mean I am guaranteed to get a loan?
              </a>
            </h4>
          </div>
          <div
            id="collapseOne"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingOne"
          >
            <div class="panel-body">
              <p class="text-muted">
                Not necessarily. Pre-approval is a thorough investigation of
                your application for a mortgage loan. The result (if successful)
                will be a letter that indicates you are qualified for a mortgage
                at the amount you have requested. That doesn't always mean you
                will get final approval for the mortgage. Lots of other factors
                impact the mortgage approval process—the value of the home is
                key, as well as potential changes to your credit or employment
                status between pre-approval and final determination.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a
                class="collapsed text-primary"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <i class="more-less fa fa-plus"></i>
                <i class="more-less fa fa-minus"></i>
                How can I improve my chances of getting approved?
              </a>
            </h4>
          </div>
          <div
            id="collapseTwo"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingTwo"
          >
            <div class="panel-body">
              <p class="text-muted">
                Great question. One smart move is to check your credit reports
                before you start the application. If there is any incorrect
                information, you can begin the process of getting it resolved.
                Also, don’t open or close any credit accounts if you can avoid
                it—those actions can cause a temporary decrease in your score.
                The other thing that helps is to give us as much information as
                possible—fill out everything completely.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a
                class="collapsed text-primary"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <i class="more-less fa fa-plus"></i>
                <i class="more-less fa fa-minus"></i>
                What are points on a loan?
              </a>
            </h4>
          </div>
          <div
            id="collapseThree"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingThree"
          >
            <div class="panel-body">
              <p class="text-muted">
                A point on a loan is a price the borrower pays to lower the
                interest rate. A lender may offer a loan with a specific
                interest rate and a one-point fee. The "point" equals one
                percent of the loan total, paid in advance. It might make sense
                to pay the point to bring down the interest rate, especially if
                you plan to remain in the home over a long period.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a
                class="collapsed text-primary"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                <i class="more-less fa fa-plus"></i>
                <i class="more-less fa fa-minus"></i>
                Are interest rates and points the only things to consider when
                choosing a lender?
              </a>
            </h4>
          </div>
          <div
            id="collapseFour"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingFour"
          >
            <div class="panel-body">
              <p class="text-muted">
                No. There are numerous factors to evaluate when choosing your
                lender. Reputation is essential, and the costs of applying and
                completing the mortgage process. Also, look out for questionable
                practices like pre-payment penalties, which means the lender
                will charge you a fee if you pay the loan off early or
                refinance.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a
                class="collapsed text-primary"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <i class="more-less fa fa-plus"></i>
                <i class="more-less fa fa-minus"></i>
                How do I get a rate lock?
              </a>
            </h4>
          </div>
          <div
            id="collapseFive"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingFive"
          >
            <div class="panel-body">
              <p class="text-muted">
                A rate lock promises that the lender can complete the processing
                of your loan with the interest rate and points available on a
                particular day. The "lock" is valid for a period of time—usually
                30 or 60 days. Sometimes you can lock in the rate just by asking
                while you navigate through the approval process. Depending on
                the loan program, you might have to pay a fee to guarantee the
                rate.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- panel-group -->
    </div>
  </section>

  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center py-4">
          <div class="small-box m-auto">
            <img src="assets/images/monitor.png" />
          </div>
          <h3 class="text-primary font-weight-bold mt-4">Apply Now</h3>
        </div>
        <div class="col-sm-4 text-center py-4">
          <div class="small-box m-auto">
            <img src="assets/images/smartphone-call.png" />
          </div>
          <h3 class="text-primary font-weight-bold mt-4">Start Online</h3>
        </div>
        <div class="col-sm-4 text-center py-4">
          <div class="small-box m-auto">
            <img src="assets/images/messaging.png" />
          </div>
          <h3 class="text-primary font-weight-bold mt-4">Chat Now</h3>
        </div>
      </div>
    </div>
  </section>
</main>
