<div class="main-content">
  <h2>What’s your title and compensation?</h2>
  <h6>We have to ask! if you’re not exactly sure, your best guess is fine.</h6>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <form action="" id="employer-details">
      <input
        type="text"
        class="form-control form-style"
        placeholder="Job Title"
      />
      <input
        type="text"
        class="form-control form-style"
        placeholder="Estimated Annual Base Salery"
      />
      <input
        type="text"
        class="form-control form-style"
        placeholder="Estimated Annual Bonus"
      />
      <input
        type="text"
        class="form-control form-style"
        placeholder="Estimated Annual Commission"
      />
      <input
        type="text"
        class="form-control form-style"
        placeholder="Estimated Annual Overtime"
      />
    </form>
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <button type="button" class="btn" id="btn-back">Back</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn" id="btn-next">Next</button>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a href="">Log in</a></p>
    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
