@import url("./../index.component.css");
@import url("../../../../assets/new/css/main.css");
.btn :visited {
  border: 1px solid #091a52;
  background-color: #091a52;
  color: #fff;
}
.blue {
  border: 1px solid #091a52 !important;
  background-color: #091a52 !important;
  color: #fff !important;
}
#btn-back {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 5px 35px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #091a52;
  font-size: 16px;
  font-family: "Avenir";
  font-weight: 100;
}
#btn-back:hover {
  background-color: #f47741;
  color: #fff;
  border: 1px solid #f47741;
}
#btn-next {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 5px 35px;
  border-radius: 10px;
  background-color: #f47741;
  border: 1px solid #f47741;
  color: #fff;
  font-size: 16px;
  font-family: "Avenir";
  font-weight: 100;
}
#btn-next:hover {
  background-color: #f47741;
  color: #fff;
}
#btn-back-blue {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 5px 35px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #091a52;
  font-size: 16px;
  font-family: "Avenir";
  font-weight: 100;
}
#btn-back-blue:hover {
  background-color: #091a52;
  color: #fff;
  border: 1px solid #091a52;
}
#btn-next-blue {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 18px;
  padding: 5px 35px;
  border-radius: 10px;
  background-color: #091a52;
  border: 1px solid #091a52;
  color: #fff;
  font-size: 16px;
  font-family: "Avenir";
  font-weight: 100;
}
#btn-next-blue:hover {
  background-color: #091a52;
  color: #fff;
}
