<section class="content px-2">
  <div class="container">
    <div class="card my-5">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-12 mb-4">
              <h4>Manage Your Assets</h4>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-9">
                  <h5>Manual Asset Entry</h5>
                </div>
                <div class="col-3">
                  <button
                    class="btn btn-secondary float-right"
                    (click)="addAsset()"
                  >
                    Add Asset
                  </button>
                </div>
              </div>

              <hr class="mt-2 mb-3" />
              <p *ngIf="!data.length">
                Add assets manually with the Add Asset button.
              </p>

              <div class="col-12" formArrayName="manualAssetEntries">
                <div
                  class="row"
                  *ngFor="let asset of data; let i = index; trackBy: trackByFn"
                  [formGroupName]="i"
                >
                  <div class="col-12">
                    <h6 class="pull-left float-left">
                      {{ getAssetTypeById(asset.assetTypeId) }}
                    </h6>
                    <button
                      class="btn btn-danger mr-1 float-right pull-right"
                      (click)="removeAsset(i)"
                    >
                      Remove
                    </button>
                  </div>
                  <div class="col-12 mt-2">
                    <div class="row">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="assetTypeId-{{ i }}">
                            {{ "Select Type Of Asset" | localize }}
                          </label>
                          <select
                            class="form-control"
                            name="assetTypeId"
                            id="assetTypeId-{{ i }}"
                            formControlName="assetTypeId"
                          >
                            <option
                              [ngValue]="assetType.id"
                              *ngFor="let assetType of assetTypes"
                            >
                              {{ assetType.name }}
                            </option>
                          </select>
                        </div>
                      </div>
                      <div class="col-6" *ngIf="isApplyingWithCoBorrower">
                        <div class="form-group">
                          <label for="borrowerTypeId-{{ i }}">
                            {{ "Belongs To" | localize }}
                          </label>
                          <i
                            class="fa fa-info-circle ml-2"
                            aria-hidden="true"
                            tooltipPlacement="right"
                            tooltip="This Statement and any applicable supporting schedules may be completed jointly by both married and unmarried Co-Borrowers if their assets and liabilities are sufficiently joined so that the Statement can be meaningfully and fairly presented on a combined basis; otherwise, separate Statements and Schedules are required. If the Co-Borrower section was completed about a non-applicant spouse or other person, this Statement and supporting schedules must be completed about that spouse or other person also."
                          >
                          </i>
                          <select
                            class="form-control"
                            name="borrowerTypeId"
                            id="borrowerTypeId-{{ i }}"
                            formControlName="borrowerTypeId"
                          >
                            <option
                              [ngValue]="borrowerTypeId.id"
                              *ngFor="let borrowerTypeId of borrowerTypeIds"
                            >
                              {{ borrowerTypeId.name }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div
                        class="col-4"
                        *ngIf="[1, 4, 5].indexOf(asset.assetTypeId) !== -1"
                      >
                        <div class="form-group">
                          <label for="description-{{ i }}">
                            {{ "Description" | localize }}
                            <span class="text-danger">*</span>
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            name="description"
                            id="description-{{ i }}"
                            formControlName="description"
                          />
                          <validation-summary
                            [control]="
                              manualAssetEntries.controls[i].controls
                                .description
                            "
                          ></validation-summary>
                        </div>
                      </div>

                      <div
                        class="col-4"
                        *ngIf="[3, 11].indexOf(asset.assetTypeId) !== -1"
                      >
                        <div class="form-group">
                          <label for="bankName-{{ i }}">
                            {{ "Bank Name" | localize }}
                            <span class="text-danger">*</span>
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            name="bankName"
                            id="bankName-{{ i }}"
                            formControlName="bankName"
                          />
                          <validation-summary
                            [control]="
                              manualAssetEntries.controls[i].controls.bankName
                            "
                          ></validation-summary>
                        </div>
                      </div>

                      <div
                        class="col-4"
                        *ngIf="
                          [2, 6, 7, 8, 10, 13].indexOf(asset.assetTypeId) !== -1
                        "
                      >
                        <div class="form-group">
                          <label for="name-{{ i }}">
                            {{ "Name" | localize }}
                            <span class="text-danger">*</span>
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            name="name"
                            id="name-{{ i }}"
                            formControlName="name"
                          />
                          <validation-summary
                            [control]="
                              manualAssetEntries.controls[i].controls.name
                            "
                          ></validation-summary>
                        </div>
                      </div>

                      <div
                        class="col-4"
                        *ngIf="[9, 12].indexOf(asset.assetTypeId) === -1"
                      >
                        <div class="form-group">
                          <label for="accountNumber-{{ i }}">
                            {{ "Account Number" | localize }}
                            <span class="text-danger">*</span>
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            name="accountNumber"
                            id="accountNumber-{{ i }}"
                            formControlName="accountNumber"
                          />
                          <validation-summary
                            [control]="
                              manualAssetEntries.controls[i].controls
                                .accountNumber
                            "
                          ></validation-summary>
                        </div>
                      </div>

                      <div
                        class="col-4"
                        *ngIf="[9, 12].indexOf(asset.assetTypeId) === -1"
                      >
                        <div class="form-group">
                          <label for="cashValue-{{ i }}">
                            {{ "Cash Value" | localize }}
                            <span class="text-danger">*</span>
                          </label>
                          <input
                            type="text"
                            class="form-control"
                            name="cashValue"
                            id="cashValue-{{ i }}"
                            formControlName="cashValue"
                            placeholder="$"
                            prefix="$ "
                            mask="separator.2"
                            thousandSeparator=","
                          />
                          <validation-summary
                            [control]="
                              manualAssetEntries.controls[i].controls.cashValue
                            "
                          ></validation-summary>
                        </div>
                      </div>

                      <div class="col-12 row" *ngIf="asset.assetTypeId !== 12">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="address-{{ i }}">
                              {{ "Address" | localize }}
                              <span class="text-danger">*</span>
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="address"
                              id="address-{{ i }}"
                              formControlName="address"
                            />
                            <validation-summary
                              [control]="
                                manualAssetEntries.controls[i].controls.address
                              "
                            ></validation-summary>
                          </div>
                        </div>

                        <div class="col-6">
                          <div class="form-group">
                            <label for="address2-{{ i }}">
                              {{ "Address 2" | localize }}
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="address2"
                              id="address2-{{ i }}"
                              formControlName="address2"
                            />
                          </div>
                        </div>

                        <div class="col-4">
                          <div class="form-group">
                            <label for="city-{{ i }}">
                              {{ "City" | localize }}
                              <span class="text-danger">*</span>
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="city"
                              id="city-{{ i }}"
                              formControlName="city"
                            />
                            <validation-summary
                              [control]="
                                manualAssetEntries.controls[i].controls.city
                              "
                            ></validation-summary>
                          </div>
                        </div>

                        <div class="col-4">
                          <div class="form-group">
                            <label for="stateId-{{ i }}">
                              {{ "State" | localize }}
                              <span class="text-danger">*</span>
                            </label>
                            <select
                              class="form-control"
                              name="stateId"
                              id="stateId-{{ i }}"
                              formControlName="stateId"
                            >
                              <option
                                [ngValue]="state.id"
                                *ngFor="let state of states"
                              >
                                {{ state.name }}
                              </option>
                            </select>
                            <validation-summary
                              [control]="
                                manualAssetEntries.controls[i].controls.stateId
                              "
                            ></validation-summary>
                          </div>
                        </div>

                        <div class="col-4">
                          <div class="form-group">
                            <label for="zipCode-{{ i }}">
                              {{ "Zip Code" | localize }}
                              <span class="text-danger">*</span>
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="zipCode"
                              id="zipCode-{{ i }}"
                              formControlName="zipCode"
                            />
                            <validation-summary
                              [control]="
                                manualAssetEntries.controls[i].controls.zipCode
                              "
                            ></validation-summary>
                          </div>
                        </div>
                      </div>

                      <div class="col-12 row" *ngIf="asset.assetTypeId === 9">
                        <div class="col-4">
                          <div class="form-group">
                            <label for="propertyStatus-{{ i }}">
                              {{ "Property Status" | localize }}
                              <span class="text-danger">*</span>
                            </label>
                            <select
                              class="form-control"
                              name="propertyStatus"
                              id="propertyStatus-{{ i }}"
                              formControlName="propertyStatus"
                            >
                              <option
                                [ngValue]="propertyStatus.id"
                                *ngFor="let propertyStatus of propertyStatuses"
                              >
                                {{ propertyStatus.name }}
                              </option>
                            </select>
                            <validation-summary
                              [control]="
                                manualAssetEntries.controls[i].controls
                                  .propertyStatus
                              "
                            ></validation-summary>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="propertyIsUsedAs-{{ i }}">
                              {{ "Property is used as" | localize }}
                              <span class="text-danger">*</span>
                            </label>
                            <select
                              class="form-control"
                              name="propertyIsUsedAs"
                              id="propertyIsUsedAs-{{ i }}"
                              formControlName="propertyIsUsedAs"
                            >
                              <option
                                [ngValue]="propertyIsUsedAs.id"
                                *ngFor="
                                  let propertyIsUsedAs of propertyIsUsedAsArr
                                "
                              >
                                {{ propertyIsUsedAs.name }}
                              </option>
                            </select>
                            <validation-summary
                              [control]="
                                manualAssetEntries.controls[i].controls
                                  .propertyIsUsedAs
                              "
                            ></validation-summary>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="propertyType-{{ i }}">
                              {{ "Property Type" | localize }}
                              <span class="text-danger">*</span>
                            </label>
                            <select
                              class="form-control"
                              name="propertyType"
                              id="propertyType-{{ i }}"
                              formControlName="propertyType"
                            >
                              <option
                                [ngValue]="propertyType.id"
                                *ngFor="let propertyType of propertyTypes"
                              >
                                {{ propertyType.name }}
                              </option>
                            </select>
                            <validation-summary
                              [control]="
                                manualAssetEntries.controls[i].controls
                                  .propertyType
                              "
                            ></validation-summary>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="presentMarketValue-{{ i }}">
                              {{ "Present Market Value" | localize }}
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="presentMarketValue"
                              id="presentMarketValue-{{ i }}"
                              formControlName="presentMarketValue"
                              placeholder="$"
                              prefix="$ "
                              mask="separator.2"
                              thousandSeparator=","
                            />
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="outstandingMortgageBalance-{{ i }}">
                              {{ "Outstanding Mortgage Balance" | localize }}
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="outstandingMortgageBalance"
                              id="outstandingMortgageBalance-{{ i }}"
                              formControlName="outstandingMortgageBalance"
                              placeholder="$"
                              prefix="$ "
                              mask="separator.2"
                              thousandSeparator=","
                            />
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="monthlyMortgagePayment-{{ i }}">
                              {{ "Monthly Mortgage Payment" | localize }}
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="monthlyMortgagePayment"
                              id="monthlyMortgagePayment-{{ i }}"
                              formControlName="monthlyMortgagePayment"
                              placeholder="$"
                              prefix="$ "
                              mask="separator.2"
                              thousandSeparator=","
                            />
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="purchasePrice-{{ i }}">
                              {{ "Purchase Price" | localize }}
                              <span class="text-danger">*</span>
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="purchasePrice"
                              id="purchasePrice-{{ i }}"
                              formControlName="purchasePrice"
                              placeholder="$"
                              prefix="$ "
                              mask="separator.2"
                              thousandSeparator=","
                            />
                            <validation-summary
                              [control]="
                                manualAssetEntries.controls[i].controls
                                  .purchasePrice
                              "
                            ></validation-summary>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="grossRentalIncome-{{ i }}">
                              {{ "Gross Rental Income" | localize }}
                              <span class="text-danger">*</span>
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="grossRentalIncome"
                              id="grossRentalIncome-{{ i }}"
                              formControlName="grossRentalIncome"
                              placeholder="$"
                              prefix="$ "
                              mask="separator.2"
                              thousandSeparator=","
                            />
                            <validation-summary
                              [control]="
                                manualAssetEntries.controls[i].controls
                                  .grossRentalIncome
                              "
                            ></validation-summary>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="taxesInsuranceAndOther-{{ i }}">
                              {{ "Taxes, Insurance, and Other" | localize }}
                              <span class="text-danger">*</span>
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="taxesInsuranceAndOther"
                              id="taxesInsuranceAndOther-{{ i }}"
                              formControlName="taxesInsuranceAndOther"
                              placeholder="$"
                              prefix="$ "
                              mask="separator.2"
                              thousandSeparator=","
                            />
                            <validation-summary
                              [control]="
                                manualAssetEntries.controls[i].controls
                                  .taxesInsuranceAndOther
                              "
                            ></validation-summary>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="col-12 mt-2"
                      formArrayName="stockAndBonds"
                      *ngIf="asset.assetTypeId === 12"
                    >
                      <div
                        class="row"
                        *ngFor="
                          let stockAndBond of asset.stockAndBonds;
                          let j = index;
                          trackBy: trackByFn
                        "
                        [formGroupName]="j"
                      >
                        <div class="col-4">
                          <div class="form-group">
                            <label for="companyName-{{ i }}-{{ j }}">
                              {{ "Company Name" | localize }}
                              <span class="text-danger">*</span>
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="companyName"
                              id="companyName-{{ i }}-{{ j }}"
                              formControlName="companyName"
                            />
                            <validation-summary
                              [control]="
                                manualAssetEntries.controls[i].controls
                                  .companyName
                              "
                            ></validation-summary>
                          </div>
                        </div>

                        <div class="col-4">
                          <div class="form-group">
                            <label for="accountNumber-{{ i }}-{{ j }}">
                              {{ "Account Number" | localize }}
                              <span class="text-danger">*</span>
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="accountNumber"
                              id="accountNumber-{{ i }}-{{ j }}"
                              formControlName="accountNumber"
                            />
                            <validation-summary
                              [control]="
                                manualAssetEntries.controls[i].controls
                                  .accountNumber
                              "
                            ></validation-summary>
                          </div>
                        </div>

                        <div class="col-4">
                          <div class="form-group">
                            <label for="value-{{ i }}-{{ j }}">
                              {{ "Value" | localize }}
                            </label>
                            <input
                              type="text"
                              class="form-control"
                              name="value"
                              id="value-{{ i }}-{{ j }}"
                              formControlName="value"
                              placeholder="$"
                              prefix="$ "
                              mask="separator.2"
                              thousandSeparator=","
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="col-12 mt-2 mb-3" />
                </div>
              </div>
            </div>
            <div class="col-12">
              <button class="btn btn-secondary" (click)="proceedToPrevious()">
                Back
              </button>
              <button
                class="btn btn-secondary float-right"
                (click)="proceedToNext()"
              >
                Next
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
