.active {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
.active {
  background: #091a52 !important;
  color: white !important;
  border-color: #091a52 !important;
}
.button-list {
  max-width: 100% !important;
}