<div class="main-content">
  <h2>Let's take a few seconds to review and confirm your info so far.</h2>
  <div class="content-area">
    <div class="row">
      <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
        <h6>Property Info</h6>
      </div>
      <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 right-align">
        <button type="button" class="btn" id="btn-edit">Edit</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="profile-details">
          <p>Address: 23315 Calvert Street</p>
          <p>City or Town: Los Angeles</p>
          <p>State: CA</p>
          <p>Zip Code: 91367</p>
          <p>County: Los Angeles</p>
          <p>Closing Date: 02/20/2022</p>
          <p>Estimated Home Price: $700,000</p>
          <p>Down Payment Amount: $200,000</p>
          <p>Down Payment Percent: 28%</p>
          <p>Estimated annual taxes: $7,000</p>
          <p>Estimated annual home insurance: $1,200</p>
          <p>Self-selected Credit Score: Excellent (740+)</p>
          <p>Legal First Name: Jeff</p>
          <p>Legal Last Name: Hill</p>
          <p>Phone Number: (213) 555-1212</p>
          <p>Email Address: jeff@aol.com</p>
          <p>Type of Home: Co-op</p>
          <p>Monthly HOA dues: $200</p>
          <p>Property Usage: Primary Residence</p>
          <p>Are you a current or former member of the US Military?: Yes</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <div class="row">
      <div class="col-md-3 offset-md-3 col-lg-3 offset-lg-3 col-sm-6 col-xs-6">
        <button type="button" class="btn" id="btn-back">Back</button>
      </div>
      <div class="col-md-2 col-lg-2 col-sm-6 col-xs-6">
        <button type="button" class="btn" id="btn-next">Next</button>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a href="">Log in</a></p>
    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
