<main>
  <section class="bg-section-light py-4 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1
            class="display-3 heading-border font-weight-bold text-primary mb-2 mt-2"
          >
            First Time Home <br />
            buyer <br class="d-none d-sm-block" />
            Advantage
          </h1>
          <h4 class="text-muted font-weight-normal pb-4">
            See your dream of homeownership come true using our helpful tools
            and special rates for first time homebuyers. EZ Online Mortgage can
            provide the support you need for your first successful mortgage
            application.
          </h4>

          <a
            class="btn btn-secondary btn-lg ref-btn animbtn btn-animate"
            [routerLink]="['/app/buy-a-home-loan-options-animated']"
            role="button"
            >pre - qualify now <i class="fas fa-long-arrow-alt-right"></i
          ></a>
        </div>
        <div class="col-lg-4"></div>
      </div>
    </div>
    <img
      class="special-img d-lg-block d-none"
      src="assets/images/loan-img-2.png"
      alt=""
    />
  </section>

  <div class="container">
    <section class="page-order-sec py-3 mb-5">
      <a [routerLink]="['/app/home']" class="text-decoration-none">Home </a
      ><i class="fa fa-angle-right"></i>
      <a [routerLink]="['/app/buying-home-guide']" class="text-decoration-none">
        Buying a Home </a
      ><i class="fa fa-angle-right"></i>
      <a
        [routerLink]="['/app/first-time-home-buyer']"
        class="text-decoration-none"
      >
        First-time Home Buyers
      </a>
    </section>
  </div>

  <div class="container text-justify mb-4">
    <h5 class="text-secondary">Know About</h5>
    <h2 class="font-weight-bold text-primary mb-2">First time Home Buyers</h2>
    <p class="">
      Purchasing your first home is an exciting experience and one of the most
      important events that will ever happen in your life. It can also be
      confusing and even stressful at times. After all, you’re making a decision
      that will affect your life, your family and your finances for many years
      to come. How can you know if you’re making the right choice? Especially
      about a mortgage if you’re a first time home buyer?<br />
      Because you are new to the home buying process, you may not even be aware
      that there are a number of programs for first time home buyers in
      California. These programs, backed by the California Housing Finance
      Agency, have been specifically designed to help people just like you
      realize their dream of owning their own homes.
    </p>
    <p class="">
      With EZ Online Mortgage, you don’t have to figure these things out on your
      own. Our experts have many years of experience in the mortgage industry,
      particularly when it comes to first-time buyers. We’ll be there to walk
      you through the entire process – from start to finish – and help you get
      into the mortgage – and the home – that’s perfect for you.
    </p>

    <ng-container *ngIf="visible">
      <div>
        <p>
          Your dedicated mortgage consultant will work with you to determine
          precisely what your budget and needs are. Then we’ll present you with
          some of the best first time home buyer loans California has to offer.
          Best of all, we’ll do all the legwork so you can focus on searching
          for the house of your dreams. With the right team in your corner,
          buying your first home has never been easier! Get a free instant rate
          quote to get started! .
        </p>
        <h2 class="font-weight-bold text-primary mb-2">
          Programs For First Time Home Buyer Program California
        </h2>
        <p>
          Everyone deserves the opportunity to own their own home. To help
          facilitate this, the state of California’s Housing Finance Agency
          (CalHFA) has developed a number of plans and assistance programs
          designed to help make the home buying experience more accessible to
          everybody.
        </p>
        <p>
          The programs for first time home buyers in California vary, based on
          eligibility and need. For instance, one program is designed to provide
          assistance with the down payment process. For many new homeowners,
          coming up with 20% of the purchase price is challenging. To make
          things a little easier, the state offers the option of taking out a
          deferred payment junior loan to cover a portion of the required down
          payment and/or closing costs.<br />
          Another first time home buyer loan program California residents may be
          eligible for is backed by the US government and features an attractive
          fixed interest rate as well as affordable payments. To find out
          whether you qualify for any of the first time home buyer loans
          California has to offer, contact us today. We’ll help you determine
          which programs you’re eligible for and get the ball rolling on the
          application process. It’s that easy!
        </p>
        <p>
          All you have to do is apply now to get started. Owning your own home
          is more attainable than ever. The dedicated team at EZ Online Mortgage
          can help get you there!
        </p>
        <h2 class="font-weight-bold text-primary mb-2">
          What are the Steps to a First Time Home Buyer Mortgage?
        </h2>
        <p>
          Getting started with the home buying process is easier than you may
          think – especially when you have the team of experts at EZ Online
          Mortgage in your corner. First, we’ll need to get a little information
          from you. This will help us determine if you’re eligible for a
          California program that offers first time home owner loans.
        </p>
        <p>
          As part of our commitment to helping you achieve your dreams, you’ll
          be assigned your very own dedicated mortgage consultant who will take
          the time to get to know you, understand what your needs are and what
          type of home you’re looking to purchase. Your representative will
          assist you with the application process and explain, in detail, the
          various programs for first time home buyers in California, including
          their features, terms and eligibility requirements.
        </p>
        <p>
          Once you’ve completed this first step, we’ll be able to start locating
          the available first time home buyer mortgage loans California is
          currently offering. You choose the loan that works for you and before
          you know it, you’ll be moving into your dream home.
        </p>
        <p>
          All it takes is partnering with the right mortgage
          professionals. Apply now and let EZ Online Mortgage handle the rest!
          Call or click to get started today!
        </p>
        <h2 class="font-weight-bold text-primary mb-2">
          The Power of Our Expertise:
        </h2>
        <p>
          If you qualify for one of the state’s first time buyer mortgage
          programs, we’ll get right to work searching for the best available
          first time home buyer mortgage rates that California has to offer.
          This is where working with a seasoned professional at EZ Online
          Mortgage will really pay off. Not only are we intimately familiar with
          these programs and with first time home buyer loan rates in
          California, but we also have access to some of the best lenders with
          the most attractive loan products available today.
        </p>
        <p>
          By taking the time to get to know you on an individual basis, your
          mortgage consultant will be able to match you with a home loan for
          first time buyers that meets all of your needs, including a
          competitive interest rate, affordable payments and terms that you can
          feel comfortable with. Our support doesn’t end there, either. Once
          you’ve applied and been pre approved for your mortgage, we’ll act as
          your dedicated intermediary, facilitating all the necessary
          transactions throughout the entire home buying process. We’ll work
          directly with your:
        </p>
        <ul>
          <li>Realtor</li>
          <li>Appraiser</li>
          <li>Credit Agency</li>
          <li>Lender</li>
          <li>Loan Underwriters</li>
          <li>Loan Processors</li>
          <li>Title and Escrow Company</li>
          <li>Attorneys</li>
        </ul>

        <p>
          Best of all, when you leave all the legwork to us, you will be able to
          focus on what’s most important: finding the home you’ve always dreamed
          of. To find out whether you’re eligible for any of the available
          programs for first time home buyer mortgages in California, simply
          apply now and we’ll take care of the rest. Buying your first home has
          never been easier!
        </p>
        <h2 class="font-weight-bold text-primary mb-2">
          Take Advantage of Today’s Interest Rates
        </h2>
        <p>
          One of the greatest benefits of the first time home owners loans
          California currently offers is the low interest rate these mortgages
          typically come with. In fact, the rates for these types of loans are
          at a record low. By locking into your first time buyer mortgage today,
          you’ll also lock in affordable payments that will make owning your own
          home easier than you ever thought possible. Simply get a free instant
          rate quote or use one of our convenient mortgage calculators to find
          out what your payments might look like. It’s that easy!
        </p>
        <p>
          But don’t wait – the time to act is now, before rates go up again.
          Apply now to see if you’re eligible for the first time home buyer loan
          rates offered in California and get on the path to home ownership
          today
        </p>
      </div>
    </ng-container>
    <a
      (click)="readmore()"
      class="text-uppercase text-secondary featanimbtn"
      role="button"
    >
      {{ ReadMore ? "Read More" : "Read
      Less" }}
      <i class="fas fa-long-arrow-alt-right"></i>
    </a>
  </div>

  <div class="container bg-section-light mb-4">
    <h5 class="text-secondary text-center pt-5">Know About</h5>
    <h3 class="font-weight-bold text-primary text-center">
      Want To Explore Your Options?
    </h3>
    <div class="row px-5 py-5">
      <div class="col-sm-6 mb-3">
        <div class="pre-box">
          <p class="text-white">
            At EZ Online, you can apply for a mortgage right from your laptop.
            Our simple online application lets you start and finish the process
            at your convenience, whenever you are ready.You don't have to talk
            to a loan officer--you can get our preliminary assessment of your
            eligibility right away using our high-speed technology.
          </p>
          <a
            [routerLink]="['/app/buy-a-home-loan-options-animated']"
            style="text-decoration: none"
          >
            <button class="btn btn-primary text-white text-uppercase">
              Apply Now
            </button>
          </a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="pre-box">
          <p class="text-white">
            If you would rather talk to a human than a computer,we
            understand.While we use the fatest and most up-to-date technology
            available,we also appreciate that a personal touch can sometime make
            a difference. You can talk to our friendly loan officers to ask
            about loan products and qualifications and ask all the question you
            want.
          </p>
          <a
            [routerLink]="['/app/buy-a-home-loan-options-animated']"
            style="text-decoration: none"
          >
            <button class="btn btn-primary text-white text-uppercase">
              Request a call <i class="fas fa-long-arrow-alt-right"></i>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>

  <section class="long-term text-center">
    <span
      class="text-white text-muted text-uppercase banner-scroll d-none d-lg-block position-absolute"
    >
      <a href="#section-submit">
        <i class="fa fa-long-arrow-left mr-4"></i>Get to Know Us</a
      >
    </span>

    <div class="container mx-auto px-2 px-md-4">
      <div class="d-flex align-items-center justify-content-center">
        <div class="col-lg-8">
          <video
            id="my_video_1"
            class="yimVideo video-js vjs-default-skin"
            style="width: 100%; height: 368px"
            height="368px"
            controls
            preload="none"
            data-setup='{ "aspectRatio":"630:360", "playbackRates": [1, 1.5, 2] }'
          >
            <source
              src="https://vjs.zencdn.net/v/oceans.mp4"
              type="video/mp4"
            />
            <source
              src="https://vjs.zencdn.net/v/oceans.webm"
              type="video/webm"
            />
          </video>
        </div>
        <img
          class="img-fluid img-poster"
          (click)="playVideo()"
          style="
            position: absolute;
            width: 794px;
            height: 368px;
            cursor: pointer;
          "
          src="assets/images/videoThumbnail.png"
        />
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h5 class="text-secondary">Know About</h5>
      <h2 class="text-primary">FAQ’s</h2>
      <div
        class="panel-group faq-panel"
        id="accordion"
        role="tablist"
        aria-multiselectable="true"
      >
        <div class="panel panel-default">
          <div class="panel-heading border-0" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a
                class="text-primary collapsed"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <i class="more-less fa fa-plus"></i>
                <i class="more-less fa fa-minus"></i>
                Does Pre-approval mean I am guaranteed to get a loan?
              </a>
            </h4>
          </div>
          <div
            id="collapseOne"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingOne"
          >
            <div class="panel-body">
              <p class="text-muted">
                Not necessarily. Pre-approval is a thorough investigation of
                your application for a mortgage loan. The result (if successful)
                will be a letter that indicates you are qualified for a mortgage
                at the amount you have requested. That doesn't always mean you
                will get final approval for the mortgage. Lots of other factors
                impact the mortgage approval process—the value of the home is
                key, as well as potential changes to your credit or employment
                status between pre-approval and final determination.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a
                class="collapsed text-primary"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                <i class="more-less fa fa-plus"></i>
                <i class="more-less fa fa-minus"></i>
                How can I improve my chances of getting approved?
              </a>
            </h4>
          </div>
          <div
            id="collapseTwo"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingTwo"
          >
            <div class="panel-body">
              <p class="text-muted">
                Great question. One smart move is to check your credit reports
                before you start the application. If there is any incorrect
                information, you can begin the process of getting it resolved.
                Also, don’t open or close any credit accounts if you can avoid
                it—those actions can cause a temporary decrease in your score.
                The other thing that helps is to give us as much information as
                possible—fill out everything completely.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a
                class="collapsed text-primary"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <i class="more-less fa fa-plus"></i>
                <i class="more-less fa fa-minus"></i>
                What are points on a loan?
              </a>
            </h4>
          </div>
          <div
            id="collapseThree"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingThree"
          >
            <div class="panel-body">
              <p class="text-muted">
                A point on a loan is a price the borrower pays to lower the
                interest rate. A lender may offer a loan with a specific
                interest rate and a one-point fee. The "point" equals one
                percent of the loan total, paid in advance. It might make sense
                to pay the point to bring down the interest rate, especially if
                you plan to remain in the home over a long period.
              </p>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
              <a
                class="collapsed text-primary"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                <i class="more-less fa fa-plus"></i>
                <i class="more-less fa fa-minus"></i>
                Are interest rates and points the only things to consider when
                choosing a lender?
              </a>
            </h4>
          </div>
          <div
            id="collapseFour"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingFour"
          >
            <div class="panel-body">
              <p class="text-muted">
                No. There are numerous factors to evaluate when choosing your
                lender. Reputation is essential, and the costs of applying and
                completing the mortgage process. Also, look out for questionable
                practices like pre-payment penalties, which means the lender
                will charge you a fee if you pay the loan off early or
                refinance.
              </p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
              <a
                class="collapsed text-primary"
                role="button"
                data-toggle="collapse"
                data-parent="#accordion"
                href="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                <i class="more-less fa fa-plus"></i>
                <i class="more-less fa fa-minus"></i>
                How do I get a rate lock?
              </a>
            </h4>
          </div>
          <div
            id="collapseFive"
            class="panel-collapse collapse"
            role="tabpanel"
            aria-labelledby="headingFive"
          >
            <div class="panel-body">
              <p class="text-muted">
                A rate lock promises that the lender can complete the processing
                of your loan with the interest rate and points available on a
                particular day. The "lock" is valid for a period of time—usually
                30 or 60 days. Sometimes you can lock in the rate just by asking
                while you navigate through the approval process. Depending on
                the loan program, you might have to pay a fee to guarantee the
                rate.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- panel-group -->
    </div>
  </section>

  <section class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center py-4">
          <div class="small-box m-auto">
            <img src="assets/images/monitor.png" />
          </div>
          <h3 class="text-primary font-weight-bold mt-4">Apply Now</h3>
        </div>
        <div class="col-sm-4 text-center py-4">
          <div class="small-box m-auto">
            <img src="assets/images/smartphone-call.png" />
          </div>
          <h3 class="text-primary font-weight-bold mt-4">Start Online</h3>
        </div>
        <div class="col-sm-4 text-center py-4">
          <div class="small-box m-auto">
            <img src="assets/images/messaging.png" />
          </div>
          <h3 class="text-primary font-weight-bold mt-4">Chat Now</h3>
        </div>
      </div>
    </div>
  </section>
</main>
