<main>
  <section class="pt-3">
    <div class="container">
      <section class="page-order-sec py-2">
        <p class="m-0 text-muted">
          <a
            [routerLink]="['/app/home']"
            class="text-decoration-none text-primary"
            >Home </a
          ><i class="fa fa-angle-right"></i>
          <a
            [routerLink]="['/app/about-us']"
            class="text-decoration-none text-primary"
          >
            About Us
          </a>
          <i class="fa fa-angle-right"></i>
          <a
            [routerLink]="['/app/mortgage-glossary']"
            class="text-decoration-none text-muted"
          >
            Mortgage Glossary</a
          >
        </p>
      </section>
    </div>
    <div class="container pt-5">
      <h5 class="text-secondary font-weight-bold text-uppercase">
        Lorem Ipsum is simply
      </h5>
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">Mortgage Glossary</h3>
      </div>
    </div>
    <div class="container">
      <div class="form-group_custom form-group has-search">
        <span
          class="fa fa-search form-control-feedback form-control-feedback_custom"
        ></span>
        <input
          type="text"
          class="form-control pl-5 border border-muted"
          placeholder="Search Here..."
        />
      </div>
    </div>
    <div class="container">
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">2/1 Buy Down Mortgage</h3>
      </div>
      <p class="text-muted pr-6-md">
        The 2/1 Buy Down Mortgage allows the borrower to qualify at below market
        rates so they can borrow more. The initial starting interest rate
        increases by 1% at the end of the first year and adjusts again by
        another 1% at the end of the second year. It then remains at a fixed
        interest rate for the remainder of the loan term. Borrowers often
        refinance at the end of the second year to obtain the best long term
        rates; however, even keeping the loan in place for three full years or
        more will keep their average interest rate in line with the original
        market conditions.
      </p>
    </div>
    <div class="container py-md-3 py-lg-3">
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">Acceleration Clause</h3>
      </div>
      <p class="text-muted pr-6-md">
        Provision in a mortgage that allows the lender to demand payment of the
        entire principal balance if a monthly payment is missed or some other
        default occurs.
      </p>
    </div>
    <div class="container py-md-3 py-lg-3">
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">
          Additional Principal Payment
        </h3>
      </div>
      <p class="text-muted pr-6-md">
        A way to reduce the remaining balance on the loan by paying more than
        the scheduled principal amount due.
      </p>
    </div>
    <div class="container py-md-3 py-lg-3">
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">
          Adjustable-Rate Mortgage (ARM)
        </h3>
      </div>
      <p class="text-muted pr-6-md">
        A mortgage with an interest rate that changes during the life of the
        loan according to movements in an index rate. Sometimes called AMLs
        (adjustable mortgage loans) or VRMs (variable-rate mortgages).
      </p>
    </div>
    <div class="container py-md-3 py-lg-3">
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">Adjusted Basis</h3>
      </div>
      <p class="text-muted pr-6-md">
        The cost of a property plus the value of any capital expenditures for
        improvements to the property minus any depreciation taken.
      </p>
    </div>
    <div class="container py-md-3 py-lg-3">
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">Adjustment Date</h3>
      </div>
      <p class="text-muted pr-6-md">
        The date that the interest rate changes on an adjustable-rate mortgage
        (ARM).
      </p>
    </div>
    <div class="container py-md-3 py-lg-3">
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">Adjustment Period</h3>
      </div>
      <p class="text-muted pr-6-md">
        The period elapsing between adjustment dates for an adjustable-rate
        mortgage (ARM).
      </p>
    </div>
    <div class="container py-md-3 py-lg-3">
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">
          Affordability Analysis
        </h3>
      </div>
      <p class="text-muted pr-6-md">
        An analysis of a buyers ability to afford the purchase of a home.
        Reviews income, liabilities, and available funds, and considers the type
        of mortgage you plan to use, the area where you want to purchase a home,
        and the closing costs that are likely.
      </p>
    </div>
    <div class="container py-md-3 py-lg-3">
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">Amortization</h3>
      </div>
      <p class="text-muted pr-6-md">
        The gradual repayment of a mortgage loan, both principal and interest,
        by installments.
      </p>
    </div>
    <div class="container py-md-4 py-lg-4">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a
              class="page-link bg-gradient-dark text-white"
              href="#"
              tabindex="-1"
              ><i class="fa fa-arrow-left"></i
            ></a>
          </li>
          <li class="page-item mx-md-2 mx-lg-2">
            <a class="page-link border border-warning text-primary" href="#"
              >1</a
            >
          </li>
          <li class="page-item mx-md-2 mx-lg-2">
            <a class="page-link text-muted" href="#">2</a>
          </li>
          <li class="page-item mx-md-2 mx-lg-2">
            <a class="page-link text-muted" href="#">3</a>
          </li>
          <li class="page-item mx-md-2 mx-lg-2">
            <a class="page-link text-muted" href="#">4</a>
          </li>

          <li class="page-item">
            <a class="page-link bg-primary text-white" href="#"
              ><i class="fa fa-arrow-right"></i
            ></a>
          </li>
        </ul>
      </nav>
    </div>
  </section>
</main>
