form p {
  margin-bottom: 0px;
}
.slide-value-usd {
  margin-top: -33px;
  float: left;
  margin-left: 12px;
}
.slide-value-percent {
  position: relative;
  bottom: 74px;
  width: 55px;
  left: 26px;
  float: right;
  color: black;
  font-size: 20px;
  background: none;
  top: -36px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-image: none !important;
}
.results-table tr > td {
  border: 1px solid grey;
  padding: 5px;
}
