<div class="main-content">
  <h2>Almost done! Just a few yes or no questions</h2>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>Will you occupy the property as your primary residence?</p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>
            have you had an ownership interest in another property in the last
            three years?
          </p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>
            Do you have a family relationship or business affiliation with the
            seller of the property?
          </p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>
            Are you borrowing any money for this real estate transaction (e.g.,
            money for your closing costs or down payment) or obtaining any money
            from another party, such as the seller or realtor, that you have not
            disclosed on this loan application?
          </p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>
            Have you or will you be applying for any new credit (e.g.,
            installment loan, credit card, etc.) on or before closing this loan
            that is not disclosed on this application?
          </p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>
            Will this property be subject to a lien that could take priority
            over the first mortgage lien, such as a clean energy lien paid
            through your property taxes (e.g., the Property Assessed Clean
            Energy Program)?
          </p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>
            Are you a co-signer or guarantor on any debt or loan that is not
            disclosed on this application?
          </p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>Are there any outstanding judgments against you?</p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>Are you currently delinquent or in default on a Federal debt?</p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>
            Are you a party to a lawsuit in which you potentially have any
            personal financial liability?
          </p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>
            Have you conveyed title to any property in lieu of foreclosure in
            the past 7 years?
          </p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>
            Within the past 7 years, have you completed a pre-foreclosure sale
            or short sale, whereby the property was sold to a third party and
            the Lender agreed to accept less than the outstanding mortgage
            balance due?
          </p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>Have you had property foreclosed upon in the last 7 years?</p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="yes-no-area">
    <div class="row">
      <div class="col-md-9">
        <div class="questions">
          <p>Have you declared bankruptcy within the past 7 years?</p>
        </div>
      </div>
      <div class="col-md-3 right-align">
        <div class="answers">
          <button type="button" class="btn" id="btn-yes-no">Yes</button>
          <button type="button" class="btn" id="btn-yes-no">No</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <select class="form-select form-style">
        <option>-What is your citizenship status?-</option>
      </select>
    </div>
  </div>

  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <button type="button" class="btn" id="btn-back">Back</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn" id="btn-next">Next</button>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a href="">Log in</a></p>
    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
