<div class="main-content">
  <h2>
    Our sinccere thanks for your service. What’s your current militery status?
  </h2>

  <div class="button-list col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12">
    <button type="button" class="btn btn-primary btn-style">Active Duty</button>
    <button type="button" class="btn btn-primary btn-style">
      Reserves / National Guard
    </button>
    <button type="button" class="btn btn-primary btn-style">
      Surviving Spouse
    </button>
    <button type="button" class="btn btn-primary btn-style">
      Retired / Discharged
    </button>

    <div class="row">
      <div class="col-md-12">
        <button type="button" class="btn" id="btn-back">Back</button>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a href="">Log in</a></p>
    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
