<header>
  <nav class="navbar navbar-dark bg-primary navbar-expand-lg p-0">
    <div class="container px-0">
      <div class="d-flex mx-3 mx-sm-0 px-lg-0 w-100">
        <a class="navbar-brand" [routerLink]="['/app/home']">
          <img src="assets/images/head-logo-blue.svg" alt="" />
        </a>
        <div
          class="w-100 text-right d-flex flex-column responsive-menu d-lg-none mt-1"
        >
          <div class="d-lg-none mobileSearch">
            <strong class="text-black toptext">
              <a href="tel:800930-8195" class="text-orange">
                <img src="assets/images/phone-dark.png" alt="" />
              </a>
            </strong>
            <strong class="text-black toptext">
              <a
                href="mailto:ezonlinemortgage@support.com"
                class="text-orange toptext"
              >
                <img src="assets/images/@file-dark.png" alt=""
              /></a>
            </strong>
          </div>
        </div>
        <div
          class="align-self-stretch d-flex flex-column ml-auto overflow-auto"
        >
          <div
            class="align-items-center d-lg-flex d-none justify-content-end mt-3 text-right w-100"
          >
            <strong class="text-black toptext"
              ><img src="assets/images/phone-dark.png" alt="" /><a
                href="tel:800930-8195"
                class="text-black"
                >(800) 930-8195</a
              ></strong
            >
            <a
              href="mailto:ezonlinemortgage@support.com"
              class="text-black cls toptext"
              ><img src="assets/images/@file-dark.png" alt="" /> Email Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
