<footer>
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-lg-3 text-center">
          <img
            src="assets/images/footerlogo.svg"
            class="footer-img img-fluid mb-5 mb-lg-0"
            alt=""
          />
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-6 col-xl-3 col-sm-6">
              <h2 class="footer-header">Popular Links</h2>
              <ul class="footer-links">
                <li>
                  <a [routerLink]="['/app/buying-home-guide']"
                    >Buying A Home
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/app/moving-and-buying-home']"
                    >Moving And Buying A Home</a
                  >
                </li>
                <li>
                  <a [routerLink]="['/app/refinance-investment-property']"
                    >Refinance</a
                  >
                </li>
                <li>
                  <a [routerLink]="['/app/consolidate-your-debt']">
                    Consolidate Your Debt</a
                  >
                </li>
                <li>
                  <a [routerLink]="['/app/get-cash-from-home']"
                    >Get Cash From Your Home</a
                  >
                </li>
                <li>
                  <a [routerLink]="['/app/refinance-with-harp']"
                    >Refinance With Harp 2.0
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/app/first-time-home-buyer']">Apply Now</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-xl-3 col-sm-6">
              <h2 class="footer-header text-capitalize">Resources</h2>
              <ul class="footer-links">
                <li>
                  <a [routerLink]="['/app/thirty-year-fixed-mortgag']"
                    >Mortgage Check List
                  </a>
                </li>
                <li>
                  <a [routerLink]="['/app/current-home-loan-rates']"
                    >Check Loan Status</a
                  >
                </li>
                <li>
                  <a [routerLink]="['/app/refinance-free-consultation']"
                    >Free Consultation</a
                  >
                </li>
                <li>
                  <a [routerLink]="['/app/thirty-year-fixed-mortgag']"
                    >Mortgage Rates</a
                  >
                </li>
                <li>
                  <a [routerLink]="['/app/pre-approval']">Pre Approval</a>
                </li>
                <li>
                  <a [routerLink]="['/app/view-all-calculators']"
                    >View All Calculators</a
                  >
                </li>
                <li>
                  <a [routerLink]="['/app/mortgage-glossary']"
                    >Mortgage Glossary</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-xl-2 col-sm-6">
              <h2 class="footer-header text-capitalize">About Us</h2>
              <ul class="footer-links">
                <li>
                  <a [routerLink]="['/app/about-us']">Careers</a>
                </li>
                <li>
                  <a [routerLink]="['/app/license-info']">Licensing</a>
                </li>
                <li>
                  <a [routerLink]="['/app/contact-us']">Contact Us</a>
                </li>
                <li>
                  <a [routerLink]="['/app/loan-options']">Loan Options</a>
                </li>
                <li>
                  <a [routerLink]="['/app/contact-us']">Feed Back</a>
                </li>
                <li>
                  <a [routerLink]="['/app/contact-us']">Sitemap</a>
                </li>
                <li>
                  <a [routerLink]="['/app/request-a-mortgage']"
                    >Request A Mortage</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-lg-6 col-xl-4 col-sm-6">
              <h2 class="footer-header">Contact</h2>
              <h2 class="text-white clmc">
                California Leading<br />Mortgage Company
              </h2>

              <div class="phCall text-white">
                <i class="fa fa-phone bg-info rounded-circle"></i>
                <a href="tel:8009308195" class="text-decoration-none text-white"
                  ><span>(800) 930-8195</span></a
                >
              </div>

              <ul
                class="d-flex d-inline-block footer-links footer-social justify-content-xl-around"
              >
                <li style="margin-left: 0px">
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-pinterest-p"></i></a>
                </li>
                <li>
                  <a href=""><i class="fab fa-youtube"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="bg-light my-0" />
    <div class="footer-bottom">
      <div class="row">
        <div class="col-12 text-center">
          <div
            class="copyright d-flex flex-column flex-lg-row justify-content-center"
          >
            Copyright @ 2014-2022
            <ul
              class="d-flex d-inline-block list-unstyled ml-2 justify-content-center mb-0 footer-links"
            >
              <li class="mx-1"><a href="">EZ Online Morgage</a></li>
              |
              <li class="mx-1"><a href="">Terms And Condition</a></li>
              |
              <li class="mx-1"><a href="">Privacy Policy</a></li>
            </ul>
          </div>
          <div
            class="text-center text-white copyright d-flex justify-content-center"
          >
            NMLS # 362311 |
            <ul class="footer-links ml-1">
              <li>
                <a href="">Consumer Access Site</a>
              </li>
            </ul>
          </div>

          <div class="text-center mt-3">
            <img src="assets/images/footerimg1.svg" alt="" />
            <img
              src="assets/images/footerimg2.svg"
              class="ml-2"
              alt=""
              style="border-radius: 5px"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
