.navbar .has-megamenu {
  position: static !important;
}
.navbar .megamenu {
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  .megamenu {
    width: 100%;
    overflow: hidden;
    margin: 0 -150px 0 -150px;
  }
}

nav {
  z-index: 11 !important;
}
a.text-white {
  color: #ffffff !important;
}
