.form-group {
  margin-bottom: 5px !important;
}
.left-value-usd {
  margin-top: -32px;
  position: absolute;
  margin-left: 10px;
}
.form-group.usd input {
  padding-left: 20px;
}
.right-value-percentage {
  margin-top: -32px;
  position: absolute;
  right: 22px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cursor-pointer:hover {
  cursor: pointer;
}
.heading-text {
  background: #10107a;
  color: #fff;
  padding: 5px 10px;
}
