<section>
  <div class="container-fluid p-0">
    <div class="all_content">
      <h1 class="main_heading mb-4">Let’s Get Started!</h1>
      <div class="content p-4 bg-white">
        <h2 class="bold_text text-dark m-0">
          Choose an option below to let us know what you are interested in doing
        </h2>
        <div class="button_grp my-4">
          <button
            class="btn dark_btn text-white"
            (click)="navigateToLoanProcess()"
          >
            Refinance my mortgage
          </button>
          <button
            class="btn outline_btn ml-4"
            (click)="navigateToLoanProcess()"
          >
            purchase a home
          </button>
        </div>
        <p class="bold_text text-dark">
          Not ready yet? call us directly at
          <span class="orange_text">1-(800) 930-8195</span>, or
          <span class="orange_text">view our rates</span>
        </p>
      </div>
    </div>
  </div>
</section>
