<main>
  <div class="container">
    <section class="page-order-sec py-3">
      <p class="m-0 text-muted">
        <a
          [routerLink]="['/app/home']"
          class="text-decoration-none text-primary"
          >Home </a
        ><i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/about-us']"
          class="text-decoration-none text-primary"
        >
          About Us
        </a>
        <i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/license-info']"
          class="text-decoration-none text-muted"
        >
          License Info</a
        >
      </p>
    </section>
  </div>
  <section class="pt-5">
    <span
      class="text-white text-muted text-uppercase banner-scroll d-none d-lg-block"
      style="left: 2%; margin-top: -200px"
    >
      <a href="#section_link" target="_self">
        <i class="fa fa-long-arrow-left mr-4"></i>Get to Know Us</a
      >
    </span>
    <div class="container">
      <h5 class="text-secondary font-weight-bold">AUTHENTICITY</h5>
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">License Info</h3>
      </div>
    </div>
    <div class="container px-md-5 px-lg-5 d-lg-block mt-md-5 mt-lg-5">
      <div
        class="container border border-primary p-0"
        style="border: 5px solid #091a52 !important"
      >
        <img
          class="d-lg-block w-100 h-100"
          src="assets/images/licenseInfo.png"
          alt=""
        />
      </div>
    </div>
  </section>
  <section class="pt-1 pb-1">
    <div class="container">
      <p class="text-muted">
        Loan applications are limited to the following states.
      </p>
    </div>
  </section>
  <section class="pt-2">
    <div class="container">
      <table class="table table-bordered">
        <thead class="thead-primary">
          <tr class="table-primary_custom text-white">
            <th scope="col">State</th>
            <th scope="col">License Number</th>
            <th scope="col">Expiration Date</th>
            <th scope="col">Disclosure</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>CALIFORNIA</b></td>
            <td>01449006</td>
            <td>02/06/22</td>
            <td class="text-warning">YES</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container mt-5">
      <hr class="my-2 border-muted_custom p-0" />
    </div>
    <div class="container pt-4" id="section_link">
      <h5 class="font-weight-bold m-0 text-primary">
        <a href="##" class="text-underline" style="color: #091a52"
          >NMLS Company ID: 362311
        </a>
        <small class="h5 text-muted pl-md-2 pl-lg-2 pl-sm-0">
          <i class="fa fa-external-link text-muted"></i>
        </small>
      </h5>
    </div>
  </section>
</main>
