<main>
  <div class="container">
    <section class="page-order-sec py-3">
      <p class="m-0 text-muted">
        <a
          [routerLink]="['/app/home']"
          class="text-decoration-none text-primary"
          >Home </a
        ><i class="fa fa-angle-right"></i>
        <a [routerLink]="['/app/blog']" class="text-decoration-none text-muted">
          Blogs
        </a>
      </p>
    </section>
  </div>

  <section>
    <div class="container">
      <h5 class="text-secondary font-weight-bold">Know About</h5>
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">Blogs</h3>

        <div class="blog-search-section d-flex">
          <span class="p-1 btn b-search btn-primary"
            ><img src="assets/images/search.svg" alt=""
          /></span>
          <div class="blog-search float-right">
            <input
              type="text"
              name="search"
              class="form-control"
              placeholder="Search.."
            />
          </div>
        </div>
      </div>
      <p class="text-muted">
        Shopping for a new home involves a lot of important things. You’ve got
        to line up a realtor, sift through listings, narrow down your choices
        and set up viewings. Perhaps the most important step in purchasing a new
        home is getting mortgage loan preapproval. Doing so provides insight
        into the price range of homes you might qualify for. It also
        demonstrates to sellers that you’re serious about making a purchase.
      </p>

      <div class="row">
        <div class="col-md-8 col-lg-8">
          <div class="row">
            <div class="col-sm-6 form-group">
              <div class="blog-box">
                <a href="blogs.html" class="link-unstyled">
                  <img src="assets/images/hh1.png" class="img-fluid w-100" />

                  <div class="p-3">
                    <h5 class="text-primary font-weight-bold">
                      Tap Into Your Equity
                    </h5>
                    <div>
                      <img
                        src="assets/images/calendar.png"
                        class="mr-2 cursor-pointer"
                      />
                      <p class="d-inline-block text-muted f12">
                        September 18, 2020
                      </p>
                    </div>
                    <p class="text-muted">
                      You’ll pay off your mortgage in 30 years. Although you’ll
                      pay more interest over the life of the loan compared to a
                      15-year…
                    </p>
                    <a
                      href="blogs.html"
                      class="text-uppercase text-secondary featanimbtn"
                      >READ MORE <i class="fas fa-long-arrow-alt-right ml-2"></i
                    ></a>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <div class="blog-box">
                <a href="blogs.html" class="link-unstyled">
                  <img src="assets/images/hh1.png" class="img-fluid w-100" />
                  <div class="p-3">
                    <h5 class="text-primary font-weight-bold">
                      Tap Into Your Equity
                    </h5>
                    <div>
                      <img
                        src="assets/images/calendar.png"
                        class="mr-2 cursor-pointer"
                      />
                      <p class="d-inline-block text-muted f12">
                        September 18, 2020
                      </p>
                    </div>
                    <p class="text-muted">
                      You’ll pay off your mortgage in 30 years. Although you’ll
                      pay more interest over the life of the loan compared to a
                      15-year…
                    </p>
                    <a
                      href="blogs.html"
                      class="text-uppercase text-secondary featanimbtn"
                      >READ MORE <i class="fas fa-long-arrow-alt-right ml-2"></i
                    ></a>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <div class="blog-box">
                <a href="blogs.html" class="link-unstyled">
                  <img src="assets/images/hh1.png" class="img-fluid w-100" />
                  <div class="p-3">
                    <h5 class="text-primary font-weight-bold">
                      Tap Into Your Equity
                    </h5>
                    <div>
                      <img
                        src="assets/images/calendar.png"
                        class="mr-2 cursor-pointer"
                      />
                      <p class="d-inline-block text-muted f12">
                        September 18, 2020
                      </p>
                    </div>
                    <p class="text-muted">
                      You’ll pay off your mortgage in 30 years. Although you’ll
                      pay more interest over the life of the loan compared to a
                      15-year…
                    </p>
                    <a
                      href="blogs.html"
                      class="text-uppercase text-secondary featanimbtn"
                      >READ MORE <i class="fas fa-long-arrow-alt-right ml-2"></i
                    ></a>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <div class="blog-box">
                <a href="blogs.html" class="link-unstyled">
                  <img src="assets/images/hh1.png" class="img-fluid w-100" />
                  <div class="p-3">
                    <h5 class="text-primary font-weight-bold">
                      Tap Into Your Equity
                    </h5>
                    <div>
                      <img
                        src="assets/images/calendar.png"
                        class="mr-2 cursor-pointer"
                      />
                      <p class="d-inline-block text-muted f12">
                        September 18, 2020
                      </p>
                    </div>
                    <p class="text-muted">
                      You’ll pay off your mortgage in 30 years. Although you’ll
                      pay more interest over the life of the loan compared to a
                      15-year…
                    </p>
                    <a
                      href="blogs.html"
                      class="text-uppercase text-secondary featanimbtn"
                      >READ MORE <i class="fas fa-long-arrow-alt-right ml-2"></i
                    ></a>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <div class="blog-box">
                <a href="blogs.html" class="link-unstyled">
                  <img src="assets/images/hh1.png" class="img-fluid w-100" />
                  <div class="p-3">
                    <h5 class="text-primary font-weight-bold">
                      Tap Into Your Equity
                    </h5>
                    <div>
                      <img
                        src="assets/images/calendar.png"
                        class="mr-2 cursor-pointer"
                      />
                      <p class="d-inline-block text-muted f12">
                        September 18, 2020
                      </p>
                    </div>
                    <p class="text-muted">
                      You’ll pay off your mortgage in 30 years. Although you’ll
                      pay more interest over the life of the loan compared to a
                      15-year…
                    </p>
                    <a
                      href="blogs.html"
                      class="text-uppercase text-secondary featanimbtn"
                      >READ MORE <i class="fas fa-long-arrow-alt-right ml-2"></i
                    ></a>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <div class="blog-box">
                <a href="blogs.html" class="link-unstyled">
                  <img src="assets/images/hh1.png" class="img-fluid w-100" />
                  <div class="p-3">
                    <h5 class="text-primary font-weight-bold">
                      Tap Into Your Equity
                    </h5>
                    <div>
                      <img
                        src="assets/images/calendar.png"
                        class="mr-2 cursor-pointer"
                      />
                      <p class="d-inline-block text-muted f12">
                        September 18, 2020
                      </p>
                    </div>
                    <p class="text-muted">
                      You’ll pay off your mortgage in 30 years. Although you’ll
                      pay more interest over the life of the loan compared to a
                      15-year…
                    </p>
                    <a
                      href="blogs.html"
                      class="text-uppercase text-secondary featanimbtn"
                      >READ MORE <i class="fas fa-long-arrow-alt-right ml-2"></i
                    ></a>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col"></div>
            <div class="col">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">4</a></li>
                  <li class="page-item"><a class="page-link" href="#">5</a></li>
                  <li class="page-item"><a class="page-link" href="#">6</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col"></div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 offset-lg-1">
          <div class="primary-box mb-3 p-4 rounded">
            <h4 class="font-weight-bold text-primary mb-5">
              Find answers quickly online
            </h4>
            <a href="" class="text-uppercase text-secondary featanimbtn"
              >GET STARTED <i class="fas fa-long-arrow-alt-right ml-2"></i
            ></a>
          </div>
          <div class="secondary-box text-center p-4 mb-3 rounded">
            <h4 class="text-primary font-weight-normal mb-5">
              Talk to a Home Loan Expert
            </h4>
            <button class="btn btn-secondary text-white text-uppercase">
              talk now
            </button>
          </div>

          <h5 class="text-primary">Featured</h5>

          <div class="feature-box mb-2">
            <img src="assets/images/finance.png" class="mb-3" />
            <h6 class="text-primary font-weight-bold">
              Purchase Your Dream<br />
              Home
            </h6>
            <p class="f11 text-muted">September 18, 2020</p>
          </div>
          <div class="feature-box mb-2">
            <img src="assets/images/f2.png" class="mb-3" />
            <h6 class="text-primary font-weight-bold">
              Purchase Your Dream<br />
              Home
            </h6>
            <p class="f11 text-muted">September 18, 2020</p>
          </div>
          <div class="feature-box mb-2">
            <img src="assets/images/f3.png" class="mb-3" />
            <h6 class="text-primary font-weight-bold">
              Purchase Your Dream<br />
              Home
            </h6>
            <p class="f11 text-muted">September 18, 2020</p>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-4">
          <h4 class="text-primary font-weight-bold">Intro to Home Buying</h4>
          <ul class="list-unstyled arrow-list pl-3">
            <li>
              <a href="#">Can You Refinance, and Does It Make Sense?</a>
            </li>
            <li><a href="#">The Basics of Refinancing Your Home</a></li>
            <li><a href="#">Exploring Your Refinance Options</a></li>
            <li><a href="#">Read Top Articles About Refinancing</a></li>
            <li><a href="#">Can You Refinance, and Does It Make Sense?</a></li>
            <li><a href="#">The Basics of Refinancing Your Home</a></li>
            <li><a href="#">Exploring Your Refinance Options</a></li>
            <li><a href="#">Read Top Articles About Refinancing</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h4 class="text-primary font-weight-bold">Intro to Home Buying</h4>
          <ul class="list-unstyled arrow-list pl-3">
            <li>
              <a href="#">Can You Refinance, and Does It Make Sense?</a>
            </li>
            <li><a href="#">The Basics of Refinancing Your Home</a></li>
            <li><a href="#">Exploring Your Refinance Options</a></li>
            <li><a href="#">Read Top Articles About Refinancing</a></li>
            <li><a href="#">Can You Refinance, and Does It Make Sense?</a></li>
            <li><a href="#">The Basics of Refinancing Your Home</a></li>
            <li><a href="#">Exploring Your Refinance Options</a></li>
            <li><a href="#">Read Top Articles About Refinancing</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h4 class="text-primary font-weight-bold">Intro to Home Buying</h4>
          <ul class="list-unstyled arrow-list pl-3">
            <li>
              <a href="#">Can You Refinance, and Does It Make Sense?</a>
            </li>
            <li><a href="#">The Basics of Refinancing Your Home</a></li>
            <li><a href="#">Exploring Your Refinance Options</a></li>
            <li><a href="#">Read Top Articles About Refinancing</a></li>
            <li><a href="#">Can You Refinance, and Does It Make Sense?</a></li>
            <li><a href="#">The Basics of Refinancing Your Home</a></li>
            <li><a href="#">Exploring Your Refinance Options</a></li>
            <li><a href="#">Read Top Articles About Refinancing</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>
