<main>
  <div class="container">
    <section class="page-order-sec py-3">
      <p class="m-0 text-muted">
        <a
          [routerLink]="['/app/home']"
          class="text-decoration-none text-primary"
          >Home </a
        ><i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/about-us']"
          class="text-decoration-none text-primary"
        >
          About Us
        </a>
        <i class="fa fa-angle-right"></i>
        <a
          [routerLink]="['/app/request-a-mortgage']"
          class="text-decoration-none text-muted"
        >
          Request A Mortgage</a
        >
      </p>
    </section>
  </div>
  <section>
    <span
      class="text-white text-muted text-uppercase banner-scroll d-none d-lg-block"
      style="left: 2%; margin-top: -200px"
    >
      <a href="#Join-us" target="_self">
        <i class="fa fa-long-arrow-left mr-4"></i>Get to Know Us</a
      >
    </span>
    <div class="container">
      <h5 class="text-secondary font-weight-bold">MORTGAGAE INFO</h5>
      <div class="align-items-center d-flex justify-content-between mb-4">
        <h3 class="font-weight-bold m-0 text-primary">Request A Mortgage</h3>
      </div>
      <p class="text-muted pr-6-md">
        With years of experience in the industry, our dedicated staff, and a
        commitment to the highest levels of care and customer service, EZ Online
        Mortgage is the natural choice for your mortgage loan. It’s little
        wonder that we are one of the most reputable mortgage brokerage firms in
        California. With virtual offices all over California, free online tools,
        free consultations for all clients, and 24/7 customer service, we bring
        you the best of the best.
        <br /><br />
        Don’t wait another moment to save hundreds or thousands of dollars per
        month. Apply for a mortgage today! Get started in the loan process by
        completing our short loan application below. This secure pre qualifying
        form does require your Social Security Number, and your information is
        never sold or shared with any third party company.
      </p>
      <button class="btn btn-secondary text-white text-uppercase">
        Request A Mortgage
      </button>
    </div>
  </section>
</main>
