@import url("../style.css");
.fa {
  margin-right: 10px;
}
#Fn {
  background-color: #ffffff;
  border: 1px solid #f47741 !important;
}
#Ln {
  background-color: #ffffff;
  border: 1px solid #f47741 !important;
}
::placeholder {
  color: #f47741;
  opacity: 1;
}
#first_name {
  margin-top: 100px !important;
  max-width: 80%;
  margin: 0 auto;
}
#last_name {
  margin-top: 30px !important;
  max-width: 80%;
  margin: 0 auto;
}
.co-borrower {
  margin-top: -44px;
  font-size: 20px;
}
.pb-5 {
  font-size: 50px;
}
.invalid-feedback {
  padding: 5px;
}

#Fn {
  padding: 28px;
  width: 100%;
}

#Ln {
  padding: 28px;
  width: 100%;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  #first_name {
    margin-top: 100px !important;
    max-width: 80%;
    margin: 0 auto;
  }
  #last_name {
    margin-top: 30px !important;
    max-width: 80%;
    margin: 0 auto;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  #first_name {
    margin-top: 100px !important;
    max-width: 60%;
    margin: 0 auto;
  }
  #last_name {
    margin-top: 30px !important;
    max-width: 60%;
    margin: 0 auto;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  #first_name {
    margin-top: 100px !important;
    max-width: 100%;
    margin: 0 auto;
  }
  #last_name {
    margin-top: 30px !important;
    max-width: 100%;
    margin: 0 auto;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  #first_name {
    margin-top: 100px !important;
    max-width: 100%;
    margin: 0 auto;
  }
  #last_name {
    margin-top: 30px !important;
    max-width: 100%;
    margin: 0 auto;
  }
}
