<div class="main-content">
  <h2>Let's take a few seconds to review and confirm your info again.</h2>
  <div class="content-area">
    <div class="row">
      <div class="col-md-8">
        <h6>Borrower Information</h6>
      </div>
      <div class="col-md-4 right-align">
        <button type="button" class="btn" id="btn-edit">Edit</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="profile-details">
          <p>Employment type: W-2 Employment</p>
          <p>Employment Name: Goolge</p>
          <p>Address: 5500 balcones Drive</p>
          <p>City: Austin</p>
          <p>State: TX</p>
          <p>Zip Code: 78731</p>
          <p>Employer Start Date: 02/01/2015</p>
          <p>Job Title: Programer</p>
          <p>Estimated Annual Base Saleary: $125.000</p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="button-list margin-top col-lg-6 offset-lg-3 col-sm-12 col-xs-12 col-md-12"
  >
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <button type="button" class="btn" id="btn-back">Back</button>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn" id="btn-next">Next</button>
      </div>
    </div>
  </div>
  <div class="content-footer">
    <p>Already have an account | <a href="">Log in</a></p>
    <h5>You have Questions? <span>|</span> We’ll have answers.</h5>
  </div>
</div>
