<section class="pt-3">
  <div class="container-fluid p-0">
    <div class="full_content">
      <h1 class="top_heading mb-4">Our Loan Process</h1>
      <div class="contentt p-3">
        <h2 class="main_heading text-dark mb-3">Loan Process</h2>
        <h3 class="bold_text m-0">
          Curious about our loan process? These 7 steps will help summarize it
          for you!
        </h3>

        <hr class="" />

        <div class="d-flex d-flex align-items-center mb-2">
          <button class="btn step_btn py-2 px-3 mr-3">Step 1</button>
          <p class="bold_text m-0">Complete a Loan Application</p>
        </div>
        <p class="pera">
          Complete a short form loan application through our website, our talk
          to a licensed Mortgage Consultant directly by calling
          <span class="text_orange">1-(800) 930-8195</span>
        </p>
        <hr />

        <div class="d-flex d-flex align-items-center mb-2">
          <button class="btn step_btn py-2 px-3 mr-3">Step 2</button>
          <p class="bold_text m-0">We Will Contact You</p>
        </div>
        <p class="pera">
          We Will Assign your loan application to a licensed Mortgage Consultant
          who will guide you through the loan process and serve as point of
          contact for questions and concerns. Your consultant will also:
        </p>
        <ol class="order_list">
          <li>
            Review you loan application and answer questions about the process.
          </li>
          <li>
            Review your cradit history and submit your application through our
            automated underwritiong engine.
          </li>
          <li>Provide you with the “next step” in the loan process</li>
        </ol>

        <hr />
        <div class="d-flex d-flex align-items-center mb-2">
          <button class="btn step_btn py-2 px-3 mr-3">Step 3</button>
          <p class="bold_text m-0">Look an Interest Rate</p>
        </div>

        <p class="pera">
          If our automated underwriting engine issues an “Approved” decision
          (and you have received a purchase offer acceptance letter from the
          seller- if applicable) you are eligible to lock an interest rate
          online, or over the phone with your Mortgage Consultant.
        </p>

        <p class="pera">
          If your loan does not recevie an “Approved” decision, your Mortgage
          Consultant will contact you to discuss additional options.
        </p>

        <p class="pera">
          For more Information about our interest rates and policies please
          visit:
        </p>

        <ul class="unlist">
          <li>Today’s Interest Rates</li>
          <li>Our Rate Lock Policy</li>
          <li>New Loan FAQ’s</li>
        </ul>

        <hr />
        <div class="d-flex d-flex align-items-center mb-2">
          <button class="btn step_btn py-2 px-3 mr-3">Step 4</button>
          <p class="bold_text m-0">Submit an Appraisal Deposit</p>
        </div>

        <p class="pera">
          A property appraisal Deposit is requirad prior to processing yor loan
          application
        </p>
        <p class="pera">
          The deposit amount is $600.00 for conventional and super conforming
          loans, and is $850.00 for Jumbo loan products.
        </p>
        <p class="pera">
          You may submit the deposite electronically through your online account
          or by calling your Mortgage Consultant.
        </p>
        <hr />
        <div class="d-flex d-flex align-items-center mb-2">
          <button class="btn step_btn py-2 px-3 mr-3">Step 5</button>
          <p class="bold_text m-0">We will Process Your Loan</p>
        </div>

        <p class="pera">
          If our automated underwriting engine issues an “Approved” decision
          (and you have received a purchase offer acceptance letter from the
          seller- if applicable) you are eligible to lock an interest rate
          online, or over the phone with your Mortgage Consultant.
        </p>

        <p class="pera">
          If your loan does not recevie an “Approved” decision, your Mortgage
          Consultant will contact you to discuss additional options.
        </p>

        <p class="pera">
          For more Information about our interest rates and policies please
          visit:
        </p>
        <hr />

        <div class="d-flex d-flex align-items-center mb-2">
          <button class="btn step_btn py-2 px-3 mr-3">Step 6</button>
          <p class="bold_text m-0">Sign Loan Documents</p>
        </div>

        <p class="pera">
          If our automated underwriting engine issues an “Approved” decision
          (and you have received a purchase offer acceptance letter from the
          seller- if applicable) you are eligible to lock an interest rate
          online, or over the phone with your Mortgage Consultant.
        </p>

        <p class="pera">
          If your loan does not recevie an “Approved” decision, your Mortgage
          Consultant will contact you to discuss additional options.
        </p>
        <p class="pera">
          For more Information about our interest rates and policies please
          visit:
        </p>

        <hr />

        <div class="d-flex d-flex align-items-center mb-2">
          <button class="btn step_btn py-2 px-3 mr-3">Step 7</button>
          <p class="bold_text m-0">Funding your New Loan</p>
        </div>

        <p class="pera">
          If our automated underwriting engine issues an “Approved” decision
          (and you have received a purchase offer acceptance letter from the
          seller- if applicable) you are eligible to lock an interest rate
          online, or over the phone with your Mortgage Consultant.
        </p>
        <hr />
        <p class="pera">
          Congratulations! At this Point, your loan is Considered closed.
        </p>

        <button
          (click)="applyNow()"
          class="btn apply_btn text-white py-2 px-3 mt-3"
        >
          APPLY NOW
        </button>
      </div>
    </div>
  </div>
</section>
